NET "AD<0>" LOC = "V16" | IOSTANDARD = "LVTTL";
NET "AD<1>" LOC = "V15" | IOSTANDARD = "LVTTL";
NET "AD<2>" LOC = "V6" | IOSTANDARD = "LVTTL";
NET "AD<3>" LOC = "V5" | IOSTANDARD = "LVTTL";
NET "AD<4>" LOC = "T14" | IOSTANDARD = "LVTTL";
NET "AD<5>" LOC = "U13" | IOSTANDARD = "LVTTL";
NET "AD<6>" LOC = "U8" | IOSTANDARD = "LVTTL";
NET "AD<7>" LOC = "T7" | IOSTANDARD = "LVTTL";
NET "AD<8>" LOC = "V13" | IOSTANDARD = "LVTTL";
NET "AD<9>" LOC = "V12" | IOSTANDARD = "LVTTL";
NET "AD<10>" LOC = "V9" | IOSTANDARD = "LVTTL";
NET "AD<11>" LOC = "V8" | IOSTANDARD = "LVTTL";
NET "AD<12>" LOC = "U12" | IOSTANDARD = "LVTTL";
NET "AD<13>" LOC = "V11" | IOSTANDARD = "LVTTL";
NET "AD<14>" LOC = "V10" | IOSTANDARD = "LVTTL";
NET "AD<15>" LOC = "U9" | IOSTANDARD = "LVTTL";
NET "AD<16>" LOC = "W13" | IOSTANDARD = "LVTTL";
NET "AD<17>" LOC = "W12" | IOSTANDARD = "LVTTL";
NET "AD<18>" LOC = "Y5" | IOSTANDARD = "LVTTL";
NET "AD<19>" LOC = "W5" | IOSTANDARD = "LVTTL";
NET "AD<20>" LOC = "Y12" | IOSTANDARD = "LVTTL";
NET "AD<21>" LOC = "Y11" | IOSTANDARD = "LVTTL";
NET "AD<22>" LOC = "Y6" | IOSTANDARD = "LVTTL";
NET "AD<23>" LOC = "W6" | IOSTANDARD = "LVTTL";
NET "AD<24>" LOC = "W11" | IOSTANDARD = "LVTTL";
NET "AD<25>" LOC = "W10" | IOSTANDARD = "LVTTL";
NET "AD<26>" LOC = "Y7" | IOSTANDARD = "LVTTL";
NET "AD<27>" LOC = "W7" | IOSTANDARD = "LVTTL";
NET "AD<28>" LOC = "Y10" | IOSTANDARD = "LVTTL";
NET "AD<29>" LOC = "Y9" | IOSTANDARD = "LVTTL";
NET "AD<30>" LOC = "W9" | IOSTANDARD = "LVTTL";
NET "AD<31>" LOC = "W8" | IOSTANDARD = "LVTTL";
NET "AI<0>" LOC = "L19" | IOSTANDARD = "LVTTL";
NET "AI<1>" LOC = "M19" | IOSTANDARD = "LVTTL";
NET "ASI" LOC = "R17" | IOSTANDARD = "LVTTL";
NET "BERR" LOC = "U16" | IOSTANDARD = "LVTTL";
NET "BERRO" LOC = "V20" | IOSTANDARD = "LVTTL";
NET "BLTACK" LOC = "U17" | IOSTANDARD = "LVTTL";
NET "CAIV" LOC = "R19" | IOSTANDARD = "LVTTL";
NET "CKFNL" LOC = "B7" | IOSTANDARD = "LVTTL";
NET "CKFPL" LOC = "A7" | IOSTANDARD = "LVTTL";
NET "CON<0>" LOC = "F18" | IOSTANDARD = "LVTTL";
NET "CON<1>" LOC = "E18" | IOSTANDARD = "LVTTL";
NET "CON<2>" LOC = "C18" | IOSTANDARD = "LVTTL";
NET "CON<3>" LOC = "C19" | IOSTANDARD = "LVTTL";
NET "CON<4>" LOC = "F16" | IOSTANDARD = "LVTTL";
NET "CON<5>" LOC = "F17" | IOSTANDARD = "LVTTL";
NET "CON<6>" LOC = "D19" | IOSTANDARD = "LVTTL";
NET "CON<7>" LOC = "E19" | IOSTANDARD = "LVTTL";
NET "CON<8>" LOC = "G16" | IOSTANDARD = "LVTTL";
NET "CON<9>" LOC = "G17" | IOSTANDARD = "LVTTL";
NET "CON<10>" LOC = "E20" | IOSTANDARD = "LVTTL";
NET "CON<11>" LOC = "F20" | IOSTANDARD = "LVTTL";
NET "CON<12>" LOC = "H16" | IOSTANDARD = "LVTTL";
NET "CON<13>" LOC = "H17" | IOSTANDARD = "LVTTL";
NET "CON<14>" LOC = "F19" | IOSTANDARD = "LVTTL";
NET "CON<15>" LOC = "G19" | IOSTANDARD = "LVTTL";
NET "DI<0>" LOC = "N17" | IOSTANDARD = "LVTTL";
NET "DI<1>" LOC = "N18" | IOSTANDARD = "LVTTL";
NET "DI<2>" LOC = "N19" | IOSTANDARD = "LVTTL";
NET "DI<3>" LOC = "P16" | IOSTANDARD = "LVTTL";
NET "DI<4>" LOC = "P17" | IOSTANDARD = "LVTTL";
NET "DI<5>" LOC = "P19" | IOSTANDARD = "LVTTL";
NET "DI<6>" LOC = "P20" | IOSTANDARD = "LVTTL";
#NET "DOUT_LCD" LOC = "M16" | IOSTANDARD = "LVTTL";
NET "DS0I" LOC = "T19" | IOSTANDARD = "LVTTL";
NET "DS1I" LOC = "T20" | IOSTANDARD = "LVTTL";
NET "ECL<1>" LOC = "B15" | IOSTANDARD = "LVTTL";
NET "ECL<2>" LOC = "A15" | IOSTANDARD = "LVTTL";
NET "ECL<3>" LOC = "A16" | IOSTANDARD = "LVTTL";
NET "ECL<4>" LOC = "B16" | IOSTANDARD = "LVTTL";
NET "ECL<5>" LOC = "C15" | IOSTANDARD = "LVTTL";
NET "ECL<6>" LOC = "C16" | IOSTANDARD = "LVTTL";
NET "ECL<7>" LOC = "B17" | IOSTANDARD = "LVTTL";
NET "ECL<8>" LOC = "C17" | IOSTANDARD = "LVTTL";
NET "ECL<9>" LOC = "D16" | IOSTANDARD = "LVTTL";
NET "ECL<10>" LOC = "E16" | IOSTANDARD = "LVTTL";
NET "ECL<11>" LOC = "A18" | IOSTANDARD = "LVTTL";
NET "ECL<12>" LOC = "B18" | IOSTANDARD = "LVTTL";
NET "ECL<13>" LOC = "D17" | IOSTANDARD = "LVTTL";
NET "ECL<14>" LOC = "D18" | IOSTANDARD = "LVTTL";
NET "ECL<15>" LOC = "B19" | IOSTANDARD = "LVTTL";
NET "ECL<16>" LOC = "C20" | IOSTANDARD = "LVTTL";
NET "ECO<1>" LOC = "A5" | IOSTANDARD = "LVTTL";
NET "ECO<2>" LOC = "B5" | IOSTANDARD = "LVTTL";
NET "ECO<3>" LOC = "C6" | IOSTANDARD = "LVTTL";
NET "ECO<4>" LOC = "C5" | IOSTANDARD = "LVTTL";
NET "ECO<5>" LOC = "B4" | IOSTANDARD = "LVTTL";
NET "ECO<6>" LOC = "C4" | IOSTANDARD = "LVTTL";
NET "ECO<7>" LOC = "D5" | IOSTANDARD = "LVTTL";
NET "ECO<8>" LOC = "E5" | IOSTANDARD = "LVTTL";
NET "ECO<9>" LOC = "A3" | IOSTANDARD = "LVTTL";
NET "ECO<10>" LOC = "B3" | IOSTANDARD = "LVTTL";
NET "ECO<11>" LOC = "D4" | IOSTANDARD = "LVTTL";
NET "ECO<12>" LOC = "D3" | IOSTANDARD = "LVTTL";
NET "ECO<13>" LOC = "B2" | IOSTANDARD = "LVTTL";
NET "ECO<14>" LOC = "C1" | IOSTANDARD = "LVTTL";
NET "ECO<15>" LOC = "F3" | IOSTANDARD = "LVTTL";
NET "ECO<16>" LOC = "E3" | IOSTANDARD = "LVTTL";
NET "EN<1>" LOC = "M20" | IOSTANDARD = "LVTTL";
NET "EN<2>" LOC = "L20" | IOSTANDARD = "LVTTL";
NET "EN<3>" LOC = "M17" | IOSTANDARD = "LVTTL";
NET "EN<4>" LOC = "M18" | IOSTANDARD = "LVTTL";
NET "FLED<1>" LOC = "H20" | IOSTANDARD = "LVTTL";
NET "FLED<2>" LOC = "J15" | IOSTANDARD = "LVTTL";
NET "FLED<3>" LOC = "J16" | IOSTANDARD = "LVTTL";
NET "FLED<4>" LOC = "H18" | IOSTANDARD = "LVTTL";
NET "FLED<5>" LOC = "H19" | IOSTANDARD = "LVTTL";
NET "FLED<6>" LOC = "G20" | IOSTANDARD = "LVTTL";
NET "HPV<0>" LOC = "H1" | IOSTANDARD = "LVTTL" | SLEW = SLOW ;
NET "HPV<1>" LOC = "G1" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPV<2>" LOC = "J6" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPV<3>" LOC = "J5" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPV<4>" LOC = "H3" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPV<5>" LOC = "H2" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPV<6>" LOC = "K5" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPV<7>" LOC = "K4" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPV<8>" LOC = "K1" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPV<9>" LOC = "J2" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPV<10>" LOC = "L5" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPV<11>" LOC = "L4" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPV<12>" LOC = "K3" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPV<13>" LOC = "K2" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPV<14>" LOC = "M4" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPV<15>" LOC = "M3" | IOSTANDARD = "LVTTL"| SLEW = SLOW ;
NET "HPW<0>" LOC = "C3" | IOSTANDARD = "LVTTL";
NET "HPW<1>" LOC = "C2" | IOSTANDARD = "LVTTL";
NET "HPW<2>" LOC = "F5" | IOSTANDARD = "LVTTL";
NET "HPW<3>" LOC = "F4" | IOSTANDARD = "LVTTL";
NET "HPW<4>" LOC = "D2" | IOSTANDARD = "LVTTL";
NET "HPW<5>" LOC = "E2" | IOSTANDARD = "LVTTL";
NET "HPW<6>" LOC = "G5" | IOSTANDARD = "LVTTL";
NET "HPW<7>" LOC = "G4" | IOSTANDARD = "LVTTL";
NET "HPW<8>" LOC = "E1" | IOSTANDARD = "LVTTL";
NET "HPW<9>" LOC = "F1" | IOSTANDARD = "LVTTL";
NET "HPW<10>" LOC = "H5" | IOSTANDARD = "LVTTL";
NET "HPW<11>" LOC = "H4" | IOSTANDARD = "LVTTL";
NET "HPW<12>" LOC = "F2" | IOSTANDARD = "LVTTL";
NET "HPW<13>" LOC = "G2" | IOSTANDARD = "LVTTL";
NET "HPW<14>" LOC = "J4" | IOSTANDARD = "LVTTL";
NET "HPW<15>" LOC = "J3" | IOSTANDARD = "LVTTL";
NET "IACKII" LOC = "T15" | IOSTANDARD = "LVTTL";
NET "IACKOU" LOC = "U15" | IOSTANDARD = "LVTTL";
NET "IOO<1>" LOC = "B12" | IOSTANDARD = "LVTTL";
NET "IOO<2>" LOC = "A11" | IOSTANDARD = "LVTTL";
NET "IOO<3>" LOC = "A10" | IOSTANDARD = "LVTTL";
NET "IOO<4>" LOC = "B9" | IOSTANDARD = "LVTTL";
NET "IOO<5>" LOC = "C11" | IOSTANDARD = "LVTTL";
NET "IOO<6>" LOC = "B11" | IOSTANDARD = "LVTTL";
NET "IOO<7>" LOC = "B10" | IOSTANDARD = "LVTTL";
NET "IOO<8>" LOC = "C10" | IOSTANDARD = "LVTTL";
NET "IOO<9>" LOC = "B13" | IOSTANDARD = "LVTTL";
NET "IOO<10>" LOC = "A13" | IOSTANDARD = "LVTTL";
NET "IOO<11>" LOC = "A8" | IOSTANDARD = "LVTTL";
NET "IOO<12>" LOC = "B8" | IOSTANDARD = "LVTTL";
NET "IOO<13>" LOC = "B14" | IOSTANDARD = "LVTTL";
NET "IOO<14>" LOC = "A14" | IOSTANDARD = "LVTTL";
NET "IOO<15>" LOC = "B6" | IOSTANDARD = "LVTTL";
NET "IOO<16>" LOC = "A6" | IOSTANDARD = "LVTTL";
NET "IRBLO" LOC = "V19" | IOSTANDARD = "LVTTL";
NET "LEMIN<1>" LOC = "R4" | IOSTANDARD = "LVTTL";
NET "LEMIN<2>" LOC = "R3" | IOSTANDARD = "LVTTL";
NET "LEMOU<1>" LOC = "T2" | IOSTANDARD = "LVTTL";
NET "LEMOU<2>" LOC = "T1" | IOSTANDARD = "LVTTL";
NET "OAIV" LOC = "R20" | IOSTANDARD = "LVTTL";
NET "PRES" LOC = "U19" | IOSTANDARD = "LVTTL";
NET "RES<1>" LOC = "T18" | IOSTANDARD = "LVTTL";
NET "RES<2>" LOC = "U18" | IOSTANDARD = "LVTTL";
NET "SAD<0>" LOC = "M1" | IOSTANDARD = "LVTTL";
NET "SAD<1>" LOC = "L1" | IOSTANDARD = "LVTTL";
NET "SAD<2>" LOC = "M6" | IOSTANDARD = "LVTTL";
NET "SAD<3>" LOC = "M5" | IOSTANDARD = "LVTTL";
NET "SAD<4>" LOC = "M2" | IOSTANDARD = "LVTTL";
NET "SAD<5>" LOC = "L2" | IOSTANDARD = "LVTTL";
NET "SAD<6>" LOC = "N5" | IOSTANDARD = "LVTTL";
NET "SAD<7>" LOC = "N4" | IOSTANDARD = "LVTTL";
NET "SAD<8>" LOC = "N3" | IOSTANDARD = "LVTTL";
NET "SAD<9>" LOC = "N2" | IOSTANDARD = "LVTTL";
NET "SAD<10>" LOC = "P5" | IOSTANDARD = "LVTTL";
NET "SAD<11>" LOC = "P4" | IOSTANDARD = "LVTTL";
NET "SAD<12>" LOC = "P2" | IOSTANDARD = "LVTTL";
NET "SAD<13>" LOC = "P1" | IOSTANDARD = "LVTTL";
NET "SAD<14>" LOC = "R2" | IOSTANDARD = "LVTTL";
NET "SAD<15>" LOC = "R1" | IOSTANDARD = "LVTTL";
NET "SAD<16>" LOC = "R6" | IOSTANDARD = "LVTTL";
NET "SAD<17>" LOC = "R5" | IOSTANDARD = "LVTTL";
NET "SCS" LOC = "V18" | IOSTANDARD = "LVTTL";
NET "SDA<0>" LOC = "U3" | IOSTANDARD = "LVTTL";
NET "SDA<1>" LOC = "U2" | IOSTANDARD = "LVTTL";
NET "SDA<2>" LOC = "T4" | IOSTANDARD = "LVTTL";
NET "SDA<3>" LOC = "T3" | IOSTANDARD = "LVTTL";
NET "SDA<4>" LOC = "T6" | IOSTANDARD = "LVTTL";
NET "SDA<5>" LOC = "U6" | IOSTANDARD = "LVTTL";
NET "SDA<6>" LOC = "V2" | IOSTANDARD = "LVTTL";
NET "SDA<7>" LOC = "V1" | IOSTANDARD = "LVTTL";
NET "SDA<8>" LOC = "U5" | IOSTANDARD = "LVTTL";
NET "SDA<9>" LOC = "U4" | IOSTANDARD = "LVTTL";
NET "SDA<10>" LOC = "W3" | IOSTANDARD = "LVTTL";
NET "SDA<11>" LOC = "W2" | IOSTANDARD = "LVTTL";
NET "SDA<12>" LOC = "Y4" | IOSTANDARD = "LVTTL";
NET "SDA<13>" LOC = "W4" | IOSTANDARD = "LVTTL";
NET "SDA<14>" LOC = "V4" | IOSTANDARD = "LVTTL";
NET "SDA<15>" LOC = "V3" | IOSTANDARD = "LVTTL";
NET "SOE" LOC = "V17" | IOSTANDARD = "LVTTL";
NET "SWE" LOC = "W17" | IOSTANDARD = "LVTTL";
NET "TIN<1>" LOC = "F15" | IOSTANDARD = "LVTTL";
NET "TIN<2>" LOC = "E15" | IOSTANDARD = "LVTTL";
NET "TIN<3>" LOC = "E6" | IOSTANDARD = "LVTTL";
NET "TIN<4>" LOC = "F6" | IOSTANDARD = "LVTTL";
NET "TIN<5>" LOC = "D15" | IOSTANDARD = "LVTTL";
NET "TIN<6>" LOC = "E14" | IOSTANDARD = "LVTTL";
NET "TIN<7>" LOC = "E7" | IOSTANDARD = "LVTTL";
NET "TIN<8>" LOC = "D6" | IOSTANDARD = "LVTTL";
NET "TIN<9>" LOC = "D13" | IOSTANDARD = "LVTTL";
NET "TIN<10>" LOC = "C13" | IOSTANDARD = "LVTTL";
NET "TIN<11>" LOC = "C8" | IOSTANDARD = "LVTTL";
NET "TIN<12>" LOC = "D8" | IOSTANDARD = "LVTTL";
NET "TIN<13>" LOC = "D12" | IOSTANDARD = "LVTTL";
NET "TIN<14>" LOC = "C12" | IOSTANDARD = "LVTTL";
NET "TIN<15>" LOC = "C9" | IOSTANDARD = "LVTTL";
NET "TIN<16>" LOC = "D9" | IOSTANDARD = "LVTTL";
NET "WRDIS" LOC = "N16" | IOSTANDARD = "LVTTL";
NET "WRI" LOC = "R18" | IOSTANDARD = "LVTTL";
#NET "CKFNL" TNM_NET = CKFNL;
#TIMESPEC TS_CKFNL = PERIOD "CKFNL" 100 MHz;
NET "CKFPL" TNM_NET = CKFPL;
TIMESPEC TS_CKFPL = PERIOD "CKFPL" 100 MHz;


#NET "ulg_1/trgb_1/Inst_beam_ramp/clk_10Hz" TNM_NET=ulg_1_trgb_1_Inst_beam_ramp_clk_10Hz ;
#TIMESPEC TS_ulg_1_trgb_1_Inst_beam_ramp_clk_10Hz = PERIOD "ulg_1_trgb_1_Inst_beam_ramp_clk_10Hz" 1 MHz;# Generated by Xilinx Architecture Wizard
# --- UCF Template Only ---
# Cut and paste these attributes into the project's UCF file, if desired
#INST DCM_ADV_INST CLK_FEEDBACK = 1X;
#INST DCM_ADV_INST CLKDV_DIVIDE = 2.0;
#INST DCM_ADV_INST CLKFX_DIVIDE = 1;
#INST DCM_ADV_INST CLKFX_MULTIPLY = 3;
#INST DCM_ADV_INST CLKIN_DIVIDE_BY_2 = FALSE;
#INST DCM_ADV_INST CLKIN_PERIOD = 10.000;
#INST DCM_ADV_INST CLKOUT_PHASE_SHIFT = NONE;
#INST DCM_ADV_INST DCM_AUTOCALIBRATION = TRUE;
#INST DCM_ADV_INST DCM_PERFORMANCE_MODE = MAX_SPEED;
#INST DCM_ADV_INST DESKEW_ADJUST = SYSTEM_SYNCHRONOUS;
#INST DCM_ADV_INST DFS_FREQUENCY_MODE = HIGH;
#INST DCM_ADV_INST DLL_FREQUENCY_MODE = LOW;
#INST DCM_ADV_INST DUTY_CYCLE_CORRECTION = TRUE;
#INST DCM_ADV_INST FACTORY_JF = F0F0;
#INST DCM_ADV_INST PHASE_SHIFT = 0;
#INST DCM_ADV_INST STARTUP_WAIT = FALSE;
