COMMERCIAL;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
#LOCATE COMP "ADDON_RESET" SITE "J21" ;
#LOCATE COMP "ADO_CLKOUTN" SITE "AE4" ;
#LOCATE COMP "ADO_CLKOUTP" SITE "AE3" ;
#LOCATE COMP "ADO_LV_0" SITE "D32" ;
#LOCATE COMP "ADO_LV_1" SITE "D31" ;
#LOCATE COMP "ADO_LV_2" SITE "F32" ;
#LOCATE COMP "ADO_LV_3" SITE "F31" ;
#LOCATE COMP "ADO_LV_4" SITE "J29" ;
#LOCATE COMP "ADO_LV_5" SITE "H29" ;
#LOCATE COMP "ADO_LV_6" SITE "L32" ;
#LOCATE COMP "ADO_LV_7" SITE "M32" ;
#LOCATE COMP "ADO_LV_8" SITE "P30" ;
#LOCATE COMP "ADO_LV_9" SITE "P29" ;
#LOCATE COMP "ADO_LV_10" SITE "R30" ;
#LOCATE COMP "ADO_LV_11" SITE "R29" ;
#LOCATE COMP "ADO_LV_12" SITE "T31" ;
#LOCATE COMP "ADO_LV_13" SITE "T32" ;
#LOCATE COMP "ADO_LV_14" SITE "V32" ;
#LOCATE COMP "ADO_LV_15" SITE "V31" ;
#LOCATE COMP "ADO_LV_16" SITE "W30" ;
#LOCATE COMP "ADO_LV_17" SITE "W29" ;
#LOCATE COMP "ADO_LV_18" SITE "W28" ;
#LOCATE COMP "ADO_LV_19" SITE "Y28" ;
#LOCATE COMP "ADO_LV_20" SITE "AB32" ;
#LOCATE COMP "ADO_LV_21" SITE "AA32" ;
#LOCATE COMP "ADO_LV_22" SITE "AD29" ;
#LOCATE COMP "ADO_LV_23" SITE "AD30" ;
#LOCATE COMP "ADO_LV_24" SITE "AC32" ;
#LOCATE COMP "ADO_LV_25" SITE "AD32" ;
#LOCATE COMP "ADO_LV_26" SITE "AE31" ;
#LOCATE COMP "ADO_LV_27" SITE "AE32" ;
#LOCATE COMP "ADO_LV_28" SITE "E32" ;
#LOCATE COMP "ADO_LV_29" SITE "E31" ;
#LOCATE COMP "ADO_LV_30" SITE "G31" ;
#LOCATE COMP "ADO_LV_31" SITE "G32" ;
#LOCATE COMP "ADO_LV_32" SITE "H31" ;
#LOCATE COMP "ADO_LV_33" SITE "H32" ;
#LOCATE COMP "ADO_LV_34" SITE "N31" ;
#LOCATE COMP "ADO_LV_35" SITE "N32" ;
#LOCATE COMP "ADO_LV_36" SITE "P32" ;
#LOCATE COMP "ADO_LV_37" SITE "P31" ;
#LOCATE COMP "ADO_LV_38" SITE "R31" ;
#LOCATE COMP "ADO_LV_39" SITE "R32" ;
#LOCATE COMP "ADO_LV_40" SITE "U32" ;
#LOCATE COMP "ADO_LV_41" SITE "U31" ;
#LOCATE COMP "ADO_LV_42" SITE "V29" ;
#LOCATE COMP "ADO_LV_43" SITE "V30" ;
#LOCATE COMP "ADO_LV_44" SITE "W31" ;
#LOCATE COMP "ADO_LV_45" SITE "Y31" ;
#LOCATE COMP "ADO_LV_46" SITE "W32" ;
#LOCATE COMP "ADO_LV_47" SITE "Y32" ;
#LOCATE COMP "ADO_LV_48" SITE "AD31" ;
#LOCATE COMP "ADO_LV_49" SITE "AC31" ;
#LOCATE COMP "ADO_LV_50" SITE "AC28" ;
#LOCATE COMP "ADO_LV_51" SITE "AD28" ;
#LOCATE COMP "ADO_LV_52" SITE "AE30" ;
#LOCATE COMP "ADO_LV_53" SITE "AE29" ;
#LOCATE COMP "ADO_LV_54" SITE "AF32" ;
#LOCATE COMP "ADO_LV_55" SITE "AF31" ;
#LOCATE COMP "ADO_LV_56" SITE "AG1" ;
#LOCATE COMP "ADO_LV_57" SITE "AG2" ;
#LOCATE COMP "ADO_LV_58" SITE "AE2" ;
#LOCATE COMP "ADO_LV_59" SITE "AE1" ;
#LOCATE COMP "ADO_LV_60" SITE "AF1" ;
#LOCATE COMP "ADO_LV_61" SITE "AF2" ;
LOCATE COMP "ADO_TTL_0" SITE "AJ32" ;
LOCATE COMP "ADO_TTL_1" SITE "AF27" ;
LOCATE COMP "ADO_TTL_2" SITE "AK31" ;
LOCATE COMP "ADO_TTL_3" SITE "AE25" ;
LOCATE COMP "ADO_TTL_4" SITE "AK30" ;
LOCATE COMP "ADO_TTL_5" SITE "AD23" ;
LOCATE COMP "ADO_TTL_6" SITE "AK29" ;
LOCATE COMP "ADO_TTL_7" SITE "AF26" ;
LOCATE COMP "ADO_TTL_8" SITE "AJ28" ;
LOCATE COMP "ADO_TTL_9" SITE "AJ31" ;
LOCATE COMP "ADO_TTL_10" SITE "AM30" ;
LOCATE COMP "ADO_TTL_11" SITE "AH29" ;
LOCATE COMP "ADO_TTL_12" SITE "AJ27" ;
LOCATE COMP "ADO_TTL_13" SITE "AE22" ;
LOCATE COMP "ADO_TTL_14" SITE "AL28" ;
LOCATE COMP "ADO_TTL_15" SITE "AC21" ;
LOCATE COMP "ADO_TTL_16" SITE "AM28" ;
LOCATE COMP "ADO_TTL_17" SITE "AG23" ;
LOCATE COMP "ADO_TTL_18" SITE "AG26" ;
LOCATE COMP "ADO_TTL_19" SITE "AL26" ;
LOCATE COMP "ADO_TTL_20" SITE "AK32" ;
LOCATE COMP "ADO_TTL_21" SITE "AG28" ;
LOCATE COMP "ADO_TTL_22" SITE "AL31" ;
LOCATE COMP "ADO_TTL_23" SITE "AE24" ;
LOCATE COMP "ADO_TTL_24" SITE "AL30" ;
LOCATE COMP "ADO_TTL_25" SITE "AE23" ;
LOCATE COMP "ADO_TTL_26" SITE "AL29" ;
LOCATE COMP "ADO_TTL_27" SITE "AF25" ;
LOCATE COMP "ADO_TTL_28" SITE "AK28" ;
LOCATE COMP "ADO_TTL_29" SITE "AH30" ;
LOCATE COMP "ADO_TTL_30" SITE "AM29" ;
LOCATE COMP "ADO_TTL_31" SITE "AH28" ;
LOCATE COMP "ADO_TTL_32" SITE "AK27" ;
LOCATE COMP "ADO_TTL_33" SITE "AF23" ;
LOCATE COMP "ADO_TTL_34" SITE "AL27" ;
LOCATE COMP "ADO_TTL_35" SITE "AD21" ;
LOCATE COMP "ADO_TTL_36" SITE "AM27" ;
LOCATE COMP "ADO_TTL_37" SITE "AF22" ;
LOCATE COMP "ADO_TTL_38" SITE "AG25" ;
LOCATE COMP "ADO_TTL_39" SITE "AM26" ;
LOCATE COMP "ADO_TTL_40" SITE "AK24" ;
LOCATE COMP "ADO_TTL_41" SITE "AE20" ;
LOCATE COMP "ADO_TTL_42" SITE "AJ24" ;
LOCATE COMP "ADO_TTL_43" SITE "AE21" ;
LOCATE COMP "ADO_TTL_44" SITE "AJ22" ;
LOCATE COMP "ADO_TTL_45" SITE "AK22" ;
LOCATE COMP "ADO_TTL_46" SITE "AG22" ;
IOBUF PORT "ADO_TTL_0" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_1" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_2" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_3" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_4" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_5" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_6" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_7" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_8" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_9" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_10" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_11" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_12" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_13" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_14" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_15" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_16" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_17" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_18" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_19" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_20" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_21" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_22" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_23" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_24" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_25" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_26" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_27" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_28" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_29" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_30" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_31" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_32" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_33" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_34" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_35" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_36" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_37" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_38" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_39" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_40" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_41" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_42" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_43" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_44" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_45" IO_TYPE=LVTTL33 ;
IOBUF PORT "ADO_TTL_46" IO_TYPE=LVTTL33 ;
LOCATE COMP "DBAD" SITE "AM20" ;
LOCATE COMP "DGOOD" SITE "AH20" ;
LOCATE COMP "DINT" SITE "AJ18" ;
LOCATE COMP "DWAIT" SITE "AH21" ;
IOBUF PORT "DBAD" IO_TYPE=LVTTL33 ;
IOBUF PORT "DGOOD" IO_TYPE=LVTTL33 ;
IOBUF PORT "DINT" IO_TYPE=LVTTL33 ;
IOBUF PORT "DWAIT" IO_TYPE=LVTTL33 ;
#LOCATE COMP "FROM_TRB_TO_ADDON_CLK" SITE "T10" ;
#LOCATE COMP "FROM_TRB_TO_ADDON_CLKB" SITE "T9" ;
#LOCATE COMP "FS_PE_0" SITE "J13" ;
#LOCATE COMP "FS_PE_1" SITE "K9" ;
#LOCATE COMP "FS_PE_2" SITE "J12" ;

LOCATE COMP "FS_PE_5" SITE "AM16" ;
LOCATE COMP "FS_PE_6" SITE "AL16" ;
LOCATE COMP "FS_PE_7" SITE "AM15" ;
LOCATE COMP "FS_PE_8" SITE "AL15" ;
LOCATE COMP "FS_PE_9" SITE "AM14" ;
LOCATE COMP "FS_PE_10" SITE "AC16" ;
LOCATE COMP "FS_PE_12" SITE "AK15" ;
LOCATE COMP "FS_PE_13" SITE "AH14" ;
LOCATE COMP "FS_PE_14" SITE "AM13" ;
LOCATE COMP "FS_PE_15" SITE "AH12" ;
LOCATE COMP "FS_PE_16" SITE "AK14" ;
LOCATE COMP "FS_PE_17" SITE "AD15" ;

IOBUF PORT "FS_PE_5" IO_TYPE=LVTTL33; 
IOBUF PORT "FS_PE_6" IO_TYPE=LVTTL33; 
IOBUF PORT "FS_PE_7" IO_TYPE=LVTTL33; 
IOBUF PORT "FS_PE_8" IO_TYPE=LVTTL33; 
IOBUF PORT "FS_PE_9" IO_TYPE=LVTTL33; 
IOBUF PORT "FS_PE_10" IO_TYPE=LVTTL33;
IOBUF PORT "FS_PE_12" IO_TYPE=LVTTL33;
IOBUF PORT "FS_PE_13" IO_TYPE=LVTTL33;
IOBUF PORT "FS_PE_14" IO_TYPE=LVTTL33;
IOBUF PORT "FS_PE_15" IO_TYPE=LVTTL33;
IOBUF PORT "FS_PE_16" IO_TYPE=LVTTL33;
IOBUF PORT "FS_PE_17" IO_TYPE=LVTTL33;

LOCATE COMP "FS_PE_11" SITE "AH16" ;
IOBUF PORT "FS_PE_11" IO_TYPE=LVTTL33 ;


LOCATE COMP "OPLL" SITE "AL11" ;
LOCATE COMP "IPLL" SITE "AL10" ;
LOCATE COMP "LOK_1" SITE "AJ1" ;
LOCATE COMP "LOK_2" SITE "AL2" ;
LOCATE COMP "LOK_3" SITE "AK3" ;
LOCATE COMP "LOK_4" SITE "AL4" ;
LOCATE COMP "LOK_5" SITE "AM4" ;
LOCATE COMP "LOK_6" SITE "AH5" ;
LOCATE COMP "LOK_7" SITE "AG5" ;
LOCATE COMP "LOK_8" SITE "AK5" ;
LOCATE COMP "LOK_9" SITE "AK6" ;
LOCATE COMP "LOK_10" SITE "AM5" ;
LOCATE COMP "LOK_11" SITE "AM6" ;
LOCATE COMP "LOK_12" SITE "AF8" ;
LOCATE COMP "LOK_13" SITE "AE9" ;
LOCATE COMP "LOK_14" SITE "AE10" ;
LOCATE COMP "LOK_15" SITE "AF11" ;
LOCATE COMP "LOK_16" SITE "AD12" ;
IOBUF PORT "IPLL" IO_TYPE=LVTTL33 ;
IOBUF PORT "OPLL" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_1" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_2" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_3" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_4" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_5" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_6" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_7" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_8" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_9" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_10" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_11" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_12" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_13" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_14" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_15" IO_TYPE=LVTTL33 ;
IOBUF PORT "LOK_16" IO_TYPE=LVTTL33 ;
LOCATE COMP "LVDS_CLK_200P" SITE "P3" ;
#LOCATE COMP "LVDS_CLK_200N" SITE "P4" ;
IOBUF PORT "LVDS_CLK_200P" IO_TYPE=LVDS ;
#IOBUF PORT "LVDS_CLK_200N" IO_TYPE=LVDS ;
FREQUENCY PORT "LVDS_CLK_200P" 110.000000 MHz ;
#FREQUENCY PORT "LVDS_CLK_200N" 200.000000 MHz ;
IOBUF PORT "LVDS_CLK_200P" DIFFRESISTOR=120 ;

#LOCATE COMP "RESET" SITE "AL23" ;
LOCATE COMP "RT_1" SITE "AK1" ;
LOCATE COMP "RT_2" SITE "AK2" ;
LOCATE COMP "RT_3" SITE "AJ3" ;
LOCATE COMP "RT_4" SITE "AL3" ;
LOCATE COMP "RT_5" SITE "AM3" ;
LOCATE COMP "RT_6" SITE "AH4" ;
LOCATE COMP "RT_7" SITE "AF6" ;
LOCATE COMP "RT_8" SITE "AJ5" ;
LOCATE COMP "RT_9" SITE "AJ6" ;
LOCATE COMP "RT_10" SITE "AL5" ;
LOCATE COMP "RT_11" SITE "AL6" ;
LOCATE COMP "RT_12" SITE "AF7" ;
LOCATE COMP "RT_13" SITE "AE8" ;
LOCATE COMP "RT_14" SITE "AD10" ;
LOCATE COMP "RT_15" SITE "AE11" ;
LOCATE COMP "RT_16" SITE "AE12" ;
IOBUF PORT "RT_1" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_2" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_3" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_4" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_5" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_6" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_7" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_8" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_9" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_10" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_11" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_12" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_13" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_14" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_15" IO_TYPE=LVTTL33 ;
IOBUF PORT "RT_16" IO_TYPE=LVTTL33 ;




#LOCATE COMP "GBIT_INP_N" SITE "C2" ;
#LOCATE COMP "GBIT_INP_P" SITE "C1" ;
#LOCATE COMP "GBIT_OUT_N" SITE "B3" ;
#LOCATE COMP "GBIT_OUT_P" SITE "A3" ;

#LOCATE COMP "GBIT_SFP_MOD_0" SITE "A19" ;
#LOCATE COMP "GBIT_SFP_MOD_1" SITE "H18" ;
#LOCATE COMP "GBIT_SFP_MOD_2" SITE "H17" ;

#LOCATE COMP "GBIT_TX_FAULT" SITE "K15" ;
#LOCATE COMP "S1_GBIT_SFP_MOD_0" SITE "AG17" ;
#LOCATE COMP "S1_GBIT_TX_FAULT" SITE "AK21" ;
#LOCATE COMP "S2_GBIT_TX_DIS" SITE "AF19" ;

#LOCATE COMP "S2_GBIT_SFP_MOD_0" SITE "AC17" ;

#LOCATE COMP "S2_GBIT_TX_FAULT" SITE "AM23" ;
#LOCATE COMP "S3_GBIT_SFP_MOD_0" SITE "AM17" ;
#LOCATE COMP "S3_GBIT_TX_FAULT" SITE "AH26" ;
#LOCATE COMP "S3_GBIT_TX_DIS" SITE "AH25" ;

#LOCATE COMP "S1_GBIT_TX_DIS" SITE "AJ21" ;
#LOCATE COMP "S1_GBIT_SFP_MOD_1" SITE "AL18" ;
#LOCATE COMP "S3_GBIT_SFP_MOD_1" SITE "AE17" ;
#LOCATE COMP "S2_GBIT_SFP_MOD_1" SITE "AD17" ;
#LOCATE COMP "S2_GBIT_SFP_MOD_2" SITE "AL17" ;
#LOCATE COMP "S3_GBIT_SFP_MOD_2" SITE "AF17" ;
#LOCATE COMP "S1_GBIT_SFP_MOD_2" SITE "AM18" ;
#LOCATE COMP "SERDES_125P" SITE "C5" ;
#LOCATE COMP "SERDES_200N" SITE "D28" ;
#LOCATE COMP "SERDES_200P" SITE "C28" ;
#LOCATE COMP "SERDES_200N" SITE "A_REFCLKN_L" ;
#LOCATE COMP "SERDES_200P" SITE "A_REFCLKP_L" ;

#LOCATE COMP "SERDES_125N" SITE "D5" ;
#LOCATE COMP "SFP7_MOD_0" SITE "AE14" ;
#LOCATE COMP "SFP2_MOD_0" SITE "J18" ;
#LOCATE COMP "SFP1_MOD_0" SITE "F20" ;
#LOCATE COMP "SFP4_MOD_0" SITE "D20" ;
#LOCATE COMP "SFP3_MOD_0" SITE "G20" ;
#LOCATE COMP "SFP8_MOD_0" SITE "AK12" ;
#LOCATE COMP "SFP12_MOD_0" SITE "J17" ;
#LOCATE COMP "SFP9_MOD_0" SITE "AM10" ;
#LOCATE COMP "SFP5_MOD_0" SITE "C19" ;
#LOCATE COMP "SFP11_MOD_0" SITE "D18" ;
#LOCATE COMP "SFP6_MOD_0" SITE "E17" ;
#LOCATE COMP "SFP10_MOD_0" SITE "AG14" ;
#LOCATE COMP "SFP12_MOD_1" SITE "L20" ;
#LOCATE COMP "SFP11_MOD_1" SITE "C18" ;
#LOCATE COMP "SFP9_MOD_1" SITE "AM11" ;
#LOCATE COMP "SFP6_MOD_1" SITE "B20" ;
#LOCATE COMP "SFP8_MOD_1" SITE "AH10" ;
#LOCATE COMP "SFP4_MOD_1" SITE "G19" ;
#LOCATE COMP "SFP5_MOD_1" SITE "C20" ;
#LOCATE COMP "SFP3_MOD_1" SITE "H20" ;
#LOCATE COMP "SFP7_MOD_1" SITE "AF14" ;
#LOCATE COMP "SFP1_MOD_1" SITE "E20" ;
#LOCATE COMP "SFP2_MOD_1" SITE "F19" ;
#LOCATE COMP "SFP10_MOD_1" SITE "AL12" ;
#LOCATE COMP "SFP10_MOD_2" SITE "AL13" ;
#LOCATE COMP "SFP5_MOD_2" SITE "E18" ;
#LOCATE COMP "SFP4_MOD_2" SITE "H19" ;
#LOCATE COMP "SFP9_MOD_2" SITE "AG13" ;
#LOCATE COMP "SFP6_MOD_2" SITE "B19" ;
#LOCATE COMP "SFP2_MOD_2" SITE "E19" ;
#LOCATE COMP "SFP7_MOD_2" SITE "AJ12" ;
#LOCATE COMP "SFP3_MOD_2" SITE "D19" ;
#LOCATE COMP "SFP1_MOD_2" SITE "K18" ;
#LOCATE COMP "SFP8_MOD_2" SITE "AH11" ;
#LOCATE COMP "SFP12_MOD_2" SITE "A20" ;
#LOCATE COMP "SFP11_MOD_2" SITE "K17" ;
#IOBUF PORT "SFP7_MOD_0" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP2_MOD_0" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP1_MOD_0" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP4_MOD_0" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP3_MOD_0" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP8_MOD_0" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP12_MOD_0" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP9_MOD_0" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP5_MOD_0" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP11_MOD_0" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP6_MOD_0" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP10_MOD_0" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP12_MOD_1" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP11_MOD_1" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP9_MOD_1" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP6_MOD_1" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP8_MOD_1" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP4_MOD_1" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP5_MOD_1" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP3_MOD_1" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP7_MOD_1" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP1_MOD_1" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP2_MOD_1" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP10_MOD_1" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP10_MOD_2" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP5_MOD_2" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP4_MOD_2" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP9_MOD_2" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP6_MOD_2" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP2_MOD_2" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP7_MOD_2" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP3_MOD_2" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP1_MOD_2" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP8_MOD_2" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP12_MOD_2" IO_TYPE=LVTTL33 ;
#IOBUF PORT "SFP11_MOD_2" IO_TYPE=LVTTL33 ;

#LOCATE COMP "GBIT_SFP_LOS" SITE "J15" ;
#LOCATE COMP "S2_GBIT_SFP_LOS" SITE "AM22" ;
#LOCATE COMP "S3_GBIT_SFP_LOS" SITE "AL21" ;
#LOCATE COMP "S1_GBIT_SFP_LOS" SITE "AE19" ;



LOCATE COMP "SFP_LOS_1" SITE "A18" ;
LOCATE COMP "SFP_LOS_2" SITE "A15" ;
LOCATE COMP "SFP_LOS_3" SITE "B15" ;
LOCATE COMP "SFP_LOS_4" SITE "G16" ;
LOCATE COMP "SFP_LOS_5" SITE "H16" ;
LOCATE COMP "SFP_LOS_6" SITE "J16" ;
LOCATE COMP "SFP_LOS_7" SITE "L13" ;
LOCATE COMP "SFP_LOS_8" SITE "C14" ;
LOCATE COMP "SFP_LOS_9" SITE "E15" ;
LOCATE COMP "SFP_LOS_10" SITE "G14" ;
LOCATE COMP "SFP_LOS_11" SITE "E14" ;
LOCATE COMP "SFP_LOS_12" SITE "F13" ;
LOCATE COMP "SFP_LOS_13" SITE "J15" ;
LOCATE COMP "SFP_LOS_14" SITE "AE19" ;
LOCATE COMP "SFP_LOS_15" SITE "AM22" ;
LOCATE COMP "SFP_LOS_16" SITE "AL21" ;

IOBUF PORT "SFP_LOS_1" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_2" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_3" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_4" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_5" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_6" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_7" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_8" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_9" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_10" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_11" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_12" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_13" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_14" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_15" IO_TYPE=LVTTL33 ;
IOBUF PORT "SFP_LOS_16" IO_TYPE=LVTTL33 ;


#LOCATE COMP "quad_a/PCSA_INST" SITE "PCS36000" ;
LOCATE COMP "QUAD_GENERATE_0_QUAD/PCSA_INST" SITE "PCS36000" ;
LOCATE COMP "QUAD_GENERATE_1_QUAD/PCSA_INST" SITE "PCS36100" ;
LOCATE COMP "QUAD_GENERATE_2_QUAD/PCSA_INST" SITE "PCS3E100" ;
LOCATE COMP "QUAD_GENERATE_3_QUAD/PCSA_INST" SITE "PCS3E000" ;
#LOCATE COMP "TEST/PCSA_INST" SITE "PCS36000" ;
FREQUENCY NET "ref_pclk_0" 100.000000MHz;
FREQUENCY NET "rx_clk_i_0" 100.000000MHz;
FREQUENCY NET "rx_clk_i_1" 100.000000MHz;
FREQUENCY NET "rx_clk_i_2" 100.000000MHz;
FREQUENCY NET "rx_clk_i_3" 100.000000MHz;
FREQUENCY NET "ref_pclk_1" 100.000000MHz;
FREQUENCY NET "rx_clk_i_4" 100.000000MHz;
FREQUENCY NET "rx_clk_i_5" 100.000000MHz;
FREQUENCY NET "rx_clk_i_6" 100.000000MHz;
FREQUENCY NET "rx_clk_i_7" 100.000000MHz;
FREQUENCY NET "ref_pclk_2" 100.000000MHz;
FREQUENCY NET "rx_clk_i_8" 100.000000MHz;
FREQUENCY NET "rx_clk_i_9" 100.000000MHz;
FREQUENCY NET "rx_clk_i_10" 100.000000MHz;
FREQUENCY NET "rx_clk_i_11" 100.000000MHz;
FREQUENCY NET "ref_pclk_3" 100.000000MHz;
FREQUENCY NET "rx_clk_i_12" 100.000000MHz;
FREQUENCY NET "rx_clk_i_13" 100.000000MHz;
FREQUENCY NET "rx_clk_i_14" 100.000000MHz;
FREQUENCY NET "rx_clk_i_15" 100.000000MHz;


FREQUENCY PORT "ref_pclk_1/QUAD_GENERATE_1_QUAD" 100.000000MHz;
FREQUENCY PORT "ref_pclk_2/QUAD_GENERATE_2_QUAD" 100.000000MHz;
FREQUENCY PORT "ref_pclk_3/QUAD_GENERATE_3_QUAD" 100.000000MHz;
FREQUENCY PORT "ref_pclk_0/QUAD_GENERATE_0_QUAD" 100.000000MHz;

#FREQUENCY PORT "rxa_pclk_a/quad_a" 100.000000MHz;
#FREQUENCY PORT "rx_1_sclk_a/quad_a" 100.000000MHz;
#FREQUENCY PORT "rx_2_sclk_a/quad_a" 100.000000MHz;
#FREQUENCY PORT "rx_3_sclk_a/quad_a" 100.000000MHz;
#LOCATE COMP "SUPPL_RESET" SITE "B18" ;






LOCATE COMP "TX_DIS_1" SITE "G17" ;
LOCATE COMP "TX_DIS_2" SITE "A17" ;
LOCATE COMP "TX_DIS_3" SITE "A16" ;
LOCATE COMP "TX_DIS_4" SITE "B16" ;
LOCATE COMP "TX_DIS_5" SITE "A13" ;
LOCATE COMP "TX_DIS_6" SITE "H15" ;
LOCATE COMP "TX_DIS_7" SITE "D15" ;
LOCATE COMP "TX_DIS_8" SITE "B13" ;
LOCATE COMP "TX_DIS_9" SITE "C13" ;
LOCATE COMP "TX_DIS_10" SITE "D14" ;
LOCATE COMP "TX_DIS_11" SITE "H14" ;
LOCATE COMP "TX_DIS_12" SITE "G13" ;
LOCATE COMP "TX_DIS_13" SITE "E13" ;
LOCATE COMP "TX_DIS_14" SITE "AJ21" ;
LOCATE COMP "TX_DIS_15" SITE "AF19" ;
LOCATE COMP "TX_DIS_16" SITE "AH25" ;

IOBUF PORT "TX_DIS_1" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_2" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_3" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_4" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_5" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_6" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_7" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_8" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_9" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_10" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_11" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_12" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_13" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_14" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_15" IO_TYPE=LVTTL33 ;
IOBUF PORT "TX_DIS_16" IO_TYPE=LVTTL33 ;

#LOCATE COMP "TX_FAULT_1" SITE "F17" ;
#LOCATE COMP "TX_FAULT_2" SITE "L17" ;
#LOCATE COMP "TX_FAULT_3" SITE "L16" ;
#LOCATE COMP "TX_FAULT_4" SITE "F16" ;
#LOCATE COMP "TX_FAULT_5" SITE "A14" ;
#LOCATE COMP "TX_FAULT_6" SITE "K16" ;
#LOCATE COMP "TX_FAULT_7" SITE "C15" ;
#LOCATE COMP "TX_FAULT_8" SITE "B14" ;
#LOCATE COMP "TX_FAULT_9" SITE "E16" ;
#LOCATE COMP "TX_FAULT_10" SITE "D13" ;
#LOCATE COMP "TX_FAULT_11" SITE "F14" ;
#LOCATE COMP "TX_FAULT_12" SITE "H13" ;
#IOBUF PORT "TX_FAULT_1" IO_TYPE=LVTTL33 ;
#IOBUF PORT "TX_FAULT_2" IO_TYPE=LVTTL33 ;
#IOBUF PORT "TX_FAULT_3" IO_TYPE=LVTTL33 ;
#IOBUF PORT "TX_FAULT_4" IO_TYPE=LVTTL33 ;
#IOBUF PORT "TX_FAULT_5" IO_TYPE=LVTTL33 ;
#IOBUF PORT "TX_FAULT_6" IO_TYPE=LVTTL33 ;
#IOBUF PORT "TX_FAULT_7" IO_TYPE=LVTTL33 ;
#IOBUF PORT "TX_FAULT_8" IO_TYPE=LVTTL33 ;
#IOBUF PORT "TX_FAULT_9" IO_TYPE=LVTTL33 ;
#IOBUF PORT "TX_FAULT_10" IO_TYPE=LVTTL33 ;
#IOBUF PORT "TX_FAULT_11" IO_TYPE=LVTTL33 ;
#IOBUF PORT "TX_FAULT_12" IO_TYPE=LVTTL33 ;


