#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1796R.
#

# Period Constraints 
#FREQUENCY NET "THE_MAIN_PLL/clk_100_i" 79.7 MHz;
#FREQUENCY PORT "CLK_PCLK_RIGHT" 641.3 MHz;
#FREQUENCY PORT "INP[15]" 641.3 MHz;
#FREQUENCY PORT "INP[14]" 641.3 MHz;
#FREQUENCY PORT "INP[13]" 641.3 MHz;
#FREQUENCY PORT "INP[12]" 641.3 MHz;
#FREQUENCY PORT "INP[11]" 641.3 MHz;
#FREQUENCY PORT "INP[10]" 641.3 MHz;
#FREQUENCY PORT "INP[9]" 615.5 MHz;
#FREQUENCY PORT "INP[8]" 615.5 MHz;
#FREQUENCY NET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" 244.7 MHz;
#FREQUENCY NET "THE_MAIN_PLL/clk_200_i_0" 300.4 MHz;
#FREQUENCY NET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" 641.3 MHz;
#FREQUENCY NET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" 641.3 MHz;
#FREQUENCY NET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" 641.3 MHz;
#FREQUENCY NET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" 641.3 MHz;
#FREQUENCY NET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" 641.3 MHz;
#FREQUENCY NET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" 641.3 MHz;
#FREQUENCY NET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" 641.3 MHz;
#FREQUENCY NET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" 641.3 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_200_i_0" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "INP_c[8]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "INP_c[9]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "INP_c[10]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "INP_c[11]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "INP_c[12]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "INP_c[13]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "INP_c[14]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "CLK_PCLK_RIGHT_c";
#BLOCK PATH FROM CLKNET "INP_c[15]" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "CLK_PCLK_RIGHT_c" TO CLKNET "THE_MAIN_PLL/clk_100_i";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[0]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[1]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[2]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[3]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[4]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[5]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[6]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "BM_VetoTriggeringing/BMControling1/BM_enabled1[7]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "THE_MAIN_PLL/clk_200_i_0";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/ff_rxhalfclk";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "INP_c[8]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "INP_c[9]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "INP_c[10]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "INP_c[11]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "INP_c[12]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "INP_c[13]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "INP_c[14]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "INP_c[15]";
#BLOCK PATH FROM CLKNET "THE_MAIN_PLL/clk_100_i" TO CLKNET "CLK_PCLK_RIGHT_c";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
