
#################################################################
# Basic Constraints
#################################################################
COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

IOBUF ALLPORTS IO_TYPE=LVTTL33 PULLMODE=DOWN ;

#################################################################
# Clock I/O
#################################################################
LOCATE COMP  "ADO_CLKOUT"     SITE "L29";
LOCATE COMP  "CLK_200_IN"     SITE "L1";

IOBUF PORT "ADO_CLKOUT"       IO_TYPE=LVDS ;
IOBUF PORT "CLK_200_IN"       IO_TYPE=LVDS ;

#################################################################
# Reset
#################################################################
LOCATE COMP  "ADDON_RESET"	  SITE "AM7";
LOCATE COMP  "RESET_FPGA_1"   SITE "AG11";

IOBUF PORT "ADDON_RESET"       IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "RESET_FPGA_1"      IO_TYPE=LVTTL33 PULLMODE=UP ;

#################################################################
# To TRB
#################################################################
LOCATE COMP  "ADO_TTL_0"	  SITE "AM16";
LOCATE COMP  "ADO_TTL_1"	  SITE "AL16";
LOCATE COMP  "ADO_TTL_2"	  SITE "AF16";
LOCATE COMP  "ADO_TTL_3"	  SITE "AE16";
LOCATE COMP  "ADO_TTL_4"	  SITE "AM15";
LOCATE COMP  "ADO_TTL_5"	  SITE "AL15";
LOCATE COMP  "ADO_TTL_6"	  SITE "AD16";
LOCATE COMP  "ADO_TTL_7"	  SITE "AC16";
LOCATE COMP  "ADO_TTL_8"	  SITE "AM14";
LOCATE COMP  "ADO_TTL_9"	  SITE "AL14";
LOCATE COMP  "ADO_TTL_10"	  SITE "AG16";
LOCATE COMP  "ADO_TTL_11"	  SITE "AH16";
LOCATE COMP  "ADO_TTL_12"	  SITE "AK15";
LOCATE COMP  "ADO_TTL_13"	  SITE "AJ15";
LOCATE COMP  "ADO_TTL_14"	  SITE "AH15";
LOCATE COMP  "ADO_TTL_15"	  SITE "AH14";
LOCATE COMP  "ADO_TTL_16"	  SITE "AM13";
LOCATE COMP  "ADO_TTL_17"	  SITE "AM12";
LOCATE COMP  "ADO_TTL_18"	  SITE "AH13";
LOCATE COMP  "ADO_TTL_19"	  SITE "AH12";
LOCATE COMP  "ADO_TTL_20"	  SITE "AK14";
LOCATE COMP  "ADO_TTL_21"	  SITE "AJ14";
LOCATE COMP  "ADO_TTL_22"	  SITE "AE15";
LOCATE COMP  "ADO_TTL_23"	  SITE "AD15";
LOCATE COMP  "ADO_TTL_24"	  SITE "AL13";
LOCATE COMP  "ADO_TTL_25"	  SITE "AL12";
LOCATE COMP  "ADO_TTL_26"	  SITE "AG14";
LOCATE COMP  "ADO_TTL_27"	  SITE "AG13";
LOCATE COMP  "ADO_TTL_28"	  SITE "AM11";
LOCATE COMP  "ADO_TTL_29"	  SITE "AM10";
LOCATE COMP  "ADO_TTL_30"	  SITE "AH11";
LOCATE COMP  "ADO_TTL_31"	  SITE "AH10";
LOCATE COMP  "ADO_TTL_32"	  SITE "AK12";
LOCATE COMP  "ADO_TTL_33"	  SITE "AJ12";
LOCATE COMP  "ADO_TTL_34"	  SITE "AF14";
LOCATE COMP  "ADO_TTL_35"	  SITE "AE14";
LOCATE COMP  "ADO_TTL_36"	  SITE "AL11";
LOCATE COMP  "ADO_TTL_37"	  SITE "AL10";
LOCATE COMP  "ADO_TTL_38"	  SITE "AH9";
LOCATE COMP  "ADO_TTL_39"	  SITE "AH8";
LOCATE COMP  "ADO_TTL_40"	  SITE "AK11";
LOCATE COMP  "ADO_TTL_41"	  SITE "AJ11";
LOCATE COMP  "ADO_TTL_42"	  SITE "AH7";
LOCATE COMP  "ADO_TTL_43"	  SITE "AH6";
LOCATE COMP  "ADO_TTL_44"	  SITE "AM9";
LOCATE COMP  "ADO_TTL_45"	  SITE "AM8";
LOCATE COMP  "ADO_TTL_46"	  SITE "AF13";
DEFINE PORT GROUP "ADOTTL_group" "ADO_TTL*" ;
IOBUF GROUP "ADOTTL_group" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=16;

LOCATE COMP  "FS_PE_5"    SITE "AE13";
LOCATE COMP  "FS_PE_6"    SITE "AL9";
LOCATE COMP  "FS_PE_7"    SITE "AL8";
LOCATE COMP  "FS_PE_8"    SITE "AG6";
LOCATE COMP  "FS_PE_9"    SITE "AK9";
LOCATE COMP  "FS_PE_10"   SITE "AJ9";
LOCATE COMP  "FS_PE_11"   SITE "AG10";
DEFINE PORT GROUP "FSPE_group" "FS_PE*" ;
IOBUF GROUP "FSPE_group" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=16;

#################################################################
# Debug
#################################################################
LOCATE COMP  "TEST_LINE_0"    SITE "AL6";
LOCATE COMP  "TEST_LINE_1"    SITE "AL5";
LOCATE COMP  "TEST_LINE_2"    SITE "AG7";
LOCATE COMP  "TEST_LINE_3"    SITE "AG8";
LOCATE COMP  "TEST_LINE_4"    SITE "AK6";
LOCATE COMP  "TEST_LINE_5"    SITE "AJ6";
LOCATE COMP  "TEST_LINE_6"    SITE "AF10";
LOCATE COMP  "TEST_LINE_7"    SITE "AE11";
LOCATE COMP  "TEST_LINE_8"    SITE "AM4";
LOCATE COMP  "TEST_LINE_9"    SITE "AM3";
LOCATE COMP  "TEST_LINE_10"   SITE "AH5";
LOCATE COMP  "TEST_LINE_11"   SITE "AH4";
LOCATE COMP  "TEST_LINE_12"   SITE "AK5";
LOCATE COMP  "TEST_LINE_13"   SITE "AJ5";
LOCATE COMP  "TEST_LINE_14"   SITE "AF8";
LOCATE COMP  "TEST_LINE_15"   SITE "AF7";
LOCATE COMP  "TEST_LINE_16"   SITE "AL4";
LOCATE COMP  "TEST_LINE_17"   SITE "AL3";
LOCATE COMP  "TEST_LINE_18"   SITE "AG5";
LOCATE COMP  "TEST_LINE_19"   SITE "AF6";
LOCATE COMP  "TEST_LINE_20"   SITE "AK3";
LOCATE COMP  "TEST_LINE_21"   SITE "AJ3";
LOCATE COMP  "TEST_LINE_22"   SITE "AE10";
LOCATE COMP  "TEST_LINE_23"   SITE "AD10";
LOCATE COMP  "TEST_LINE_24"   SITE "AL2";
LOCATE COMP  "TEST_LINE_25"   SITE "AK2";
LOCATE COMP  "TEST_LINE_26"   SITE "AE9";
LOCATE COMP  "TEST_LINE_27"   SITE "AE8";
LOCATE COMP  "TEST_LINE_28"   SITE "AJ1";
LOCATE COMP  "TEST_LINE_29"   SITE "AK1";
LOCATE COMP  "TEST_LINE_30"   SITE "AJ2";
LOCATE COMP  "TEST_LINE_31"   SITE "AH3";
DEFINE PORT GROUP "TEST_LINE_group" "TEST_LINE*" ;
IOBUF GROUP "TEST_LINE_group" IO_TYPE=LVTTL33 PULLMODE=DOWN DRIVE=16;

#################################################################
# To second FPGA
#################################################################

LOCATE COMP  "FFC_0"    SITE "AJ19";    #"FFC_P__0"
LOCATE COMP  "FFC_1"    SITE "AK19";    #"FFC_N__0"
LOCATE COMP  "FFC_2"    SITE "AD18";    #"FFC_P__1"
LOCATE COMP  "FFC_3"    SITE "AE18";    #"FFC_N__1"
LOCATE COMP  "FFC_4"    SITE "AM21";    #"FFC_P__2"
LOCATE COMP  "FFC_5"    SITE "AM20";    #"FFC_N__2"
LOCATE COMP  "FFC_6"    SITE "AH21";    #"FFC_P__3"
LOCATE COMP  "FFC_7"    SITE "AH20";    #"FFC_N__3"
LOCATE COMP  "FFC_8"    SITE "AJ18";    #"FFC_P__4"
LOCATE COMP  "FFC_9"    SITE "AK18";    #"FFC_N__4"
LOCATE COMP  "FFC_10"   SITE "AH19";    #"FFC_P__5"
LOCATE COMP  "FFC_11"   SITE "AH18";    #"FFC_N__5"
LOCATE COMP  "FFC_12"   SITE "AL19";    #"FFC_P__6"
LOCATE COMP  "FFC_13"   SITE "AM19";    #"FFC_N__6"
LOCATE COMP  "FFC_14"   SITE "AH17";    #"FFC_P__7"
LOCATE COMP  "FFC_15"   SITE "AG17";    #"FFC_N__7"
LOCATE COMP  "FFC_16"   SITE "AL18";    #"FFC_P__8"
LOCATE COMP  "FFC_17"   SITE "AM18";    #"FFC_N__8"
LOCATE COMP  "FFC_18"   SITE "AC17";    #"FFC_P__9"
LOCATE COMP  "FFC_19"   SITE "AD17";    #"FFC_N__9"
LOCATE COMP  "FFC_20"   SITE "AL17";    #"FFC_P__10"
LOCATE COMP  "FFC_21"   SITE "AM17";    #"FFC_N__10"
LOCATE COMP  "FFC_22"   SITE "AE17";    #"FFC_P__11"
#LOCATE COMP  "FFC_23"   SITE "AF17";    #"FFC_N__11"
LOCATE COMP  "ONEWIRE_MONITOR_IN"   SITE "AF17";    #"FFC_N__11"

DEFINE PORT GROUP "FFC_group" "FFC*" ;
IOBUF GROUP "FFC_group"              IO_TYPE=LVCMOS25 PULLMODE=DOWN DRIVE=16;
IOBUF PORT "ONEWIRE_MONITOR_IN"      IO_TYPE=LVCMOS25 PULLMODE=UP ;

#################################################################
# Display / LED
#################################################################
LOCATE COMP  "LED_GREEN"    SITE "E17";
LOCATE COMP  "LED_ORANGE"   SITE "B20";
LOCATE COMP  "LED_RED"    SITE "C20";
LOCATE COMP  "LED_YELLOW"   SITE "E18";
DEFINE PORT GROUP "LED_group" "LED*" ;
IOBUF GROUP "LED_group" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=8;

LOCATE COMP  "DIS1_0"    SITE "F20";
LOCATE COMP  "DIS1_1"    SITE "E20";
LOCATE COMP  "DIS1_2"    SITE "K18";
LOCATE COMP  "DIS2_0"    SITE "G20";
LOCATE COMP  "DIS2_1"    SITE "H20";
LOCATE COMP  "DIS2_2"    SITE "D19";
DEFINE PORT GROUP "DIS_group" "DIS*" ;
IOBUF GROUP "DIS_group" IO_TYPE=LVTTL33 PULLMODE=DOWN DRIVE=16;

#################################################################
# Flash
#################################################################
LOCATE COMP  "SPI_CLK_OUT"	  SITE "A19";
LOCATE COMP  "SPI_CS_OUT"	  SITE "A20";
LOCATE COMP  "SPI_SI_OUT"	  SITE "H18";
LOCATE COMP  "SPI_SO_IN"      SITE "H17";
LOCATE COMP  "PROGRAMN_OUT"   SITE "B17";
IOBUF PORT   "SPI_CLK_OUT"  IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
IOBUF PORT   "SPI_CS_OUT"   IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
IOBUF PORT   "SPI_SI_OUT"   IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
IOBUF PORT   "SPI_SO_IN"    IO_TYPE=LVTTL33 PULLMODE=UP;

IOBUF PORT  "PROGRAMN_OUT"    IO_TYPE=LVTTL33 PULLMODE=UP;

#################################################################
# Output signals
#################################################################

LOCATE COMP  "LVDS_OUT_0"	    SITE "P30";
LOCATE COMP  "LVDS_OUT_1"	    SITE "P32";
LOCATE COMP  "LVDS_OUT_2"	    SITE "R30";
LOCATE COMP  "LVDS_OUT_3"	    SITE "R31";
LOCATE COMP  "LVDS_OUT_4"	    SITE "T31";
LOCATE COMP  "LVDS_OUT_5"	    SITE "U32";
LOCATE COMP  "LVDS_OUT_6"	    SITE "V32";
LOCATE COMP  "LVDS_OUT_7"	    SITE "V29";
LOCATE COMP  "LVDS_OUT_8"	    SITE "W30";
LOCATE COMP  "LVDS_OUT_9"	    SITE "W31";
LOCATE COMP  "LVDS_OUT_10"	  SITE "W28";
LOCATE COMP  "LVDS_OUT_11"	  SITE "W32";
LOCATE COMP  "LVDS_OUT_12"	  SITE "AA29";
LOCATE COMP  "LVDS_OUT_13"	  SITE "AB31";
LOCATE COMP  "LVDS_OUT_14"	  SITE "AB29";
LOCATE COMP  "LVDS_OUT_15"	  SITE "AB32";
DEFINE PORT GROUP "LVDS_group" "LVDS*" ;
IOBUF GROUP "LVDS_group"       IO_TYPE=LVDS;

LOCATE COMP  "PECL_OUT_0"     SITE "M4";
LOCATE COMP  "PECL_OUT_1"     SITE "M3";
LOCATE COMP  "PECL_OUT_2"     SITE "L2";
DEFINE PORT GROUP "PECL_group" "PECL*" ;
IOBUF GROUP "PECL_group"       IO_TYPE=LVDS;

LOCATE COMP  "RICH_CLK_OUT"       SITE "AD31";
LOCATE COMP  "RICH_RESERVED_OUT"  SITE "AC32";
LOCATE COMP  "RICH_TIMING_OUT"    SITE "AC28";
LOCATE COMP  "RICH_TRIGGER_OUT"   SITE "AD29";
DEFINE PORT GROUP "RICH_group" "RICH*" ;
IOBUF GROUP "RICH_group"       IO_TYPE=LVDS;

#################################################################
# Switches
#################################################################
LOCATE COMP  "RS1_0"   SITE "AL7";
LOCATE COMP  "RS1_1"   SITE "AD13";
LOCATE COMP  "RS1_2"   SITE "AC13";
LOCATE COMP  "RS1_3"   SITE "AK8";
LOCATE COMP  "RS2_0"   SITE "AJ8";
LOCATE COMP  "RS2_1"   SITE "AF11";
LOCATE COMP  "RS2_2"   SITE "AD12";
LOCATE COMP  "RS2_3"   SITE "AE12";
DEFINE PORT GROUP "RS_group" "RS*" ;
IOBUF GROUP "RS_group"       IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;

#################################################################
# SFP
#################################################################

LOCATE COMP  "TRB2_LOS"   SITE "J16";
LOCATE COMP  "TRB2_MOD_0"   SITE "H16";
LOCATE COMP  "TRB2_MOD_1"   SITE "A14";
LOCATE COMP  "TRB2_MOD_2"   SITE "A13";
LOCATE COMP  "TRB2_TX_DIS"    SITE "H15";

LOCATE COMP  "TRB2_RX_LED"    SITE "D18";
LOCATE COMP  "TRB2_OK_LED"    SITE "B19";
LOCATE COMP  "TRB2_TX_LED"    SITE "C18";

LOCATE COMP  "TRB3_LOS"   SITE "A16";
LOCATE COMP  "TRB3_MOD_0"   SITE "A17";
LOCATE COMP  "TRB3_MOD_1"   SITE "A18";
LOCATE COMP  "TRB3_MOD_2"   SITE "F17";
LOCATE COMP  "TRB3_TX_DIS"    SITE "L17";

LOCATE COMP  "TRB3_OK_LED"    SITE "K17";
LOCATE COMP  "TRB3_RX_LED"    SITE "J17";
LOCATE COMP  "TRB3_TX_LED"    SITE "L20";
DEFINE PORT GROUP "TRB_group" "TRB*" ;
IOBUF GROUP "TRB_group"       IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;

#################################################################
# Input signals
#################################################################
LOCATE COMP  "TRIG_IN_0"	  SITE "K8";
LOCATE COMP  "TRIG_IN_1"	  SITE "D1";
LOCATE COMP  "TRIG_IN_2"	  SITE "E1";
LOCATE COMP  "TRIG_IN_3"	  SITE "F1";
LOCATE COMP  "TRIG_IN_4"	  SITE "G2";
LOCATE COMP  "TRIG_IN_5"	  SITE "H2";
LOCATE COMP  "TRIG_IN_6"	  SITE "J4";
LOCATE COMP  "TRIG_IN_7"	  SITE "J3";
LOCATE COMP  "TRIG_IN_8"	  SITE "J1";
LOCATE COMP  "TRIG_IN_9"	  SITE "K2";
LOCATE COMP  "TRIG_IN_10"	  SITE "N2";
LOCATE COMP  "TRIG_IN_11"	  SITE "P3";
LOCATE COMP  "TRIG_IN_12"	  SITE "P1";
LOCATE COMP  "TRIG_IN_13"	  SITE "R3";
LOCATE COMP  "TRIG_IN_14"	  SITE "R2";
LOCATE COMP  "TRIG_IN_15"	  SITE "T2";
LOCATE COMP  "TRIG_IN_16"	  SITE "U1";
LOCATE COMP  "TRIG_IN_17"	  SITE "V1";
LOCATE COMP  "TRIG_IN_18"	  SITE "V4";
LOCATE COMP  "TRIG_IN_19"	  SITE "W3";
LOCATE COMP  "TRIG_IN_20"	  SITE "W2";
LOCATE COMP  "TRIG_IN_21"	  SITE "W5";
LOCATE COMP  "TRIG_IN_22"	  SITE "W1";
LOCATE COMP  "TRIG_IN_23"	  SITE "AB2";
LOCATE COMP  "TRIG_IN_24"	  SITE "AB4";
LOCATE COMP  "TRIG_IN_25"	  SITE "AB1";
LOCATE COMP  "TRIG_IN_26"	  SITE "AD2";
LOCATE COMP  "TRIG_IN_27"	  SITE "AD4";
LOCATE COMP  "TRIG_IN_28"	  SITE "AC5";
LOCATE COMP  "TRIG_IN_29"	  SITE "AC1";
LOCATE COMP  "TRIG_IN_30"	  SITE "AE3";
LOCATE COMP  "TRIG_IN_31"	  SITE "AE2";
LOCATE COMP  "TRIG_IN_32"	  SITE "AJ32";
LOCATE COMP  "TRIG_IN_33"	  SITE "AK31";
LOCATE COMP  "TRIG_IN_34"	  SITE "AK30";
LOCATE COMP  "TRIG_IN_35"	  SITE "AK29";
LOCATE COMP  "TRIG_IN_36"	  SITE "AM30";
LOCATE COMP  "TRIG_IN_37"	  SITE "AJ27";
LOCATE COMP  "TRIG_IN_38"	  SITE "AL28";
LOCATE COMP  "TRIG_IN_39"	  SITE "AM28";
LOCATE COMP  "TRIG_IN_40"	  SITE "AL26";
LOCATE COMP  "TRIG_IN_41"	  SITE "AJ24";
LOCATE COMP  "TRIG_IN_42"	  SITE "AL25";
LOCATE COMP  "TRIG_IN_43"	  SITE "AJ22";
LOCATE COMP  "TRIG_IN_44"	  SITE "AL23";
LOCATE COMP  "TRIG_IN_45"	  SITE "AJ21";
LOCATE COMP  "TRIG_IN_46"	  SITE "AM23";
LOCATE COMP  "TRIG_IN_47"	  SITE "AL21";
LOCATE COMP  "TRIG_IN_48"	  SITE "AG32";
LOCATE COMP  "TRIG_IN_49"	  SITE "AF32";
LOCATE COMP  "TRIG_IN_50"	  SITE "AE31";
LOCATE COMP  "TRIG_IN_51"	  SITE "AE30";
LOCATE COMP  "TRIG_IN_52"	  SITE "N31";
LOCATE COMP  "TRIG_IN_53"	  SITE "L32";
LOCATE COMP  "TRIG_IN_54"	  SITE "K31";
LOCATE COMP  "TRIG_IN_55"	  SITE "J32";
LOCATE COMP  "TRIG_IN_56"	  SITE "J30";
LOCATE COMP  "TRIG_IN_57"	  SITE "J29";
LOCATE COMP  "TRIG_IN_58"	  SITE "H31";
LOCATE COMP  "TRIG_IN_59"	  SITE "G31";
LOCATE COMP  "TRIG_IN_60"	  SITE "F32";
LOCATE COMP  "TRIG_IN_61"	  SITE "E32";
LOCATE COMP  "TRIG_IN_62"	  SITE "D32";
LOCATE COMP  "TRIG_IN_63"	  SITE "K25";
DEFINE PORT GROUP "TRIG_group" "TRIG*" ;
IOBUF GROUP "TRIG_group"       IO_TYPE=LVDS;

#################################################################
# Pins not needed in lpf
#################################################################
# LOCATE COMP  "PECL_OUT_N__0"    SITE "L4";
# LOCATE COMP  "PECL_OUT_N__1"    SITE "L3";
# LOCATE COMP  "PECL_OUT_N__2"    SITE "M2";

# LOCATE COMP  "TRIG_IN_N__0"   SITE "J8";
# LOCATE COMP  "TRIG_IN_N__1"   SITE "D2";
# LOCATE COMP  "TRIG_IN_N__2"   SITE "E2";
# LOCATE COMP  "TRIG_IN_N__3"   SITE "F2";
# LOCATE COMP  "TRIG_IN_N__4"   SITE "G1";
# LOCATE COMP  "TRIG_IN_N__5"   SITE "H1";
# LOCATE COMP  "TRIG_IN_N__6"   SITE "H4";
# LOCATE COMP  "TRIG_IN_N__7"   SITE "H3";
# LOCATE COMP  "TRIG_IN_N__8"   SITE "J2";
# LOCATE COMP  "TRIG_IN_N__9"   SITE "K1";
# LOCATE COMP  "TRIG_IN_N__10"    SITE "N1";
# LOCATE COMP  "TRIG_IN_N__11"    SITE "P4";
# LOCATE COMP  "TRIG_IN_N__12"    SITE "P2";
# LOCATE COMP  "TRIG_IN_N__13"    SITE "R4";
# LOCATE COMP  "TRIG_IN_N__14"    SITE "R1";
# LOCATE COMP  "TRIG_IN_N__15"    SITE "T1";
# LOCATE COMP  "TRIG_IN_N__16"    SITE "U2";
# LOCATE COMP  "TRIG_IN_N__17"    SITE "V2";
# LOCATE COMP  "TRIG_IN_N__18"    SITE "V3";
# LOCATE COMP  "TRIG_IN_N__19"    SITE "W4";
# LOCATE COMP  "TRIG_IN_N__20"    SITE "Y2";
# LOCATE COMP  "TRIG_IN_N__21"    SITE "Y5";
# LOCATE COMP  "TRIG_IN_N__22"    SITE "Y1";
# LOCATE COMP  "TRIG_IN_N__23"    SITE "AA2";
# LOCATE COMP  "TRIG_IN_N__24"    SITE "AB3";
# LOCATE COMP  "TRIG_IN_N__25"    SITE "AA1";
# LOCATE COMP  "TRIG_IN_N__26"    SITE "AC2";
# LOCATE COMP  "TRIG_IN_N__27"    SITE "AD3";
# LOCATE COMP  "TRIG_IN_N__28"    SITE "AD5";
# LOCATE COMP  "TRIG_IN_N__29"    SITE "AD1";
# LOCATE COMP  "TRIG_IN_N__30"    SITE "AE4";
# LOCATE COMP  "TRIG_IN_N__31"    SITE "AE1";
# LOCATE COMP  "TRIG_IN_N__32"    SITE "AK32";
# LOCATE COMP  "TRIG_IN_N__33"    SITE "AL31";
# LOCATE COMP  "TRIG_IN_N__34"    SITE "AL30";
# LOCATE COMP  "TRIG_IN_N__35"    SITE "AL29";
# LOCATE COMP  "TRIG_IN_N__36"    SITE "AM29";
# LOCATE COMP  "TRIG_IN_N__37"    SITE "AK27";
# LOCATE COMP  "TRIG_IN_N__38"    SITE "AL27";
# LOCATE COMP  "TRIG_IN_N__39"    SITE "AM27";
# LOCATE COMP  "TRIG_IN_N__40"    SITE "AM26";
# LOCATE COMP  "TRIG_IN_N__41"    SITE "AK24";
# LOCATE COMP  "TRIG_IN_N__42"    SITE "AL24";
# LOCATE COMP  "TRIG_IN_N__43"    SITE "AK22";
# LOCATE COMP  "TRIG_IN_N__44"    SITE "AL22";
# LOCATE COMP  "TRIG_IN_N__45"    SITE "AK21";
# LOCATE COMP  "TRIG_IN_N__46"    SITE "AM22";
# LOCATE COMP  "TRIG_IN_N__47"    SITE "AL20";
# LOCATE COMP  "TRIG_IN_N__48"    SITE "AG31";
# LOCATE COMP  "TRIG_IN_N__49"    SITE "AF31";
# LOCATE COMP  "TRIG_IN_N__50"    SITE "AE32";
# LOCATE COMP  "TRIG_IN_N__51"    SITE "AE29";
# LOCATE COMP  "TRIG_IN_N__52"    SITE "N32";
# LOCATE COMP  "TRIG_IN_N__53"    SITE "M32";
# LOCATE COMP  "TRIG_IN_N__54"    SITE "K32";
# LOCATE COMP  "TRIG_IN_N__55"    SITE "J31";
# LOCATE COMP  "TRIG_IN_N__56"    SITE "H30";
# LOCATE COMP  "TRIG_IN_N__57"    SITE "H29";
# LOCATE COMP  "TRIG_IN_N__58"    SITE "H32";
# LOCATE COMP  "TRIG_IN_N__59"    SITE "G32";
# LOCATE COMP  "TRIG_IN_N__60"    SITE "F31";
# LOCATE COMP  "TRIG_IN_N__61"    SITE "E31";
# LOCATE COMP  "TRIG_IN_N__62"    SITE "D31";
# LOCATE COMP  "TRIG_IN_N__63"    SITE "J25";
# LOCATE COMP  "LVDS_OUT_N__0"    SITE "P29";
# LOCATE COMP  "LVDS_OUT_N__1"    SITE "P31";
# LOCATE COMP  "LVDS_OUT_N__2"    SITE "R29";
# LOCATE COMP  "LVDS_OUT_N__3"    SITE "R32";
# LOCATE COMP  "LVDS_OUT_N__4"    SITE "T32";
# LOCATE COMP  "LVDS_OUT_N__5"    SITE "U31";
# LOCATE COMP  "LVDS_OUT_N__6"    SITE "V31";
# LOCATE COMP  "LVDS_OUT_N__7"    SITE "V30";
# LOCATE COMP  "LVDS_OUT_N__8"    SITE "W29";
# LOCATE COMP  "LVDS_OUT_N__9"    SITE "Y31";
# LOCATE COMP  "LVDS_OUT_N__10"   SITE "Y28";
# LOCATE COMP  "LVDS_OUT_N__11"   SITE "Y32";
# LOCATE COMP  "LVDS_OUT_N__12"   SITE "AA30";
# LOCATE COMP  "LVDS_OUT_N__13"   SITE "AA31";
# LOCATE COMP  "LVDS_OUT_N__14"   SITE "AB30";
# LOCATE COMP  "LVDS_OUT_N__15"   SITE "AA32";
# LOCATE COMP  "ADO_CLKOUTN"    SITE "M30";
# LOCATE COMP  "SPI_CLK"    SITE "F16";
# LOCATE COMP  "SPI_CS"   SITE "K15";
# LOCATE COMP  "SPI_IN"   SITE "J15";
# LOCATE COMP  "SPI_OUT"    SITE "B14";
# LOCATE COMP  "RICH_TRIGGER_N"   SITE "AD30";
# LOCATE COMP  "RICH_CLK_N"   SITE "AC31";
# LOCATE COMP  "RICH_RESERVED_N"    SITE "AD32";
# LOCATE COMP  "RICH_TIMING_N"    SITE "AD28";
# LOCATE COMP  "RDCFGN"   SITE "J20";
# LOCATE COMP  "RESETN"   SITE "J21";
# LOCATE COMP  "TDO_F_1"    SITE "J9";
# LOCATE COMP  "FS_PE_0"    SITE "J13";
# LOCATE COMP  "FS_PE_1"    SITE "K9";
# LOCATE COMP  "FS_PE_2"    SITE "J12";
# LOCATE COMP  "TRB3_RXN"   SITE "G25";
# LOCATE COMP  "TRB3_RXP"   SITE "F25";
# LOCATE COMP  "TRB3_TXN"   SITE "B25";
# LOCATE COMP  "TRB3_TXP"   SITE "A25";
# LOCATE COMP  "TRB2_RXN"   SITE "C31";
# LOCATE COMP  "TRB2_RXP"   SITE "C32";
# LOCATE COMP  "TRB2_TXN"   SITE "B30";
# LOCATE COMP  "TRB2_TXP"   SITE "A30";
# LOCATE COMP  "TRB2_RATE_SEL"    SITE "G16";
# LOCATE COMP  "TRB3_RATE_SEL"    SITE "G17";
# LOCATE COMP  "TRB2_TX_FAULT"    SITE "K16";
# LOCATE COMP  "TRB3_TX_FAULT"    SITE "A15";
