COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

#LOCATE COMP  "+1V_2"      SITE "G7";
#LOCATE COMP  "+3V_3"      SITE "K7";
#LOCATE COMP  "ADC_CONVST"         SITE "H2";
#LOCATE COMP  "ADC_SCK"    SITE "H3";
#LOCATE COMP  "ADC_SDI"    SITE "H6";
#LOCATE COMP  "ADC_SDO"    SITE "G6";
#LOCATE COMP  "ADI_0"      SITE "L9";
#LOCATE COMP  "ADI_1"      SITE "M9";

LOCATE COMP  "CLK_P"       SITE "T7";
LOCATE COMP  "CLK_N"       SITE "T8";
IOBUF PORT "CLK_P" IO_TYPE=LVDS25;
#IOBUF PORT "CLK_N" IO_TYPE=LVDS25;

FREQUENCY PORT CLK_P 25.000000 MHz;
#FREQUENCY PORT "clkop_i/mdc_dc_lvl1v3_pcs" 25.000000MHz;

#LOCATE COMP  "CLK_FF"     SITE "D15";
#LOCATE COMP  "CMS"        SITE "R2";
#LOCATE COMP  "COM_STOP_N"         SITE "H5";
#LOCATE COMP  "COM_STOP_P"         SITE "H4";
#LOCATE COMP  "CS_1"       SITE "E12";
#LOCATE COMP  "CS_2"       SITE "F11";
#LOCATE COMP  "DATA_FF"    SITE "D16";
#LOCATE COMP  "FOT_SD"     SITE "G14";

LOCATE COMP  "GDE"        SITE "F16";
IOBUF PORT "GDE" IO_TYPE=LVTTL33;

#LOCATE COMP  "GND"        SITE "T16";
#LOCATE COMP  "INITN"      SITE "H11";
#LOCATE COMP  "MOD"        SITE "P3";
#LOCATE COMP  "MRES"       SITE "P1";
#LOCATE COMP  "N_275154"   SITE "C9";
#LOCATE COMP  "N_295726"   SITE "N13";
#LOCATE COMP  "N_300880"   SITE "K11";
#LOCATE COMP  "N_301156"   SITE "M4";
#LOCATE COMP  "N_318112"   SITE "G10";
#LOCATE COMP  "N_490624"   SITE "N1";
#LOCATE COMP  "N_491087"   SITE "M1";
#LOCATE COMP  "N_494412"   SITE "N2";
#LOCATE COMP  "N_496062"   SITE "N3";
#LOCATE COMP  "N_657328"   SITE "F4";
#LOCATE COMP  "N_699970"   SITE "G1";
#LOCATE COMP  "N_700673"   SITE "F1";
#LOCATE COMP  "N_734912"   SITE "R1";
#LOCATE COMP  "N_1019987"          SITE "B1";
#LOCATE COMP  "N_1021727"          SITE "C1";

LOCATE COMP  "D_1"	  SITE "F1";
IOBUF PORT "D_1" IO_TYPE=LVTTL33;

LOCATE COMP  "D_2"	  SITE "G1";
IOBUF PORT "D_2" IO_TYPE=LVTTL33;

LOCATE COMP  "D_3"	  SITE "B1";
IOBUF PORT "D_3" IO_TYPE=LVTTL33;

LOCATE COMP  "D_4"	  SITE "C1";
IOBUF PORT "D_4" IO_TYPE=LVTTL33;

#LOCATE COMP  "PROGRAMN"   SITE "N12";
#LOCATE COMP  "RDYI"       SITE "P16";
#LOCATE COMP  "RES"        SITE "P4";
#LOCATE COMP  "RXN_0"      SITE "B14";
#LOCATE COMP  "RXP_0"      SITE "A14";
#LOCATE COMP  "SPIFASTN"   SITE "N15";
#LOCATE COMP  "SPI_CLK"    SITE "J11";
#LOCATE COMP  "SPI_CS"     SITE "J16";
#LOCATE COMP  "SPI_DIN"    SITE "G16";
#LOCATE COMP  "SPI_SI"     SITE "J15";
#LOCATE COMP  "TACK"       SITE "P14";
#LOCATE COMP  "TAD_0"      SITE "P8";
#LOCATE COMP  "TAD_1"      SITE "N8";
#LOCATE COMP  "TAD_2"      SITE "R7";
#LOCATE COMP  "TAD_3"      SITE "R8";
#LOCATE COMP  "TAD_4"      SITE "N7";
#LOCATE COMP  "TAD_5"      SITE "M8";
#LOCATE COMP  "TAD_6"      SITE "R9";
#LOCATE COMP  "TAD_7"      SITE "T9";
#LOCATE COMP  "TAD_8"      SITE "R10";
#LOCATE COMP  "TADS_0"     SITE "N9";
#LOCATE COMP  "TADS_1"     SITE "P10";
#LOCATE COMP  "TAOD"       SITE "T5";
#LOCATE COMP  "TCDE_0"     SITE "R13";
#LOCATE COMP  "TCK"        SITE "K6";
#LOCATE COMP  "TCK__186586"        SITE "L6";
#LOCATE COMP  "TDA"        SITE "L5";
#LOCATE COMP  "TDA__186496"        SITE "M5";
#LOCATE COMP  "TDRA"       SITE "N10";
#LOCATE COMP  "TDRB"       SITE "T14";
#LOCATE COMP  "TDRE"       SITE "R11";
#LOCATE COMP  "TDST"       SITE "R16";
#LOCATE COMP  "TDZ"        SITE "N6";
#LOCATE COMP  "TDZ__186592"        SITE "M6";
#LOCATE COMP  "TENB"       SITE "T11";
#LOCATE COMP  "TENR"       SITE "T13";
#LOCATE COMP  "TMS"        SITE "N4";
#LOCATE COMP  "TMS__186502"        SITE "N5";
#LOCATE COMP  "TOK"        SITE "P2";
#LOCATE COMP  "TOR"        SITE "R14";
#LOCATE COMP  "TPS_WDI"    SITE "E13";
#LOCATE COMP  "TRDYO"      SITE "P15";
#LOCATE COMP  "TREN"       SITE "T12";
#LOCATE COMP  "TRSV"       SITE "T4";
#LOCATE COMP  "TXN_0"      SITE "B11";
#LOCATE COMP  "TXP_0"      SITE "A11";
#LOCATE COMP  "VCCIB_1"    SITE "C13";
#LOCATE COMP  "VCCIB_2"    SITE "C5";
#LOCATE COMP  "VCCIB_3"    SITE "B3";
#LOCATE COMP  "VCCOB_1"    SITE "C10";
#LOCATE COMP  "VCCOB_2"    SITE "C8";
#LOCATE COMP  "VCCOB_3"    SITE "A6";
#LOCATE COMP  "WRM"        SITE "R15";
