

#####################################################################
#Clock
#####################################################################
LOCATE COMP  "FCLK3"   SITE "J2";
IOBUF PORT "FCLK3" IO_TYPE=LVDS25 PULLMODE=NONE ;
# LOCATE COMP  "FCLKB3"    SITE "K1";


#####################################################################
# LED
#####################################################################
LOCATE COMP  "DINT"	  SITE "R6";
LOCATE COMP  "DWAIT"	SITE "T5";
LOCATE COMP  "DBAD"	  SITE "T4";
LOCATE COMP  "DGOOD"	SITE "T6";
IOBUF PORT "DINT"   IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "DWAIT"  IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "DBAD"   IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "DGOOD"  IO_TYPE=LVTTL33 PULLMODE=NONE ;


#####################################################################
# Connection to FPGA1
#####################################################################
LOCATE COMP  "F1_TO_F3_0"   SITE "B1";
LOCATE COMP  "F1_TO_F3_1"   SITE "C1";
LOCATE COMP  "F1_TO_F3_2"   SITE "D3";
LOCATE COMP  "F1_TO_F3_3"   SITE "C2";
LOCATE COMP  "F1_TO_F3_4"   SITE "E1";
LOCATE COMP  "F1_TO_F3_5"   SITE "F1";
LOCATE COMP  "F1_TO_F3_6"   SITE "F6";
LOCATE COMP  "F1_TO_F3_7"   SITE "F5";
LOCATE COMP  "F1_TO_F3_8"   SITE "G1";
LOCATE COMP  "F1_TO_F3_9"   SITE "G2";
LOCATE COMP  "F1_TO_F3_10"  SITE "H2";
LOCATE COMP  "F1_TO_F3_11"  SITE "H3";
LOCATE COMP  "F1_TO_F3_12"  SITE "J4";
LOCATE COMP  "F1_TO_F3_13"  SITE "K4";
LOCATE COMP  "F1_TO_F3_14"  SITE "K3";
LOCATE COMP  "F1_TO_F3_15"  SITE "K2";
LOCATE COMP  "F1_TO_F3_16"  SITE "L3";
LOCATE COMP  "F1_TO_F3_17"  SITE "L4";
DEFINE PORT GROUP "f1_to_f3_group" "F1_TO_F3*" ;
IOBUF GROUP "f1_to_f3_group" IO_TYPE=LVCMOS25 PULLMODE=NONE ;

LOCATE COMP  "F3_TO_F1_0"   SITE "D2";
LOCATE COMP  "F3_TO_F1_1"   SITE "D1";
LOCATE COMP  "F3_TO_F1_2"   SITE "F3";
LOCATE COMP  "F3_TO_F1_3"   SITE "F2";
LOCATE COMP  "F3_TO_F1_4"   SITE "G4";
LOCATE COMP  "F3_TO_F1_5"   SITE "G3";
LOCATE COMP  "F3_TO_F1_6"   SITE "H1";
LOCATE COMP  "F3_TO_F1_7"   SITE "J1";
LOCATE COMP  "F3_TO_F1_8"   SITE "G6";
LOCATE COMP  "F3_TO_F1_9"   SITE "H6";
LOCATE COMP  "F3_TO_F1_10"  SITE "H4";
LOCATE COMP  "F3_TO_F1_11"  SITE "H5";
LOCATE COMP  "F3_TO_F1_12"  SITE "J6";
LOCATE COMP  "F3_TO_F1_13"  SITE "J5";
LOCATE COMP  "F3_TO_F1_14"  SITE "L1";
LOCATE COMP  "F3_TO_F1_15"  SITE "L2";
LOCATE COMP  "F3_TO_F1_16"  SITE "M1";
LOCATE COMP  "F3_TO_F1_17"  SITE "N1";
DEFINE PORT GROUP "f3_to_f1_group" "F3_TO_F1*" ;
IOBUF GROUP "f3_to_f1_group" IO_TYPE=LVCMOS25 PULLMODE=NONE ;


LOCATE COMP  "F1_F3_TTL_0"   SITE "T7";
LOCATE COMP  "F1_F3_TTL_1"   SITE "T8";
LOCATE COMP  "F1_F3_TTL_2"   SITE "L7";
LOCATE COMP  "F1_F3_TTL_3"   SITE "L8";
LOCATE COMP  "F1_F3_TTL_4"   SITE "P8";
LOCATE COMP  "F1_F3_TTL_5"   SITE "N8";
LOCATE COMP  "F1_F3_TTL_6"   SITE "R7";
LOCATE COMP  "F1_F3_TTL_7"   SITE "R8";
LOCATE COMP  "F1_F3_TTL_8"   SITE "N7";
DEFINE PORT GROUP "f1_f3_group" "F1_F3*" ;
IOBUF GROUP "f1_f3_group" IO_TYPE=LVTTL33 PULLMODE=NONE ;


#####################################################################
# Connection to FPGA2
#####################################################################

LOCATE COMP  "F2_TO_F3_0"	  SITE "B16";
LOCATE COMP  "F2_TO_F3_1"	  SITE "C16";
LOCATE COMP  "F2_TO_F3_2"	  SITE "E12";
LOCATE COMP  "F2_TO_F3_3"	  SITE "F11";
LOCATE COMP  "F2_TO_F3_4"	  SITE "G15";
LOCATE COMP  "F2_TO_F3_5"   SITE "F16";
LOCATE COMP  "F2_TO_F3_6"	  SITE "G13";
LOCATE COMP  "F2_TO_F3_7"   SITE "G14";
LOCATE COMP  "F2_TO_F3_8"	  SITE "G11";
LOCATE COMP  "F2_TO_F3_9"	  SITE "H11";
LOCATE COMP  "F2_TO_F3_10"	SITE "H15";
LOCATE COMP  "F2_TO_F3_11"	SITE "G16";
LOCATE COMP  "F2_TO_F3_12"	SITE "J13";
LOCATE COMP  "F2_TO_F3_13"  SITE "J14";
LOCATE COMP  "F2_TO_F3_14"	SITE "J16";
LOCATE COMP  "F2_TO_F3_15"  SITE "K15";
LOCATE COMP  "F2_TO_F3_16"	SITE "N2";
LOCATE COMP  "F2_TO_F3_17"	SITE "N3";
DEFINE PORT GROUP "f2_to_f3_group" "F2_TO_F3*" ;
IOBUF GROUP "f2_to_f3_group" IO_TYPE=LVCMOS25 PULLMODE=NONE ;


LOCATE COMP  "F3_TO_F2_0"   SITE "D15";
LOCATE COMP  "F3_TO_F2_1"   SITE "D16";
LOCATE COMP  "F3_TO_F2_2"   SITE "F12";
LOCATE COMP  "F3_TO_F2_3"   SITE "E13";
LOCATE COMP  "F3_TO_F2_4"   SITE "J12";
LOCATE COMP  "F3_TO_F2_5"   SITE "J11";
LOCATE COMP  "F3_TO_F2_6"   SITE "F15";
LOCATE COMP  "F3_TO_F2_7"   SITE "E16";
LOCATE COMP  "F3_TO_F2_8"   SITE "F13";
LOCATE COMP  "F3_TO_F2_9"   SITE "F14";
LOCATE COMP  "F3_TO_F2_10"  SITE "H12";
LOCATE COMP  "F3_TO_F2_11"  SITE "H13";
LOCATE COMP  "F3_TO_F2_12"  SITE "J15";
LOCATE COMP  "F3_TO_F2_13"  SITE "H16";
LOCATE COMP  "F3_TO_F2_14"  SITE "A2";
LOCATE COMP  "F3_TO_F2_15"  SITE "B2";
LOCATE COMP  "F3_TO_F2_16"  SITE "E4";
LOCATE COMP  "F3_TO_F2_17"  SITE "E5";
DEFINE PORT GROUP "f3_to_f2_group" "F3_TO_F2*" ;
IOBUF GROUP "f3_to_f2_group" IO_TYPE=LVCMOS25 PULLMODE=NONE ;


LOCATE COMP  "F2_F3_TTL_0"   SITE "M8";
LOCATE COMP  "F2_F3_TTL_1"   SITE "R9";
LOCATE COMP  "F2_F3_TTL_2"   SITE "T9";
LOCATE COMP  "F2_F3_TTL_3"   SITE "T10";
LOCATE COMP  "F2_F3_TTL_4"   SITE "R10";
LOCATE COMP  "F2_F3_TTL_5"   SITE "N9";
LOCATE COMP  "F2_F3_TTL_6"   SITE "P10";
LOCATE COMP  "F2_F3_TTL_7"   SITE "L9";
LOCATE COMP  "F2_F3_TTL_8"   SITE "M9";
LOCATE COMP  "F2_F3_TTL_9"	  SITE "T11";
LOCATE COMP  "F2_F3_TTL_10"	  SITE "R11";
# LOCATE COMP  "F2_F3_TTL_11"	  SITE "T12";
DEFINE PORT GROUP "f2_f3_group" "F2_F3*" ;
IOBUF GROUP "f2_f3_group" IO_TYPE=LVTTL33 PULLMODE=NONE ;

LOCATE COMP  "ONEWIRE_F3"   SITE "T12";
IOBUF PORT "ONEWIRE_F3" IO_TYPE=LVTTL33 PULLMODE=NONE ;


#####################################################################
#JTAG
#####################################################################
# LOCATE COMP  "FPGA3_TDO"	  SITE "N6";
# LOCATE COMP  "FPGA2_TDO"	  SITE "L5";
# LOCATE COMP  "FS_PE_1"	  SITE "N4";
# LOCATE COMP  "FS_PE_2"	  SITE "K6";
# IOBUF PORT "FPGA3_TDO" IO_TYPE=LVTTL33 PULLMODE=NONE ;
# IOBUF PORT "FPGA2_TDO" IO_TYPE=LVTTL33 PULLMODE=NONE ;
# IOBUF PORT "FS_PE_1" IO_TYPE=LVTTL33 PULLMODE=NONE ;
# IOBUF PORT "FS_PE_2" IO_TYPE=LVTTL33 PULLMODE=NONE ;


#####################################################################
#Optical Transceivers
#####################################################################


LOCATE COMP  "SFP1_TX_DIS"    SITE "M6";
LOCATE COMP  "SFP2_TX_DIS"    SITE "P11";
LOCATE COMP  "SFP1_LOS"   SITE "R1";
LOCATE COMP  "SFP2_LOS"   SITE "R16";
LOCATE COMP  "SFP1_TX_FAULT"    SITE "L6";
LOCATE COMP  "SFP2_TX_FAULT"    SITE "T13";
LOCATE COMP  "SFP1_RATE_SEL"    SITE "P3";
LOCATE COMP  "SFP2_RATE_SEL"    SITE "N10";
LOCATE COMP  "SFP1_MOD_0"   SITE "P4";
LOCATE COMP  "SFP1_MOD_1"	  SITE "P2";
LOCATE COMP  "SFP1_MOD_2"	  SITE "P1";
LOCATE COMP  "SFP2_MOD_0"   SITE "T14";
LOCATE COMP  "SFP2_MOD_1"   SITE "R13";
LOCATE COMP  "SFP2_MOD_2"   SITE "R15";
DEFINE PORT GROUP "sfp_group" "SFP*" ;
IOBUF GROUP "sfp_group" IO_TYPE=LVTTL33 PULLMODE=UP ;


# These are listed for completeness, but will never be used in the lpf file
# LOCATE COMP  "SFP1_RX_P"    SITE "A14";
# LOCATE COMP  "SFP1_RX_N"    SITE "B14";
# LOCATE COMP  "SFP1_TX_P"    SITE "A11";
# LOCATE COMP  "SFP1_TX_N"    SITE "B11";
# LOCATE COMP  "SFP2_RX_P"    SITE "A13";
# LOCATE COMP  "SFP2_RX_N"    SITE "B13";
# LOCATE COMP  "SFP2_TX_P"    SITE "A10";
# LOCATE COMP  "SFP2_TX_N"    SITE "B10";
# LOCATE COMP  "SFP_OSCN"	  SITE "D8";
# LOCATE COMP  "SFP_OSCP"	  SITE "D9";
