BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;

#################################################################
# Clock / Reset
#################################################################
LOCATE COMP "CLK_100" SITE "L32"; #"K25" ;
LOCATE COMP "CLK_125" SITE "K8" ;
#LOCATE COMP "CLK_FPGA"   SITE "L32" ;
LOCATE COMP "PE_RFCK"    SITE "M10" ;

IOBUF PORT "CLK_100" IO_TYPE=LVDS DIFFRESISTOR=120 ;
IOBUF PORT "CLK_125" IO_TYPE=LVDS DIFFRESISTOR=120 ;
#IOBUF PORT "CLK_FPGA"   IO_TYPE=LVDS ;
IOBUF PORT "PE_RFCK"    IO_TYPE=LVDS DIFFRESISTOR=120 ;

LOCATE COMP "NRES"       SITE "AM3" ;
IOBUF  PORT "NRES" IO_TYPE=LVTTL33 ;


#################################################################
# SFP Control
#################################################################
LOCATE COMP "SFP1_LOS" SITE "AH23" ;
LOCATE COMP "SFP1_TX_DIS" SITE "AH24" ;
LOCATE COMP "SFP1_TX_FAULT" SITE "AL22" ;
LOCATE COMP "SFP2_LOS" SITE "AH25" ;
LOCATE COMP "SFP2_TX_DIS" SITE "AH26" ;
LOCATE COMP "SFP2_TX_FAULT" SITE "AM22" ;
LOCATE COMP "SFP3_LOS" SITE "AD18" ;
LOCATE COMP "SFP3_TX_DIS" SITE "AE18" ;
LOCATE COMP "SFP3_TX_FAULT" SITE "AK19" ;
LOCATE COMP "SFP4_LOS" SITE "AH19" ;
LOCATE COMP "SFP4_TX_DIS" SITE "AH18" ;
LOCATE COMP "SFP4_TX_FAULT" SITE "AK18" ;

LOCATE COMP "SFP1_MOD_0" SITE "AG22" ;
LOCATE COMP "SFP1_MOD_1" SITE "AH22" ;
LOCATE COMP "SFP1_MOD_2" SITE "AL23" ;
LOCATE COMP "SFP2_MOD_0" SITE "AE19" ;
LOCATE COMP "SFP2_MOD_1" SITE "AF19" ;
LOCATE COMP "SFP2_MOD_2" SITE "AM23" ;
LOCATE COMP "SFP3_MOD_0" SITE "AG20" ;
LOCATE COMP "SFP3_MOD_1" SITE "AG19" ;
LOCATE COMP "SFP3_MOD_2" SITE "AJ19" ;
LOCATE COMP "SFP4_MOD_0" SITE "AH21" ;
LOCATE COMP "SFP4_MOD_1" SITE "AH20" ;
LOCATE COMP "SFP4_MOD_2" SITE "AJ18" ;

DEFINE PORT GROUP "SFP_group" "SFP*" ;
IOBUF GROUP "SFP_group" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=12;


#################################################################
# Hex-Switch
#################################################################
LOCATE COMP "SWITCH_IN_1" SITE "AK6" ;
LOCATE COMP "SWITCH_IN_2" SITE "AJ6" ;
LOCATE COMP "SWITCH_IN_3" SITE "AF10" ;
LOCATE COMP "SWITCH_IN_4" SITE "AE11" ;

DEFINE PORT GROUP "HSW_group" "SWITCH_IN*" ;
IOBUF GROUP "HSW_group" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=8;


#################################################################
# FPGA Flash
#################################################################
LOCATE COMP "SPI_D_IN"    SITE "B14"; #"AG5" ;
LOCATE COMP "SPI_SCK_OUT" SITE "F16"; #SITE "AL4" ;
LOCATE COMP "SPI_CS_OUT"  SITE "K15"; #SITE "AL3" ;
LOCATE COMP "SPI_SI_OUT"  SITE "J15"; #SITE "AF7" ;

DEFINE PORT GROUP "SPI_group" "SPI*" ;
IOBUF GROUP "SPI_group" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=8;

LOCATE COMP "PROGRMN_OUT" SITE "AM4";
IOBUF PORT  "PROGRMN_OUT" IO_TYPE=LVTTL33 PULLMODE=UP;

#################################################################
# I2C Tempsens
#################################################################
LOCATE COMP "SDA_TMP" SITE "AF6" ;
LOCATE COMP "SCK_TMP" SITE "AK3" ;
IOBUF PORT  "SDA_TMP" IO_TYPE=LVTTL33;
IOBUF PORT  "SCK_TMP" IO_TYPE=LVTTL33;


#################################################################
# PLL User Ports
#################################################################
LOCATE COMP "PLLUSER_1" SITE "AH4" ;
LOCATE COMP "PLLUSER_2" SITE "AK5" ;
LOCATE COMP "PLLUSER_3" SITE "AJ5" ;
LOCATE COMP "PLLUSER_4" SITE "AF8" ;

DEFINE PORT GROUP "PLLUSER_group" "PLLUSER*" ;
IOBUF GROUP "PLLUSER_group" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=8;


#################################################################
# Trigger Bus
#################################################################
LOCATE COMP "ANT_1"  SITE "AM9" ;
LOCATE COMP "ANT_2"  SITE "AM8" ;
LOCATE COMP "ANT_3"  SITE "AF13" ;
LOCATE COMP "ANT_4"  SITE "AE13" ;
LOCATE COMP "ANT_5"  SITE "AL9" ;
LOCATE COMP "ANT_6"  SITE "AL8" ;
LOCATE COMP "ANT_7"  SITE "AG6" ;
LOCATE COMP "ANT_8"  SITE "AK9" ;
LOCATE COMP "ANT_9"  SITE "AJ9" ;
LOCATE COMP "ANT_10" SITE "AG10" ;
LOCATE COMP "ANT_11" SITE "AG11" ;
LOCATE COMP "ANT_12" SITE "AM7" ;
LOCATE COMP "ANT_13" SITE "AL7" ;
LOCATE COMP "ANT_14" SITE "AD13" ;
LOCATE COMP "ANT_15" SITE "AC13" ;
LOCATE COMP "ANT_16" SITE "AK8" ;
LOCATE COMP "ANT_17" SITE "AJ8" ;
LOCATE COMP "ANT_18" SITE "AF11" ;
LOCATE COMP "ANT_19" SITE "AD12" ;
LOCATE COMP "ANT_20" SITE "AE12" ;
LOCATE COMP "ANT_21" SITE "AM6" ;
LOCATE COMP "ANT_22" SITE "AM5" ;
LOCATE COMP "ANT_23" SITE "AC12" ;
LOCATE COMP "ANT_24" SITE "AL6" ;
LOCATE COMP "ANT_25" SITE "AL5" ;
LOCATE COMP "ANT_26" SITE "AG7" ;

DEFINE PORT GROUP "ANT_group" "ANT*" ;
IOBUF GROUP "ANT_group" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=8;


#################################################################
# PCIe Config
#################################################################
LOCATE COMP "X1" SITE "W30" ;
LOCATE COMP "X4" SITE "W29" ;
LOCATE COMP "XC" SITE "V28" ;

LOCATE COMP "PE_RST_N" SITE "W31";
LOCATE COMP "PE_SNCLK" SITE "Y31";
LOCATE COMP "PE_SMDAT" SITE "W27";
LOCATE COMP "PE_WAKEN" SITE "Y27";

DEFINE PORT GROUP "X_group" "X*" ;
IOBUF GROUP "X_group" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=12;

DEFINE PORT GROUP "PE_group" "PE*" ;
IOBUF GROUP "PE_group" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=12;


#################################################################
# LED
#################################################################
LOCATE COMP "LED_0" SITE "AM13" ;
LOCATE COMP "LED_1" SITE "AM12" ;
LOCATE COMP "LED_2" SITE "AH13" ;
LOCATE COMP "LED_3" SITE "AH12" ;
LOCATE COMP "LED_4" SITE "AK14" ;
LOCATE COMP "LED_5" SITE "AJ14" ;
LOCATE COMP "LED_6" SITE "AE15" ;
LOCATE COMP "LED_7" SITE "AD15" ;

DEFINE PORT GROUP "LED_group" "LED*" ;
IOBUF GROUP "LED_group" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=8;


#################################################################
# LCD
#################################################################
# LOCATE COMP "DI_0" SITE "M25" ;
# LOCATE COMP "DI_1" SITE "N25" ;
# LOCATE COMP "DI_2" SITE "J30" ;
# LOCATE COMP "DI_3" SITE "H30" ;
# LOCATE COMP "DI_4" SITE "M28" ;
# LOCATE COMP "DI_5" SITE "N28" ;
# LOCATE COMP "DI_6" SITE "J32" ;
# LOCATE COMP "DOUT_LCD" SITE "N26" ;
# LOCATE COMP "AI_0" SITE "N27" ;
# LOCATE COMP "AI_1" SITE "K31" ;
# LOCATE COMP "WRDIS" SITE "J31" ;

#################################################################
# Debug-Port
#################################################################
LOCATE COMP "TEST_0" SITE "AM11" ;
LOCATE COMP "TEST_1" SITE "AM10" ;
LOCATE COMP "TEST_2" SITE "AH11" ;
LOCATE COMP "TEST_3" SITE "AH10" ;
LOCATE COMP "TEST_4" SITE "AK12" ;
LOCATE COMP "TEST_5" SITE "AJ12" ;
LOCATE COMP "TEST_6" SITE "AF14" ;
LOCATE COMP "TEST_7" SITE "AE14" ;
LOCATE COMP "TEST_8" SITE "AL11" ;
LOCATE COMP "TEST_9" SITE "AL10" ;
LOCATE COMP "TEST_10" SITE "AH9" ;
LOCATE COMP "TEST_11" SITE "AH8" ;
LOCATE COMP "TEST_12" SITE "AK11" ;
LOCATE COMP "TEST_13" SITE "AJ11" ;
LOCATE COMP "TEST_14" SITE "AH7" ;
LOCATE COMP "TEST_15" SITE "AH6" ;
LOCATE COMP "TEST_16" SITE "AM16" ;
LOCATE COMP "TEST_17" SITE "AL16" ;
LOCATE COMP "TEST_18" SITE "AF16" ;
LOCATE COMP "TEST_19" SITE "AE16" ;
LOCATE COMP "TEST_20" SITE "AM15" ;
LOCATE COMP "TEST_21" SITE "AL15" ;
LOCATE COMP "TEST_22" SITE "AD16" ;
LOCATE COMP "TEST_23" SITE "AC16" ;
LOCATE COMP "TEST_24" SITE "AM14" ;
LOCATE COMP "TEST_25" SITE "AL14" ;
LOCATE COMP "TEST_26" SITE "AG16" ;
LOCATE COMP "TEST_27" SITE "AH16" ;
LOCATE COMP "TEST_28" SITE "AK15" ;
LOCATE COMP "TEST_29" SITE "AJ15" ;
LOCATE COMP "TEST_30" SITE "AH15" ;
LOCATE COMP "TEST_31" SITE "AH14" ;

DEFINE PORT GROUP "TEST_group" "TEST*" ;
IOBUF GROUP "TEST_group" IO_TYPE=LVTTL33 PULLMODE=DOWN DRIVE=8;


#################################################################
# RLDRAM
#################################################################
# LOCATE COMP "RL_A_0" SITE "W4" ;
# LOCATE COMP "RL_A_1" SITE "W3" ;
# LOCATE COMP "RL_A_2" SITE "V3" ;
# LOCATE COMP "RL_A_3" SITE "V4" ;
# LOCATE COMP "RL_A_4" SITE "V2" ;
# LOCATE COMP "RL_A_5" SITE "V1" ;
# LOCATE COMP "RL_A_6" SITE "U2" ;
# LOCATE COMP "RL_A_7" SITE "U1" ;
# LOCATE COMP "RL_A_8" SITE "T6" ;
# LOCATE COMP "RL_A_9" SITE "T1" ;
# LOCATE COMP "RL_A_10" SITE "T2" ;
# LOCATE COMP "RL_A_11" SITE "U9" ;
# LOCATE COMP "RL_A_12" SITE "R1" ;
# LOCATE COMP "RL_A_13" SITE "R2" ;
# LOCATE COMP "RL_A_14" SITE "AA1" ;
# LOCATE COMP "RL_A_15" SITE "AB6" ;
# LOCATE COMP "RL_A_16" SITE "AC6" ;
# LOCATE COMP "RL_A_17" SITE "AC2" ;
# LOCATE COMP "RL_A_18" SITE "AD4" ;
# LOCATE COMP "RL_A_19" SITE "AD3" ;
# LOCATE COMP "RL_A_20" SITE "AC5" ;
# LOCATE COMP "RL_A_21" SITE "AD5" ;
# LOCATE COMP "RL_A_22" SITE "AC1" ;
# LOCATE COMP "RL_BA_0" SITE "W5" ;
# LOCATE COMP "RL_BA_1" SITE "Y6" ;
# LOCATE COMP "RL_BA_2" SITE "W6" ;
# LOCATE COMP "RL_CK_N" SITE "R9" ;
# LOCATE COMP "RL_CK_P" SITE "R8" ;
# LOCATE COMP "RL_CS" SITE "Y2" ;
# LOCATE COMP "RL_D_0" SITE "M5" ;
# LOCATE COMP "RL_D_1" SITE "N5" ;
# LOCATE COMP "RL_D_2" SITE "J1" ;
# LOCATE COMP "RL_D_3" SITE "J2" ;
# LOCATE COMP "RL_D_4" SITE "N7" ;
# LOCATE COMP "RL_D_5" SITE "N6" ;
# LOCATE COMP "RL_D_6" SITE "K2" ;
# LOCATE COMP "RL_D_7" SITE "K1" ;
# LOCATE COMP "RL_D_8" SITE "P8" ;
# LOCATE COMP "RL_D_9" SITE "P7" ;
# LOCATE COMP "RL_D_10" SITE "M4" ;
# LOCATE COMP "RL_D_11" SITE "L4" ;
# LOCATE COMP "RL_D_12" SITE "M3" ;
# LOCATE COMP "RL_D_13" SITE "L3" ;
# LOCATE COMP "RL_D_14" SITE "L2" ;
# LOCATE COMP "RL_D_15" SITE "M2" ;
# LOCATE COMP "RL_D_16" SITE "L1" ;
# LOCATE COMP "RL_D_17" SITE "M1" ;
# LOCATE COMP "RL_DK_N" SITE "N1" ;
# LOCATE COMP "RL_DK_P" SITE "N2" ;
# LOCATE COMP "RL_DM" SITE "Y1" ;
# LOCATE COMP "RL_Q_0" SITE "J5" ;
# LOCATE COMP "RL_Q_1" SITE "K5" ;
# LOCATE COMP "RL_Q_2" SITE "F1" ;
# LOCATE COMP "RL_Q_3" SITE "F2" ;
# LOCATE COMP "RL_Q_4" SITE "L8" ;
# LOCATE COMP "RL_Q_5" SITE "L7" ;
# LOCATE COMP "RL_Q_6" SITE "G2" ;
# LOCATE COMP "RL_Q_7" SITE "G1" ;
# LOCATE COMP "RL_Q_8" SITE "L6" ;
# LOCATE COMP "RL_Q_9" SITE "L5" ;
# LOCATE COMP "RL_Q_10" SITE "H2" ;
# LOCATE COMP "RL_Q_11" SITE "H1" ;
# LOCATE COMP "RL_Q_12" SITE "J3" ;
# LOCATE COMP "RL_Q_13" SITE "H3" ;
# LOCATE COMP "RL_Q_14" SITE "N9" ;
# LOCATE COMP "RL_Q_15" SITE "J4" ;
# LOCATE COMP "RL_Q_16" SITE "H4" ;
# LOCATE COMP "RL_Q_17" SITE "M8" ;
# LOCATE COMP "RL_QK_0" SITE "AL2" ;
# LOCATE COMP "RL_QVLD" SITE "N8" ;
# LOCATE COMP "RL_REF" SITE "Y5" ;
# LOCATE COMP "RL_WE" SITE "W8" ;


#################################################################
# Unused names
#################################################################

# LOCATE COMP "SFP1_RD_N" SITE "C31" ;
# LOCATE COMP "SFP1_RD_P" SITE "C32" ;
# LOCATE COMP "SFP1_TD_N" SITE "B30" ;
# LOCATE COMP "SFP1_TD_P" SITE "A30" ;
# LOCATE COMP "SFP2_RD_N" SITE "H28" ;
# LOCATE COMP "SFP2_RD_P" SITE "G28" ;
# LOCATE COMP "SFP2_TD_N" SITE "B29" ;
# LOCATE COMP "SFP2_TD_P" SITE "A29" ;
# LOCATE COMP "SFP3_RD_N" SITE "G25" ;
# LOCATE COMP "SFP3_RD_P" SITE "F25" ;
# LOCATE COMP "SFP3_TD_N" SITE "B25" ;
# LOCATE COMP "SFP3_TD_P" SITE "A25" ;
# LOCATE COMP "SFP4_RD_N" SITE "H23" ;
# LOCATE COMP "SFP4_RD_P" SITE "G23" ;
# LOCATE COMP "SFP4_TD_N" SITE "B24" ;
# LOCATE COMP "SFP4_TD_P" SITE "A24" ;
# LOCATE COMP "SERDES_125N" SITE "J8" ;
# LOCATE COMP "SERDES_100N" SITE "J25";
