COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

#########################################
# Clocks & Reset
#########################################

  LOCATE COMP  "CLK100_P"       SITE "M29";
# LOCATE COMP  "CLK100_N"       SITE "M30";
  IOBUF PORT   "CLK100_P" IO_TYPE=LVDS25 PULLMODE=NONE ;

  LOCATE COMP  "CLK_F2_TO_F1" SITE "N1";
# LOCATE COMP  "CLK_F2_TO_F1_N" SITE "P1";
  IOBUF PORT   "CLK_F2_TO_F1" IO_TYPE=LVDS25 PULLMODE=NONE ;

  LOCATE COMP  "CLK_F1_TO_F2" SITE "M1";
  IOBUF PORT   "CLK_F1_TO_F2" IO_TYPE=LVDS25 PULLMODE=NONE ;



  LOCATE COMP  "ADO_CLK_OUT_P"   SITE "L3";
# LOCATE COMP  "ADO_CLK_OUT_N"   SITE "L2";
  IOBUF PORT   "ADO_CLK_OUT_P" IO_TYPE=LVDS25 PULLMODE=NONE ;

  LOCATE COMP  "FROM_TRB_TO_ADDON_CLK_P"	  SITE "P5";
# LOCATE COMP  "FROM_TRB_TO_ADDON_CLK_N"	  SITE "P4";
  IOBUF PORT   "FROM_TRB_TO_ADDON_CLK_P" IO_TYPE=LVDS25 PULLMODE=NONE ;


  LOCATE COMP  "RESET_N"	      SITE "B17";
  LOCATE COMP  "SUPPL_RESET_N"  SITE "A17";
  IOBUF PORT   "RESET_N"       IO_TYPE=LVTTL33 PULLMODE=UP ;
  IOBUF PORT   "SUPPL_RESET_N" IO_TYPE=LVTTL33 PULLMODE=UP ;

#########################################
# Connection to TRB
#########################################
  LOCATE COMP  "ADO_TTL_0"	  SITE "AD1";
  LOCATE COMP  "ADO_TTL_1"	  SITE "AD3";
  LOCATE COMP  "ADO_TTL_2"	  SITE "AC2";
  LOCATE COMP  "ADO_TTL_3"	  SITE "AC4";
  LOCATE COMP  "ADO_TTL_4"	  SITE "AC6";
  LOCATE COMP  "ADO_TTL_5"	  SITE "AB1";
  LOCATE COMP  "ADO_TTL_6"	  SITE "AB3";
  LOCATE COMP  "ADO_TTL_7"	  SITE "AB5";
  LOCATE COMP  "ADO_TTL_8"	  SITE "AA2";
  LOCATE COMP  "ADO_TTL_9"	  SITE "AA6";
  LOCATE COMP  "ADO_TTL_10"	  SITE "AA8";
  LOCATE COMP  "ADO_TTL_11"	  SITE "Y1";
  LOCATE COMP  "ADO_TTL_12"	  SITE "Y3";
  LOCATE COMP  "ADO_TTL_13"	  SITE "Y5";
  LOCATE COMP  "ADO_TTL_14"	  SITE "Y7";
  LOCATE COMP  "ADO_TTL_15"	  SITE "Y9";
  LOCATE COMP  "ADO_TTL_16"	  SITE "W2";
  LOCATE COMP  "ADO_TTL_17"	  SITE "W4";
  LOCATE COMP  "ADO_TTL_18"	  SITE "W6";
  LOCATE COMP  "ADO_TTL_19"	  SITE "V2";
  LOCATE COMP  "ADO_TTL_20"	  SITE "AD2";
  LOCATE COMP  "ADO_TTL_21"	  SITE "AC1";
  LOCATE COMP  "ADO_TTL_22"	  SITE "AC3";
  LOCATE COMP  "ADO_TTL_23"	  SITE "AC5";
  LOCATE COMP  "ADO_TTL_24"	  SITE "AC7";
  LOCATE COMP  "ADO_TTL_25"	  SITE "AB2";
  LOCATE COMP  "ADO_TTL_26"	  SITE "AB4";
  LOCATE COMP  "ADO_TTL_27"	  SITE "AA1";
  LOCATE COMP  "ADO_TTL_28"	  SITE "AA5";
  LOCATE COMP  "ADO_TTL_29"	  SITE "AA7";
  LOCATE COMP  "ADO_TTL_30"	  SITE "AA9";
  LOCATE COMP  "ADO_TTL_31"	  SITE "Y2";
  LOCATE COMP  "ADO_TTL_32"	  SITE "Y4";
  LOCATE COMP  "ADO_TTL_33"	  SITE "Y6";
  LOCATE COMP  "ADO_TTL_34"	  SITE "Y8";
  LOCATE COMP  "ADO_TTL_35"	  SITE "W1";
  LOCATE COMP  "ADO_TTL_36"	  SITE "W3";
  LOCATE COMP  "ADO_TTL_37"	  SITE "W5";
  LOCATE COMP  "ADO_TTL_38"	  SITE "V1";
  LOCATE COMP  "ADO_TTL_39"	  SITE "V5";
  LOCATE COMP  "ADO_TTL_40"	  SITE "U7";
  LOCATE COMP  "ADO_TTL_41"	  SITE "U9";
  LOCATE COMP  "ADO_TTL_42"	  SITE "U6";
  LOCATE COMP  "ADO_TTL_43"	  SITE "U8";
  LOCATE COMP  "ADO_TTL_44"	  SITE "T1";
  LOCATE COMP  "ADO_TTL_45"	  SITE "T2";
  LOCATE COMP  "ADO_TTL_46"	  SITE "T3";   #occupied by 1-wire interface!
  DEFINE PORT GROUP "ado_ttl_group" "ADO_TTL*" ;
  IOBUF GROUP "ado_ttl_group" IO_TYPE=LVTTL33 PULLMODE=NONE ;

#########################################
# Connection to FPGA2
#########################################

  LOCATE COMP  "F1_TO_F2_0"   SITE "AC30";
  LOCATE COMP  "F1_TO_F2_1"   SITE "AB28";
  LOCATE COMP  "F1_TO_F2_2"   SITE "AB27";
  LOCATE COMP  "F1_TO_F2_3"   SITE "Y28";
  LOCATE COMP  "F1_TO_F2_4"   SITE "V22";
  LOCATE COMP  "F1_TO_F2_5"   SITE "W29";
  LOCATE COMP  "F1_TO_F2_6"   SITE "V29";
  LOCATE COMP  "F1_TO_F2_7"   SITE "W28";
  LOCATE COMP  "F1_TO_F2_8"   SITE "U27";
  LOCATE COMP  "F1_TO_F2_9"   SITE "U26";
  LOCATE COMP  "F1_TO_F2_10"  SITE "R30";
  LOCATE COMP  "F1_TO_F2_11"  SITE "T28";
  LOCATE COMP  "F1_TO_F2_12"  SITE "R29";
  LOCATE COMP  "F1_TO_F2_13"  SITE "N29";
  LOCATE COMP  "F1_TO_F2_14"  SITE "P28";
  LOCATE COMP  "F1_TO_F2_15"  SITE "P24";
  LOCATE COMP  "F1_TO_F2_16"  SITE "P26";
  LOCATE COMP  "F1_TO_F2_17"  SITE "P22";
  LOCATE COMP  "F1_TO_F2_18"  SITE "N23";
  LOCATE COMP  "F1_TO_F2_19"  SITE "M28";
  LOCATE COMP  "F1_TO_F2_20"  SITE "M26";
  LOCATE COMP  "F1_TO_F2_21"  SITE "L27";
  LOCATE COMP  "F1_TO_F2_22"  SITE "M22";
  LOCATE COMP  "F1_TO_F2_23"  SITE "L23";
  LOCATE COMP  "F1_TO_F2_24"  SITE "K25";
  LOCATE COMP  "F1_TO_F2_25"  SITE "K22";
  LOCATE COMP  "F1_TO_F2_26"  SITE "H26";
  LOCATE COMP  "F1_TO_F2_27"  SITE "H24";
  LOCATE COMP  "F1_TO_F2_28"  SITE "J28";
  LOCATE COMP  "F1_TO_F2_29"  SITE "H25";
  LOCATE COMP  "F1_TO_F2_30"  SITE "G25";
  LOCATE COMP  "F1_TO_F2_31"  SITE "E29";
  DEFINE PORT GROUP "f1_to_f2_group" "F1_TO_F2*" ;
  IOBUF GROUP "f1_to_f2_group" IO_TYPE=LVDS25 PULLMODE=NONE ;

  LOCATE COMP  "F2_TO_F1_0"   SITE "AC28";
  LOCATE COMP  "F2_TO_F1_1"   SITE "AA30";
  LOCATE COMP  "F2_TO_F1_2"   SITE "Y23";
  LOCATE COMP  "F2_TO_F1_3"   SITE "Y25";
  LOCATE COMP  "F2_TO_F1_4"   SITE "Y29";
  LOCATE COMP  "F2_TO_F1_5"   SITE "Y26";
  LOCATE COMP  "F2_TO_F1_6"   SITE "W26";
  LOCATE COMP  "F2_TO_F1_7"   SITE "V25";
  LOCATE COMP  "F2_TO_F1_8"   SITE "U30";
  LOCATE COMP  "F2_TO_F1_9"   SITE "V23";
  LOCATE COMP  "F2_TO_F1_10"  SITE "U24";
  LOCATE COMP  "F2_TO_F1_11"  SITE "T22";
  LOCATE COMP  "F2_TO_F1_12"  SITE "R22";
  LOCATE COMP  "F2_TO_F1_13"  SITE "T26";
  LOCATE COMP  "F2_TO_F1_14"  SITE "R28";
  LOCATE COMP  "F2_TO_F1_15"  SITE "P27";
  LOCATE COMP  "F2_TO_F1_16"  SITE "N26";
  LOCATE COMP  "F2_TO_F1_17"  SITE "L29";
  LOCATE COMP  "F2_TO_F1_18"  SITE "L26";
  LOCATE COMP  "F2_TO_F1_19"  SITE "K29";
  LOCATE COMP  "F2_TO_F1_20"  SITE "K26";
  LOCATE COMP  "F2_TO_F1_21"  SITE "J29";
  LOCATE COMP  "F2_TO_F1_22"  SITE "J23";
  LOCATE COMP  "F2_TO_F1_23"  SITE "G30";
  LOCATE COMP  "F2_TO_F1_24"  SITE "G26";
  LOCATE COMP  "F2_TO_F1_25"  SITE "G29";
  LOCATE COMP  "F2_TO_F1_26"  SITE "G27";
  LOCATE COMP  "F2_TO_F1_27"  SITE "F29";
  LOCATE COMP  "F2_TO_F1_28"  SITE "F25";
  LOCATE COMP  "F2_TO_F1_29"  SITE "E28";
  LOCATE COMP  "F2_TO_F1_30"  SITE "E27";
  LOCATE COMP  "F2_TO_F1_31"  SITE "D29";
  DEFINE PORT GROUP "f2_to_f1_group" "F2_TO_F1*" ;
  IOBUF GROUP "f2_to_f1_group" IO_TYPE=LVDS25 PULLMODE=NONE ;



# Not used in LVDS mode
# LOCATE COMP  "F1_TO_F2B_0"   SITE "AC29";
# LOCATE COMP  "F1_TO_F2B_1"   SITE "AB29";
# LOCATE COMP  "F1_TO_F2B_2"   SITE "AB26";
# LOCATE COMP  "F1_TO_F2B_3"   SITE "AA29";
# LOCATE COMP  "F1_TO_F2B_4"   SITE "W22";
# LOCATE COMP  "F1_TO_F2B_5"   SITE "W30";
# LOCATE COMP  "F1_TO_F2B_6"   SITE "U29";
# LOCATE COMP  "F1_TO_F2B_7"   SITE "W27";
# LOCATE COMP  "F1_TO_F2B_8"   SITE "U28";
# LOCATE COMP  "F1_TO_F2B_9"   SITE "V26";
# LOCATE COMP  "F1_TO_F2B_10"  SITE "T30";
# LOCATE COMP  "F1_TO_F2B_11"  SITE "T29";
# LOCATE COMP  "F1_TO_F2B_12"  SITE "P30";
# LOCATE COMP  "F1_TO_F2B_13"  SITE "N30";
# LOCATE COMP  "F1_TO_F2B_14"  SITE "P29";
# LOCATE COMP  "F1_TO_F2B_15"  SITE "P23";
# LOCATE COMP  "F1_TO_F2B_16"  SITE "P25";
# LOCATE COMP  "F1_TO_F2B_17"  SITE "N22";
# LOCATE COMP  "F1_TO_F2B_18"  SITE "N24";
# LOCATE COMP  "F1_TO_F2B_19"  SITE "M27";
# LOCATE COMP  "F1_TO_F2B_20"  SITE "M25";
# LOCATE COMP  "F1_TO_F2B_21"  SITE "L28";
# LOCATE COMP  "F1_TO_F2B_22"  SITE "L22";
# LOCATE COMP  "F1_TO_F2B_23"  SITE "L24";
# LOCATE COMP  "F1_TO_F2B_24"  SITE "K24";
# LOCATE COMP  "F1_TO_F2B_25"  SITE "K23";
# LOCATE COMP  "F1_TO_F2B_26"  SITE "J26";
# LOCATE COMP  "F1_TO_F2B_27"  SITE "H23";
# LOCATE COMP  "F1_TO_F2B_28"  SITE "H28";
# LOCATE COMP  "F1_TO_F2B_29"  SITE "G24";
# LOCATE COMP  "F1_TO_F2B_30"  SITE "F26";
# LOCATE COMP  "F1_TO_F2B_31"  SITE "E30";
# LOCATE COMP  "F2_TO_F1B_0"   SITE "AC27";
# LOCATE COMP  "F2_TO_F1B_1"   SITE "AB30";
# LOCATE COMP  "F2_TO_F1B_2"   SITE "Y22";
# LOCATE COMP  "F2_TO_F1B_3"   SITE "Y24";
# LOCATE COMP  "F2_TO_F1B_4"   SITE "Y30";
# LOCATE COMP  "F2_TO_F1B_5"   SITE "Y27";
# LOCATE COMP  "F2_TO_F1B_6"   SITE "W25";
# LOCATE COMP  "F2_TO_F1B_7"   SITE "V24";
# LOCATE COMP  "F2_TO_F1B_8"   SITE "V30";
# LOCATE COMP  "F2_TO_F1B_9"   SITE "U23";
# LOCATE COMP  "F2_TO_F1B_10"  SITE "U25";
# LOCATE COMP  "F2_TO_F1B_11"  SITE "T23";
# LOCATE COMP  "F2_TO_F1B_12"  SITE "R23";
# LOCATE COMP  "F2_TO_F1B_13"  SITE "T27";
# LOCATE COMP  "F2_TO_F1B_14"  SITE "R27";
# LOCATE COMP  "F2_TO_F1B_15"  SITE "R26";
# LOCATE COMP  "F2_TO_F1B_16"  SITE "N25";
# LOCATE COMP  "F2_TO_F1B_17"  SITE "L30";
# LOCATE COMP  "F2_TO_F1B_18"  SITE "L25";
# LOCATE COMP  "F2_TO_F1B_19"  SITE "K30";
# LOCATE COMP  "F2_TO_F1B_20"  SITE "J27";
# LOCATE COMP  "F2_TO_F1B_21"  SITE "J30";
# LOCATE COMP  "F2_TO_F1B_22"  SITE "J22";
# LOCATE COMP  "F2_TO_F1B_23"  SITE "H30";
# LOCATE COMP  "F2_TO_F1B_24"  SITE "H27";
# LOCATE COMP  "F2_TO_F1B_25"  SITE "H29";
# LOCATE COMP  "F2_TO_F1B_26"  SITE "G28";
# LOCATE COMP  "F2_TO_F1B_27"  SITE "F30";
# LOCATE COMP  "F2_TO_F1B_28"  SITE "F24";
# LOCATE COMP  "F2_TO_F1B_29"  SITE "D28";
# LOCATE COMP  "F2_TO_F1B_30"  SITE "D27";
# LOCATE COMP  "F2_TO_F1B_31"  SITE "D30";



#########################################
# Optical Link Control Signals
# Names changed to be consistent to internal serdes numbers
# Be aware that the numbering does not follow the location on the board, but the internal connection must be reversed!
#########################################
  LOCATE COMP  "TX_DIS_1"	    SITE "U4";
  LOCATE COMP  "TX_DIS_2"	    SITE "U1";
  LOCATE COMP  "TX_DIS_3"	    SITE "V7";
  LOCATE COMP  "TX_DIS_4"	    SITE "AG3";
  LOCATE COMP  "TX_DIS_5"	    SITE "AF4";
  LOCATE COMP  "TX_DIS_6"	    SITE "AG8";
  LOCATE COMP  "TX_DIS_7"	    SITE "AD9";
  LOCATE COMP  "TX_DIS_8"	    SITE "AE10";
  LOCATE COMP  "TX_DIS_9"	    SITE "AE11";
  LOCATE COMP  "TX_DIS_10"	  SITE "AE18";
  LOCATE COMP  "TX_DIS_11"	  SITE "AF19";
  LOCATE COMP  "TX_DIS_12" 	  SITE "AC19";
  LOCATE COMP  "TX_DIS_13"	  SITE "AC20";
  LOCATE COMP  "TX_DIS_14"	  SITE "AG21";
  LOCATE COMP  "TX_DIS_15"	  SITE "AC23";
  LOCATE COMP  "TX_DIS_16"	  SITE "AE25";
  DEFINE PORT GROUP "tx_dis_group" "TX_DIS*" ;
  IOBUF GROUP "tx_dis_group" IO_TYPE=LVTTL33 PULLMODE=DOWN ;


  #Not supported by SFPs
  LOCATE COMP  "TX_FAULT_1"	    SITE "U5";
  LOCATE COMP  "TX_FAULT_2"	    SITE "U2";
  LOCATE COMP  "TX_FAULT_3"	    SITE "V8";
  LOCATE COMP  "TX_FAULT_4"	    SITE "AG2";
  LOCATE COMP  "TX_FAULT_5"	    SITE "AF3";
  LOCATE COMP  "TX_FAULT_6"	    SITE "AE8";
  LOCATE COMP  "TX_FAULT_7"	    SITE "AG9";
  LOCATE COMP  "TX_FAULT_8"	    SITE "AD10";
  LOCATE COMP  "TX_FAULT_9"     SITE "AD11";
  LOCATE COMP  "TX_FAULT_10"	  SITE "AB18";
  LOCATE COMP  "TX_FAULT_11"	  SITE "AD18";
  LOCATE COMP  "TX_FAULT_12" 	  SITE "AG20";
  LOCATE COMP  "TX_FAULT_13"	  SITE "AE20";
  LOCATE COMP  "TX_FAULT_14"	  SITE "AF21";
  LOCATE COMP  "TX_FAULT_15"	  SITE "AD23";
  LOCATE COMP  "TX_FAULT_16"	  SITE "AD24";
  DEFINE PORT GROUP "tx_fault_group" "TX_FAULT*" ;
  IOBUF GROUP "tx_fault_group" IO_TYPE=LVTTL33 PULLMODE=DOWN ;

  LOCATE COMP  "SFP_LOS_1"	  SITE "U3";
  LOCATE COMP  "SFP_LOS_2"	  SITE "V9";
  LOCATE COMP  "SFP_LOS_3"	  SITE "V6";
  LOCATE COMP  "SFP_LOS_4"	  SITE "AG4";
  LOCATE COMP  "SFP_LOS_5"	  SITE "AG5";
  LOCATE COMP  "SFP_LOS_6"	  SITE "AF8";
  LOCATE COMP  "SFP_LOS_7"	  SITE "AF10";
  LOCATE COMP  "SFP_LOS_8"	  SITE "AG10";
  LOCATE COMP  "SFP_LOS_9"	  SITE "AF11";
  LOCATE COMP  "SFP_LOS_10"	  SITE "AC18";
  LOCATE COMP  "SFP_LOS_11"	  SITE "AG19";
  LOCATE COMP  "SFP_LOS_12"	  SITE "AD20";
  LOCATE COMP  "SFP_LOS_13"	  SITE "AE21";
  LOCATE COMP  "SFP_LOS_14"	  SITE "AG22";
  LOCATE COMP  "SFP_LOS_15"	  SITE "AE24";
  LOCATE COMP  "SFP_LOS_16"	  SITE "AF26";
  DEFINE PORT GROUP "sfp_los_group" "SFP_LOS*" ;
  IOBUF GROUP "sfp_los_group" IO_TYPE=LVTTL33 PULLMODE=UP ;

  LOCATE COMP  "SFP_MOD0_1"	  SITE "E5";
  LOCATE COMP  "SFP_MOD0_2"	  SITE "E8";
  LOCATE COMP  "SFP_MOD0_3"	  SITE "H10";
  LOCATE COMP  "SFP_MOD0_4"	  SITE "J13";
  LOCATE COMP  "SFP_MOD0_5"	  SITE "G11";
  LOCATE COMP  "SFP_MOD0_6"	  SITE "H13";
  LOCATE COMP  "SFP_MOD0_7"	  SITE "D12";
  LOCATE COMP  "SFP_MOD0_8"	  SITE "C14";
  LOCATE COMP  "SFP_MOD0_9"   SITE "G13";
  LOCATE COMP  "SFP_MOD0_10"  SITE "H14";
  LOCATE COMP  "SFP_MOD0_11"  SITE "C15";
  LOCATE COMP  "SFP_MOD0_12"  SITE "H18";
  LOCATE COMP  "SFP_MOD0_13"  SITE "D20";
  LOCATE COMP  "SFP_MOD0_14"  SITE "D21";
  LOCATE COMP  "SFP_MOD0_15"  SITE "E23";
  LOCATE COMP  "SFP_MOD0_16"  SITE "D26";

  LOCATE COMP  "SFP_MOD1_1"	  SITE "D5";
  LOCATE COMP  "SFP_MOD1_2"	  SITE "F7";
  LOCATE COMP  "SFP_MOD1_3"	  SITE "D9";
  LOCATE COMP  "SFP_MOD1_4"	  SITE "J12";
  LOCATE COMP  "SFP_MOD1_5"	  SITE "F11";
  LOCATE COMP  "SFP_MOD1_6"	  SITE "H12";
  LOCATE COMP  "SFP_MOD1_7"	  SITE "E13";
  LOCATE COMP  "SFP_MOD1_8"	  SITE "B14";
  LOCATE COMP  "SFP_MOD1_9"   SITE "F13";
  LOCATE COMP  "SFP_MOD1_10"  SITE "G14";
  LOCATE COMP  "SFP_MOD1_11"  SITE "D15";
  LOCATE COMP  "SFP_MOD1_12"  SITE "G18";
  LOCATE COMP  "SFP_MOD1_13"  SITE "E20";
  LOCATE COMP  "SFP_MOD1_14"  SITE "F21";
  LOCATE COMP  "SFP_MOD1_15"  SITE "G22";
  LOCATE COMP  "SFP_MOD1_16"  SITE "E26";

  LOCATE COMP  "SFP_MOD2_1"	  SITE "D4";
  LOCATE COMP  "SFP_MOD2_2"	  SITE "F6";
  LOCATE COMP  "SFP_MOD2_3"	  SITE "D8";
  LOCATE COMP  "SFP_MOD2_4"	  SITE "J11";
  LOCATE COMP  "SFP_MOD2_5"	  SITE "D11";
  LOCATE COMP  "SFP_MOD2_6"	  SITE "H11";
  LOCATE COMP  "SFP_MOD2_7"	  SITE "E12";
  LOCATE COMP  "SFP_MOD2_8"	  SITE "A14";
  LOCATE COMP  "SFP_MOD2_9"   SITE "D13";
  LOCATE COMP  "SFP_MOD2_10"  SITE "F14";
  LOCATE COMP  "SFP_MOD2_11"  SITE "J14";
  LOCATE COMP  "SFP_MOD2_12"  SITE "D19";
  LOCATE COMP  "SFP_MOD2_13"  SITE "E19";
  LOCATE COMP  "SFP_MOD2_14"  SITE "E21";
  LOCATE COMP  "SFP_MOD2_15"  SITE "D22";
  LOCATE COMP  "SFP_MOD2_16"  SITE "D23";
  DEFINE PORT GROUP "sfp_mod_group" "SFP_MOD*" ;
  IOBUF GROUP "sfp_mod_group" IO_TYPE=LVTTL33 PULLMODE=UP ;

#########################################
# LED
#########################################
  LOCATE COMP  "SFP_LED_GREEN_1"	  SITE "R2";
  LOCATE COMP  "SFP_LED_GREEN_2"	  SITE "T8";
  LOCATE COMP  "SFP_LED_GREEN_3"	  SITE "T5";
  LOCATE COMP  "SFP_LED_GREEN_4"	  SITE "AG12";
  LOCATE COMP  "SFP_LED_GREEN_5"	  SITE "AC12";
  LOCATE COMP  "SFP_LED_GREEN_6"	  SITE "AC13";
  LOCATE COMP  "SFP_LED_GREEN_7"	  SITE "AG13";
  LOCATE COMP  "SFP_LED_GREEN_8"	  SITE "AC14";
  LOCATE COMP  "SFP_LED_GREEN_9"	  SITE "AD15";
  LOCATE COMP  "SFP_LED_GREEN_10"	  SITE "AK14";
  LOCATE COMP  "SFP_LED_GREEN_11"	  SITE "AJ15";
  LOCATE COMP  "SFP_LED_GREEN_12"	  SITE "AH16";
  LOCATE COMP  "SFP_LED_GREEN_13"	  SITE "AD17";
  LOCATE COMP  "SFP_LED_GREEN_14"	  SITE "AJ17";
  LOCATE COMP  "SFP_LED_GREEN_15"	  SITE "AC17";
  LOCATE COMP  "SFP_LED_GREEN_16"	  SITE "AG18";
  LOCATE COMP  "SFP_LED_ORANGE_1"	  SITE "R1";
  LOCATE COMP  "SFP_LED_ORANGE_2"	  SITE "R3";
  LOCATE COMP  "SFP_LED_ORANGE_3"	  SITE "T4";
  LOCATE COMP  "SFP_LED_ORANGE_4"	  SITE "AG11";
  LOCATE COMP  "SFP_LED_ORANGE_5"	  SITE "AF12";
  LOCATE COMP  "SFP_LED_ORANGE_6"	  SITE "AD13";
  LOCATE COMP  "SFP_LED_ORANGE_7"	  SITE "AF13";
  LOCATE COMP  "SFP_LED_ORANGE_8"	  SITE "AE14";
  LOCATE COMP  "SFP_LED_ORANGE_9"   SITE "AC15";
  LOCATE COMP  "SFP_LED_ORANGE_10"  SITE "AJ14";
  LOCATE COMP  "SFP_LED_ORANGE_11"  SITE "AD16";
  LOCATE COMP  "SFP_LED_ORANGE_12"  SITE "AG16";
  LOCATE COMP  "SFP_LED_ORANGE_13"  SITE "AK17";
  LOCATE COMP  "SFP_LED_ORANGE_14"  SITE "AH17";
  LOCATE COMP  "SFP_LED_ORANGE_15"  SITE "AE17";
  LOCATE COMP  "SFP_LED_ORANGE_16"  SITE "AF18";
  DEFINE PORT GROUP "sfp_led_group" "SFP_LED*" ;
  IOBUF GROUP "sfp_led_group" IO_TYPE=LVTTL33 PULLMODE=UP ;

#########################################
# Connection to ETRAX
#########################################
  LOCATE COMP  "FS_PE_0"	  SITE "AE1";
  LOCATE COMP  "FS_PE_1"	  SITE "AF2";
  LOCATE COMP  "FS_PE_2"	  SITE "AE2";
  LOCATE COMP  "FS_PE_5"	  SITE "J18";
  LOCATE COMP  "FS_PE_6"	  SITE "J19";
  LOCATE COMP  "FS_PE_7"	  SITE "H17";
  LOCATE COMP  "FS_PE_8"	  SITE "J17";
  LOCATE COMP  "FS_PE_9"	  SITE "F18";
  LOCATE COMP  "FS_PE_10"	  SITE "F17";
  LOCATE COMP  "FS_PE_11"	  SITE "A16";
  LOCATE COMP  "FS_PE_12"	  SITE "B16";
  LOCATE COMP  "FS_PE_13"	  SITE "G17";
  LOCATE COMP  "FS_PE_14"	  SITE "G16";
  LOCATE COMP  "FS_PE_15"	  SITE "H16";
  LOCATE COMP  "FS_PE_16"	  SITE "F16";
  DEFINE PORT GROUP "fs_pe_group" "FS_PE*" ;
  IOBUF GROUP "fs_pe_group" IO_TYPE=LVTTL33 PULLMODE=DOWN;


#########################################
# Connection to Onewire
#########################################
  LOCATE COMP  "ONEWIRE"         SITE "H1";   #To temperature sensor patch
  IOBUF PORT "ONEWIRE" IO_TYPE=LVCMOS25 PULLMODE=UP;
  LOCATE COMP  "ONEWIRE_MONITOR" SITE "T3";   #1wire-line to FPGA2



#########################################
# Test Connectors
# 0-10 on JTESTCON1, 11-26 on JTESTCON2
#########################################
  LOCATE COMP  "TEST1_0"	  SITE "AE13";
  LOCATE COMP  "TEST1_1"	  SITE "AD14";
  LOCATE COMP  "TEST1_2"	  SITE "AE15";
  LOCATE COMP  "TEST1_3"	  SITE "AF15";
  LOCATE COMP  "TEST1_4"	  SITE "AH14";
  LOCATE COMP  "TEST1_5"	  SITE "AG15";
  LOCATE COMP  "TEST1_6"	  SITE "AF16";
  LOCATE COMP  "TEST1_7"	  SITE "AH15";
  LOCATE COMP  "TEST1_8"	  SITE "AC16";
  LOCATE COMP  "TEST1_9"	  SITE "AE16";
  LOCATE COMP  "TEST1_10"	  SITE "AK15";
  LOCATE COMP  "TEST1_11"	  SITE "AK16";
  LOCATE COMP  "TEST1_12"	  SITE "AJ16";
  LOCATE COMP  "TEST1_13"	  SITE "E15";
  LOCATE COMP  "TEST1_14"	  SITE "E18";
  LOCATE COMP  "TEST1_15"	  SITE "D18";
  LOCATE COMP  "TEST1_16"	  SITE "C17";
  LOCATE COMP  "TEST1_17"	  SITE "J16";
  LOCATE COMP  "TEST1_18"	  SITE "G15";
  LOCATE COMP  "TEST1_19"	  SITE "C16";
  LOCATE COMP  "TEST1_20"	  SITE "D16";
  LOCATE COMP  "TEST1_21"	  SITE "J15";
  LOCATE COMP  "TEST1_22"	  SITE "H15";
  LOCATE COMP  "TEST1_23"	  SITE "A15";
  LOCATE COMP  "TEST1_24"	  SITE "B15";
  LOCATE COMP  "TEST1_25"	  SITE "F15";
  LOCATE COMP  "TEST1_26"	  SITE "E16";
  DEFINE PORT GROUP "test1_group" "TEST1*" ;
  IOBUF GROUP "test1_group" IO_TYPE=LVTTL33 PULLMODE=DOWN ;
