

IOBUF ALLPORTS IO_TYPE=LVTTL33 PULLMODE=DOWN ;

#########################################
# Clock & Reset
#########################################
  LOCATE COMP  "CLK_F2_TO_F1"    SITE "AC30";
  LOCATE COMP  "CLK_F1_TO_F2"    SITE "N1";

  IOBUF PORT   "CLK_F1_TO_F2" IO_TYPE=LVDS25 PULLMODE=NONE ;
  IOBUF PORT   "CLK_F2_TO_F1" IO_TYPE=LVDS25 PULLMODE=NONE ;

  LOCATE COMP  "ADDON_RESET"    SITE "C17";
  LOCATE COMP  "RESET_N"        SITE "B17";
  LOCATE COMP  "SUPPL_RESET_N"  SITE "A17";


#########################################
# Connection to TRB
#########################################
  LOCATE COMP  "ADO_LV_0"	  SITE "E29";
  LOCATE COMP  "ADO_LV_1"	  SITE "E30";
  LOCATE COMP  "ADO_LV_2"	  SITE "H25";
  LOCATE COMP  "ADO_LV_3"	  SITE "G24";
  LOCATE COMP  "ADO_LV_4"	  SITE "H26";
  LOCATE COMP  "ADO_LV_5"	  SITE "J26";
  LOCATE COMP  "ADO_LV_6"	  SITE "K22";
  LOCATE COMP  "ADO_LV_7"	  SITE "K23";
  LOCATE COMP  "ADO_LV_8"	  SITE "L23";
  LOCATE COMP  "ADO_LV_9"	  SITE "L24";
  LOCATE COMP  "ADO_LV_10"	  SITE "L27";
  LOCATE COMP  "ADO_LV_11"	  SITE "L28";
  LOCATE COMP  "ADO_LV_12"	  SITE "M26";
  LOCATE COMP  "ADO_LV_13"	  SITE "M25";
  LOCATE COMP  "ADO_LV_14"	  SITE "N23";
  LOCATE COMP  "ADO_LV_15"	  SITE "N24";
  LOCATE COMP  "ADO_LV_16"	  SITE "P26";
  LOCATE COMP  "ADO_LV_17"	  SITE "P25";
  LOCATE COMP  "ADO_LV_18"	  SITE "N29";
  LOCATE COMP  "ADO_LV_19"	  SITE "N30";
  LOCATE COMP  "ADO_LV_20"	  SITE "R29";
  LOCATE COMP  "ADO_LV_21"	  SITE "P30";
  LOCATE COMP  "ADO_LV_22"	  SITE "T28";
  LOCATE COMP  "ADO_LV_23"	  SITE "T29";
  LOCATE COMP  "ADO_LV_24"	  SITE "U27";
  LOCATE COMP  "ADO_LV_25"	  SITE "U28";
  LOCATE COMP  "ADO_LV_26"	  SITE "W29";
  LOCATE COMP  "ADO_LV_27"	  SITE "W30";
  LOCATE COMP  "ADO_LV_28"	  SITE "G25";
  LOCATE COMP  "ADO_LV_29"	  SITE "F26";
  LOCATE COMP  "ADO_LV_30"	  SITE "H24";
  LOCATE COMP  "ADO_LV_31"	  SITE "H23";
  LOCATE COMP  "ADO_LV_32"	  SITE "J28";
  LOCATE COMP  "ADO_LV_33"	  SITE "H28";
  LOCATE COMP  "ADO_LV_34"	  SITE "K25";
  LOCATE COMP  "ADO_LV_35"	  SITE "K24";
  LOCATE COMP  "ADO_LV_36"	  SITE "M22";
  LOCATE COMP  "ADO_LV_37"	  SITE "L22";
  LOCATE COMP  "ADO_LV_38"	  SITE "M28";
  LOCATE COMP  "ADO_LV_39"	  SITE "M27";
  LOCATE COMP  "ADO_LV_40"	  SITE "P22";
  LOCATE COMP  "ADO_LV_41"	  SITE "N22";
  LOCATE COMP  "ADO_LV_42"	  SITE "P24";
  LOCATE COMP  "ADO_LV_43"	  SITE "P23";
  LOCATE COMP  "ADO_LV_44"	  SITE "P28";
  LOCATE COMP  "ADO_LV_45"	  SITE "P29";
  LOCATE COMP  "ADO_LV_46"	  SITE "R30";
  LOCATE COMP  "ADO_LV_47"	  SITE "T30";
  LOCATE COMP  "ADO_LV_48"	  SITE "U26";
  LOCATE COMP  "ADO_LV_49"	  SITE "V26";
  LOCATE COMP  "ADO_LV_50"	  SITE "W28";
  LOCATE COMP  "ADO_LV_51"	  SITE "W27";
  LOCATE COMP  "ADO_LV_52"	  SITE "V29";
  LOCATE COMP  "ADO_LV_53"	  SITE "U29";
  LOCATE COMP  "ADO_LV_54"	  SITE "V22";
  LOCATE COMP  "ADO_LV_55"	  SITE "W22";
  LOCATE COMP  "ADO_LV_56"	  SITE "Y28";
  LOCATE COMP  "ADO_LV_57"	  SITE "AA29";
  LOCATE COMP  "ADO_LV_58"	  SITE "AB27";
  LOCATE COMP  "ADO_LV_59"	  SITE "AB26";
  LOCATE COMP  "ADO_LV_60"	  SITE "AB28";
  LOCATE COMP  "ADO_LV_61"	  SITE "AB29";
  DEFINE PORT GROUP "ado_lv_group" "ADO_LV*" ;
  IOBUF GROUP "ado_lv_group" IO_TYPE=LVDS25 PULLMODE=NONE ;

  LOCATE COMP  "ADO_TTL_0"	  SITE "AF10";
  LOCATE COMP  "ADO_TTL_1"	  SITE "AE8";
  LOCATE COMP  "ADO_TTL_2"	  SITE "AE11";
  LOCATE COMP  "ADO_TTL_3"	  SITE "AD9";
  LOCATE COMP  "ADO_TTL_4"	  SITE "AE10";
  LOCATE COMP  "ADO_TTL_5"	  SITE "AD10";
  LOCATE COMP  "ADO_TTL_6"	  SITE "AE13";
  LOCATE COMP  "ADO_TTL_7"	  SITE "AC12";
  LOCATE COMP  "ADO_TTL_8"	  SITE "AG2";
  LOCATE COMP  "ADO_TTL_9"	  SITE "AG3";
  LOCATE COMP  "ADO_TTL_10"	  SITE "AD13";
  LOCATE COMP  "ADO_TTL_11"	  SITE "AC13";
  LOCATE COMP  "ADO_TTL_12"	  SITE "AE14";
  LOCATE COMP  "ADO_TTL_13"	  SITE "AC14";
  LOCATE COMP  "ADO_TTL_14"	  SITE "AF3";
  LOCATE COMP  "ADO_TTL_15"	  SITE "AF4";
  LOCATE COMP  "ADO_TTL_16"	  SITE "AG4";
  LOCATE COMP  "ADO_TTL_17"	  SITE "AG5";
  LOCATE COMP  "ADO_TTL_18"	  SITE "AD11";
  LOCATE COMP  "ADO_TTL_19"	  SITE "AF13";
  LOCATE COMP  "ADO_TTL_20"	  SITE "AF12";
  LOCATE COMP  "ADO_TTL_21"	  SITE "AD14";
  LOCATE COMP  "ADO_TTL_22"	  SITE "AG8";
  LOCATE COMP  "ADO_TTL_23"	  SITE "AF8";
  LOCATE COMP  "ADO_TTL_24"	  SITE "AE15";
  LOCATE COMP  "ADO_TTL_25"	  SITE "AC15";
  LOCATE COMP  "ADO_TTL_26"	  SITE "AD15";
  LOCATE COMP  "ADO_TTL_27"	  SITE "AF15";
  LOCATE COMP  "ADO_TTL_28"	  SITE "AG10";
  LOCATE COMP  "ADO_TTL_29"	  SITE "AG9";
  LOCATE COMP  "ADO_TTL_30"	  SITE "AH14";
  LOCATE COMP  "ADO_TTL_31"	  SITE "AG12";
  LOCATE COMP  "ADO_TTL_32"	  SITE "AG15";
  LOCATE COMP  "ADO_TTL_33"	  SITE "AG13";
  LOCATE COMP  "ADO_TTL_34"	  SITE "AF16";
  LOCATE COMP  "ADO_TTL_35"	  SITE "AH15";
  LOCATE COMP  "ADO_TTL_36"	  SITE "AC16";
  LOCATE COMP  "ADO_TTL_37"	  SITE "AE16";
  LOCATE COMP  "ADO_TTL_38"	  SITE "AG11";
  LOCATE COMP  "ADO_TTL_39"	  SITE "AF11";
  LOCATE COMP  "ADO_TTL_40"	  SITE "AJ14";
  LOCATE COMP  "ADO_TTL_41"	  SITE "AK14";
  LOCATE COMP  "ADO_TTL_42"	  SITE "AK15";
  LOCATE COMP  "ADO_TTL_43"	  SITE "AK16";
  LOCATE COMP  "ADO_TTL_44"	  SITE "AF18";
  LOCATE COMP  "ADO_TTL_45"	  SITE "AJ15";
  LOCATE COMP  "ADO_TTL_46"	  SITE "AG16"; #occupied by 1-wire monitor
#  DEFINE PORT GROUP "ado_ttl_group" "ADO_TTL*" ;



#########################################
# Connection to FPGA1
#########################################
  LOCATE COMP  "F1_TO_F2_0"    SITE "AD2";
  LOCATE COMP  "F1_TO_F2_1"    SITE "AC5";
  LOCATE COMP  "F1_TO_F2_2"    SITE "AC4";
  LOCATE COMP  "F1_TO_F2_3"    SITE "AA5";
  LOCATE COMP  "F1_TO_F2_4"    SITE "AA8";
  LOCATE COMP  "F1_TO_F2_5"    SITE "Y3";
  LOCATE COMP  "F1_TO_F2_6"    SITE "Y7";
  LOCATE COMP  "F1_TO_F2_7"    SITE "Y5";
  LOCATE COMP  "F1_TO_F2_8"    SITE "W2";
  LOCATE COMP  "F1_TO_F2_9"    SITE "W5";
  LOCATE COMP  "F1_TO_F2_10"   SITE "V5";
  LOCATE COMP  "F1_TO_F2_11"   SITE "V9";
  LOCATE COMP  "F1_TO_F2_12"   SITE "V8";
  LOCATE COMP  "F1_TO_F2_13"   SITE "U9";
  LOCATE COMP  "F1_TO_F2_14"   SITE "U7";
  LOCATE COMP  "F1_TO_F2_15"   SITE "R1";
  LOCATE COMP  "F1_TO_F2_16"   SITE "R8";
  LOCATE COMP  "F1_TO_F2_17"   SITE "R5";
  LOCATE COMP  "F1_TO_F2_18"   SITE "P6";
  LOCATE COMP  "F1_TO_F2_19"   SITE "P9";
  LOCATE COMP  "F1_TO_F2_20"   SITE "P5";
  LOCATE COMP  "F1_TO_F2_21"   SITE "N5";
  LOCATE COMP  "F1_TO_F2_22"   SITE "N9";
  LOCATE COMP  "F1_TO_F2_23"   SITE "N8";
  LOCATE COMP  "F1_TO_F2_24"   SITE "L8";
  LOCATE COMP  "F1_TO_F2_25"   SITE "L9";
  LOCATE COMP  "F1_TO_F2_26"   SITE "K7";
  LOCATE COMP  "F1_TO_F2_27"   SITE "J5";
  LOCATE COMP  "F1_TO_F2_28"   SITE "H1";
  LOCATE COMP  "F1_TO_F2_29"   SITE "F1";
  LOCATE COMP  "F1_TO_F2_30"   SITE "E3";
  LOCATE COMP  "F1_TO_F2_31"   SITE "E2";
  DEFINE PORT GROUP "f1f2_group" "F1_TO_F2*" ;
  IOBUF GROUP "f1f2_group" IO_TYPE=LVDS25 PULLMODE=NONE ;

  LOCATE COMP  "F2_TO_F1_0"    SITE "AC1";
  LOCATE COMP  "F2_TO_F1_1"    SITE "AC7";
  LOCATE COMP  "F2_TO_F1_2"    SITE "AB2";
  LOCATE COMP  "F2_TO_F1_3"    SITE "AB4";
  LOCATE COMP  "F2_TO_F1_4"    SITE "AA1";
  LOCATE COMP  "F2_TO_F1_5"    SITE "Y1";
  LOCATE COMP  "F2_TO_F1_6"    SITE "Y9";
  LOCATE COMP  "F2_TO_F1_7"    SITE "W3";
  LOCATE COMP  "F2_TO_F1_8"    SITE "V1";
  LOCATE COMP  "F2_TO_F1_9"    SITE "U1";
  LOCATE COMP  "F2_TO_F1_10"   SITE "U3";
  LOCATE COMP  "F2_TO_F1_11"   SITE "U5";
  LOCATE COMP  "F2_TO_F1_12"   SITE "T3";
  LOCATE COMP  "F2_TO_F1_13"   SITE "T5";
  LOCATE COMP  "F2_TO_F1_14"   SITE "R3";
  LOCATE COMP  "F2_TO_F1_15"   SITE "P3";
  LOCATE COMP  "F2_TO_F1_16"   SITE "M1";
  LOCATE COMP  "F2_TO_F1_17"   SITE "M4";
  LOCATE COMP  "F2_TO_F1_18"   SITE "M6";
  LOCATE COMP  "F2_TO_F1_19"   SITE "L1";
  LOCATE COMP  "F2_TO_F1_20"   SITE "L3";
  LOCATE COMP  "F2_TO_F1_21"   SITE "L5";
  LOCATE COMP  "F2_TO_F1_22"   SITE "K2";
  LOCATE COMP  "F2_TO_F1_23"   SITE "K6";
  LOCATE COMP  "F2_TO_F1_24"   SITE "J3";
  LOCATE COMP  "F2_TO_F1_25"   SITE "H3";
  LOCATE COMP  "F2_TO_F1_26"   SITE "J8";
  LOCATE COMP  "F2_TO_F1_27"   SITE "H5";
  LOCATE COMP  "F2_TO_F1_28"   SITE "G2";
  LOCATE COMP  "F2_TO_F1_29"   SITE "G5";
  LOCATE COMP  "F2_TO_F1_30"   SITE "G6";
  LOCATE COMP  "F2_TO_F1_31"   SITE "E1";
  DEFINE PORT GROUP "f2f1_group" "F2_TO_F1*" ;
  IOBUF GROUP "f2f1_group" IO_TYPE=LVDS25 PULLMODE=NONE ;


#only used in ttl mode
# LOCATE COMP  "F1_TO_F2B_0"     SITE "AD1";
# LOCATE COMP  "F1_TO_F2B_1"     SITE "AD3";
# LOCATE COMP  "F1_TO_F2B_2"     SITE "AC3";
# LOCATE COMP  "F1_TO_F2B_3"     SITE "AA6";
# LOCATE COMP  "F1_TO_F2B_4"     SITE "AA9";
# LOCATE COMP  "F1_TO_F2B_5"     SITE "AB1";
# LOCATE COMP  "F1_TO_F2B_6"     SITE "AA7";
# LOCATE COMP  "F1_TO_F2B_7"     SITE "Y6";
# LOCATE COMP  "F1_TO_F2B_8"     SITE "Y4";
# LOCATE COMP  "F1_TO_F2B_9"     SITE "W6";
# LOCATE COMP  "F1_TO_F2B_10"    SITE "V6";
# LOCATE COMP  "F1_TO_F2B_11"    SITE "V7";
# LOCATE COMP  "F1_TO_F2B_12"    SITE "U6";
# LOCATE COMP  "F1_TO_F2B_13"    SITE "U8";
# LOCATE COMP  "F1_TO_F2B_14"    SITE "T8";
# LOCATE COMP  "F1_TO_F2B_15"    SITE "T1";
# LOCATE COMP  "F1_TO_F2B_16"    SITE "T9";
# LOCATE COMP  "F1_TO_F2B_17"    SITE "R4";
# LOCATE COMP  "F1_TO_F2B_18"    SITE "P8";
# LOCATE COMP  "F1_TO_F2B_19"    SITE "P7";
# LOCATE COMP  "F1_TO_F2B_20"    SITE "P4";
# LOCATE COMP  "F1_TO_F2B_21"    SITE "N6";
# LOCATE COMP  "F1_TO_F2B_22"    SITE "N7";
# LOCATE COMP  "F1_TO_F2B_23"    SITE "M9";
# LOCATE COMP  "F1_TO_F2B_24"    SITE "L6";
# LOCATE COMP  "F1_TO_F2B_25"    SITE "L7";
# LOCATE COMP  "F1_TO_F2B_26"    SITE "K8";
# LOCATE COMP  "F1_TO_F2B_27"    SITE "J4";
# LOCATE COMP  "F1_TO_F2B_28"    SITE "J1";
# LOCATE COMP  "F1_TO_F2B_29"    SITE "G3";
# LOCATE COMP  "F1_TO_F2B_30"    SITE "E4";
# LOCATE COMP  "F1_TO_F2B_31"    SITE "D1";
# LOCATE COMP  "F2_TO_F1B_0"     SITE "AC2";
# LOCATE COMP  "F2_TO_F1B_1"     SITE "AC6";
# LOCATE COMP  "F2_TO_F1B_2"     SITE "AB3";
# LOCATE COMP  "F2_TO_F1B_3"     SITE "AB5";
# LOCATE COMP  "F2_TO_F1B_4"     SITE "AA2";
# LOCATE COMP  "F2_TO_F1B_5"     SITE "Y2";
# LOCATE COMP  "F2_TO_F1B_6"     SITE "Y8";
# LOCATE COMP  "F2_TO_F1B_7"     SITE "W4";
# LOCATE COMP  "F2_TO_F1B_8"     SITE "W1";
# LOCATE COMP  "F2_TO_F1B_9"     SITE "V2";
# LOCATE COMP  "F2_TO_F1B_10"    SITE "U2";
# LOCATE COMP  "F2_TO_F1B_11"    SITE "U4";
# LOCATE COMP  "F2_TO_F1B_12"    SITE "T2";
# LOCATE COMP  "F2_TO_F1B_13"    SITE "T4";
# LOCATE COMP  "F2_TO_F1B_14"    SITE "R2";
# LOCATE COMP  "F2_TO_F1B_15"    SITE "P2";
# LOCATE COMP  "F2_TO_F1B_16"    SITE "N2";
# LOCATE COMP  "F2_TO_F1B_17"    SITE "M3";
# LOCATE COMP  "F2_TO_F1B_18"    SITE "M5";
# LOCATE COMP  "F2_TO_F1B_19"    SITE "M2";
# LOCATE COMP  "F2_TO_F1B_20"    SITE "L2";
# LOCATE COMP  "F2_TO_F1B_21"    SITE "L4";
# LOCATE COMP  "F2_TO_F1B_22"    SITE "K1";
# LOCATE COMP  "F2_TO_F1B_23"    SITE "K5";
# LOCATE COMP  "F2_TO_F1B_24"    SITE "J2";
# LOCATE COMP  "F2_TO_F1B_25"    SITE "H2";
# LOCATE COMP  "F2_TO_F1B_26"    SITE "H7";
# LOCATE COMP  "F2_TO_F1B_27"    SITE "H4";
# LOCATE COMP  "F2_TO_F1B_28"    SITE "G1";
# LOCATE COMP  "F2_TO_F1B_29"    SITE "G4";
# LOCATE COMP  "F2_TO_F1B_30"    SITE "F5";
# LOCATE COMP  "F2_TO_F1B_31"    SITE "F2";

#########################################
# Connection to ETRAX
#########################################
  LOCATE COMP  "FS_PE_1"	  SITE "AF2";
  LOCATE COMP  "FS_PE_2"	  SITE "AE2";
  LOCATE COMP  "FS_PE_5"	  SITE "F7";
  LOCATE COMP  "FS_PE_6"	  SITE "D8";
  LOCATE COMP  "FS_PE_7"	  SITE "J13";
  LOCATE COMP  "FS_PE_8"	  SITE "G11";
  LOCATE COMP  "FS_PE_9"	  SITE "H13";
  LOCATE COMP  "FS_PE_10"	  SITE "H12";
  LOCATE COMP  "FS_PE_11"	  SITE "E8";
  LOCATE COMP  "FS_PE_12"	  SITE "D9";
  LOCATE COMP  "FS_PE_13"	  SITE "D12";
  LOCATE COMP  "FS_PE_14"	  SITE "E13";
  LOCATE COMP  "FS_PE_15"	  SITE "J12";
  LOCATE COMP  "FS_PE_16"	  SITE "H10";
#   DEFINE PORT GROUP "fs_pe_group" "FS_PE*" ;
#   IOBUF GROUP "ado_ttl_group" IO_TYPE=LVTTL33 PULLMODE=NONE ;

#########################################
# LED
#########################################
  LOCATE COMP  "SFP_LED_GREEN_17"	  SITE "AG19";
  LOCATE COMP  "SFP_LED_GREEN_18"	  SITE "AJ17";
  LOCATE COMP  "SFP_LED_GREEN_19"	  SITE "E23";
  LOCATE COMP  "SFP_LED_GREEN_20"	  SITE "E26";
  LOCATE COMP  "SFP_LED_ORANGE_17"	  SITE "AG22";
  LOCATE COMP  "SFP_LED_ORANGE_18"	  SITE "AH17";
  LOCATE COMP  "SFP_LED_ORANGE_19"	  SITE "D23";
  LOCATE COMP  "SFP_LED_ORANGE_20"	  SITE "D26";
#   DEFINE PORT GROUP "sfp_led_group" "SFP_LED*" ;
#   IOBUF GROUP "sfp_led_group" IO_TYPE=LVTTL33 PULLMODE=NONE ;

#########################################
# SFP Control Signals
#########################################
  LOCATE COMP  "SFP_MOD0_17"  SITE "AG20";
  LOCATE COMP  "SFP_MOD0_18"  SITE "AE24";
  LOCATE COMP  "SFP_MOD0_19"  SITE "AD24";
  LOCATE COMP  "SFP_MOD0_20"  SITE "AC18";
  LOCATE COMP  "SFP_MOD1_17"  SITE "AG21";
  LOCATE COMP  "SFP_MOD1_18"  SITE "AE25";
  LOCATE COMP  "SFP_MOD1_19"  SITE "AD17";
  LOCATE COMP  "SFP_MOD1_20"  SITE "AC19";
  LOCATE COMP  "SFP_MOD2_17"  SITE "AG18";
  LOCATE COMP  "SFP_MOD2_18"  SITE "AE17";
  LOCATE COMP  "SFP_MOD2_19"  SITE "AD16";
  LOCATE COMP  "SFP_MOD2_20"  SITE "AC17";
  DEFINE PORT GROUP "sfp_mod_group" "SFP_MOD*" ;
  IOBUF GROUP "sfp_mod_group" IO_TYPE=LVTTL33 PULLMODE=UP ;

  LOCATE COMP  "SFP_LOS_17"   SITE "AF21";
  LOCATE COMP  "SFP_LOS_18"   SITE "AE18";
  LOCATE COMP  "SFP_LOS_19"   SITE "AD23";
  LOCATE COMP  "SFP_LOS_20"   SITE "AC23";
  DEFINE PORT GROUP "sfp_los_group" "SFP_LOS*" ;
  IOBUF GROUP "sfp_los_group" IO_TYPE=LVTTL33 PULLMODE=UP ;

  LOCATE COMP  "SFP_DIS_17"    SITE "AF19";
  LOCATE COMP  "SFP_DIS_18"    SITE "AE20";
  LOCATE COMP  "SFP_DIS_19"    SITE "AD18";
  LOCATE COMP  "SFP_DIS_20"    SITE "AC20";
  DEFINE PORT GROUP "tx_dis_group" "SFP_DIS*" ;
  IOBUF GROUP "tx_dis_group" IO_TYPE=LVTTL33 PULLMODE=UP ;

  #not supported by transceivers
  LOCATE COMP  "TX_FAULT_17"    SITE "AF26";
  LOCATE COMP  "TX_FAULT_18"    SITE "AE21";
  LOCATE COMP  "TX_FAULT_19"    SITE "AD20";
  LOCATE COMP  "TX_FAULT_20"    SITE "AB18";
  DEFINE PORT GROUP "tx_fault_group" "TX_FAULT*" ;
  IOBUF GROUP "tx_fault_group" IO_TYPE=LVTTL33 PULLMODE=UP ;

#########################################
# Onewire Monitor
#########################################
  LOCATE COMP "ONEWIRE_MONITOR_IN"   SITE "AG16"; #former ADO_TTL(46)
  IOBUF PORT  "ONEWIRE_MONITOR_IN" IO_TYPE=LVTTL33 PULLMODE=UP ;

#########################################
# Test Connectors
#########################################
  LOCATE COMP  "TEST_2_0"	  SITE "A16";
  LOCATE COMP  "TEST_2_1"	  SITE "B16";
  LOCATE COMP  "TEST_2_2"	  SITE "G17";
  LOCATE COMP  "TEST_2_3"	  SITE "G16";
  LOCATE COMP  "TEST_2_4"	  SITE "H16";
  LOCATE COMP  "TEST_2_5"	  SITE "F16";
  LOCATE COMP  "TEST_2_6"	  SITE "J16";
  LOCATE COMP  "TEST_2_7"	  SITE "G15";
  LOCATE COMP  "TEST_2_8"	  SITE "C16";
  LOCATE COMP  "TEST_2_9"	  SITE "D16";
  LOCATE COMP  "TEST_2_10"	  SITE "J15";
  LOCATE COMP  "TEST_2_11"	  SITE "H15";
  LOCATE COMP  "TEST_2_12"	  SITE "A15";
  LOCATE COMP  "TEST_2_13"	  SITE "B15";
  LOCATE COMP  "TEST_2_14"	  SITE "F15";
  LOCATE COMP  "TEST_2_15"	  SITE "E16";
  LOCATE COMP  "TEST_2_16"	  SITE "C14";
  LOCATE COMP  "TEST_2_17"	  SITE "E15";
  LOCATE COMP  "TEST_2_18"	  SITE "G14";
  LOCATE COMP  "TEST_2_19"	  SITE "J14";
  LOCATE COMP  "TEST_2_20"	  SITE "F14";
  LOCATE COMP  "TEST_2_21"	  SITE "H14";
  LOCATE COMP  "TEST_2_22"	  SITE "A14";
  LOCATE COMP  "TEST_2_23"	  SITE "B14";
  LOCATE COMP  "TEST_2_24"	  SITE "D13";
  LOCATE COMP  "TEST_2_25"	  SITE "F13";
  LOCATE COMP  "TEST_2_26"	  SITE "G13";
  LOCATE COMP  "TEST_2_27"	  SITE "J11";
  LOCATE COMP  "TEST_2_28"	  SITE "D4";
  LOCATE COMP  "TEST_2_29"	  SITE "D5";
  LOCATE COMP  "TEST_2_30"	  SITE "E5";
  LOCATE COMP  "TEST_2_31"	  SITE "F6";
  DEFINE PORT GROUP "test2_group" "TEST_2*" ;
  IOBUF GROUP "test2_group" IO_TYPE=LVTTL33 PULLMODE=DOWN ;
