trig_MUSE_PID/project/trb3_periph_blank
trig_MUSE_Master/project/trb3_periph_blank
trig_MUSE_Master/test_bench
trig_MUSE_LUT/project/trb3_periph_blank
trig_MUSE__Cosmic/project/trb3_periph_blank
trig_MUSE__Cosmic_orAll/project/trb3_periph_blank
trig_MUSE_Master_Final_version/project/trb3_periph_blank
trig_MUSE_Master_Final_version/test_bench

.DS_Store
trig_MUSE_Master_Final_version/project/*.ini
trig_MUSE_Master_Final_version/project/.*.ini
trig_MUSE_Master_Final_version/project/blank_tcr.dir
trig_MUSE_Master_Final_version/project/sso_rpt.htm
trig_MUSE_Master_Final_version/project/trb3_periph_blank.ccl
trig_MUSE_Master_Final_version/project/*.xml
trig_MUSE_Master_Final_version/project/*.html
trig_MUSE_Master_Final_version/project/blank_tcr.dir/*.tcr

trig_MUSE_SPS_Final_version/project/blank_tcr.dir/
trig_MUSE_SPS_Final_version/project/*.dmp
trig_MUSE_SPS_Final_version/project/*.html
trig_MUSE_SPS_Final_version/project/.*
trig_MUSE_SPS_Final_version/project/*.xml
trig_MUSE_SPS_Final_version/project/*.txt
trig_MUSE_SPS_Final_version/testbench/
trig_MUSE_SPS_Final_version/project/trb3_periph_blank.ccl
trig_MUSE_SPS_Final_version/project/trb3_periph_blank/
