COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;

#################################################################
# Basic Settings
#################################################################

SYSCONFIG MCCLK_FREQ = 20;

FREQUENCY PORT CLK_CORE_PCLK         200 MHz;
FREQUENCY PORT CLK_CORE_PLL_LEFT     200 MHz;
FREQUENCY PORT CLK_CORE_PLL_RIGHT    200 MHz;

FREQUENCY PORT CLK_SUPPL_PCLK         125 MHz;
FREQUENCY PORT CLK_SUPPL_PLL_LEFT     125 MHz;
FREQUENCY PORT CLK_SUPPL_PLL_RIGHT    125 MHz;

FREQUENCY PORT CLK_EXT_PCLK         200 MHz;
FREQUENCY PORT CLK_EXT_PLL_LEFT     200 MHz;
FREQUENCY PORT CLK_EXT_PLL_RIGHT    200 MHz;


#If these signals do not exist, somebody messed around with the design...
MULTICYCLE TO CELL   "THE_TOOLS/THE_SPI_RELOAD_THE_SPI_MASTER_THE_SPI_SLIM_tx_sreg_oregio[*]" 20 ns;
MULTICYCLE TO CELL   "THE_CLOCK_RESET/THE_RESET_HANDLER/final_reset*" 20 ns;
MULTICYCLE FROM CELL "THE_CLOCK_RESET/gen_norecov_clock.clear_n_i" 20 ns;
MULTICYCLE TO CELL   "THE_CLOCK_RESET/THE_RESET_HANDLER/trb_reset_pulse*" 20 ns;
MULTICYCLE FROM CELL "THE_CLOCK_RESET/clear_n_i" 20 ns;
MULTICYCLE FROM CELL "THE_CLOCK_RESET/THE_RESET_HANDLER/final_reset*" 30 ns;
GSR_NET NET "GSR_N"; 


MULTICYCLE TO CELL   "THE_MEDIA_INT*/sci*" 20 ns;
MULTICYCLE FROM CELL "THE_MEDIA_INT*/sci*" 20 ns;
MULTICYCLE TO CELL   "THE_MEDIA_INT*/PROC_SCI_CTRL.wa*" 20 ns;
BLOCK PATH TO   CLKNET "THE_MEDIA_INT*/sci_write_i";
BLOCK PATH FROM CLKNET "THE_MEDIA_INT*/sci_write_i";
BLOCK PATH TO   CLKNET "THE_MEDIA_INT*/sci_read_i";
BLOCK PATH FROM CLKNET "THE_MEDIA_INT*/sci_read_i";

FREQUENCY NET "THE_MEDIA_INT*/clk_rx_full" 200 MHz; # HOLD_MARGIN 500 ps 
FREQUENCY NET "THE_MEDIA_INT*/clk_tx_full" 200 MHz; # HOLD_MARGIN 500 ps 

# REGION "REGION_SPI" "R19C150D" 20 20 DEVSIZE;
# LOCATE UGROUP "THE_TOOLS/THE_SPI_RELOAD/THE_SPI_MASTER/SPI_group" REGION "REGION_SPI" ;
# LOCATE UGROUP "THE_TOOLS/THE_SPI_RELOAD/THE_SPI_MEMORY/SPI_group" REGION "REGION_SPI" ;

#main serdes is PCSB for stand-alone or PCSA for crate operation
LOCATE COMP          "THE_MEDIA_INTERFACE/gen_pcs0.THE_SERDES/PCSD_INST" SITE "PCSA" ;
LOCATE COMP          "THE_MEDIA_INTERFACE/gen_pcs3.THE_SERDES/PCSD_INST" SITE "PCSB" ;
#REGION               "MEDIA_UPLINK" "R96C107D" 19 24;
REGION               "MEDIA_UPLINK" "R96C55D" 19 24;
LOCATE UGROUP        "THE_MEDIA_INTERFACE/media_interface_group" REGION "MEDIA_UPLINK" ;

##more space for media interface on backplane master
#LOCATE COMP          "THE_MEDIA_INT_MIXED/gen_pcs0.THE_SERDES/PCSD_INST" SITE "PCSA" ;
#REGION               "MEDIA_MIXED" "R95C50D" 20 70;
#LOCATE UGROUP        "THE_MEDIA_INT_MIXED/media_interface_group" REGION "MEDIA_MIXED" ;


BLOCK PATH TO   PORT "LED*";
BLOCK PATH TO   PORT "SFP*";
BLOCK PATH FROM PORT "SFP*";
BLOCK PATH TO   PORT "PROGRAMN";
BLOCK PATH TO   PORT "TEMPSENS";
BLOCK PATH FROM PORT "TEMPSENS";
BLOCK PATH TO   PORT "TEST_LINE";

PROHIBIT PRIMARY   NET "ENPIRION_CLOCK_c" ;
PROHIBIT SECONDARY NET "ENPIRION_CLOCK_c" ;
