LOCATE COMP          "THE_MEDIA_4_DOWN/THE_SERDES/PCSD_INST" SITE "PCSC" ;
REGION               "MEDIA_DOWN1" "R102C40D" 13 100;
LOCATE UGROUP        "THE_MEDIA_4_DOWN/media_interface_group" REGION "MEDIA_DOWN1" ;


MULTICYCLE TO CELL   "THE_MEDIA_4_DOWN/sci*" 20 ns;
MULTICYCLE FROM CELL "THE_MEDIA_4_DOWN/sci*" 20 ns;
MULTICYCLE TO CELL   "THE_MEDIA_4_DOWN/PROC_SCI_CTRL.wa*" 20 ns;
BLOCK PATH TO   CLKNET "THE_MEDIA_4_DOWN/sci_write_i";
BLOCK PATH FROM CLKNET "THE_MEDIA_4_DOWN/sci_write_i";
BLOCK PATH TO   CLKNET "THE_MEDIA_4_DOWN/sci_read_i";
BLOCK PATH FROM CLKNET "THE_MEDIA_4_DOWN/sci_read_i";
MULTICYCLE TO CLKNET    "THE_MEDIA_4_DOWN/sci_read_i" 15 ns; 
MULTICYCLE FROM CLKNET  "THE_MEDIA_4_DOWN/sci_read_i" 15 ns; 
MULTICYCLE TO CLKNET    "THE_MEDIA_4_DOWN/sci_write_i" 15 ns; 
MULTICYCLE FROM CLKNET  "THE_MEDIA_4_DOWN/sci_write_i" 15 ns; 



MULTICYCLE TO CELL   "THE_MEDIA_INTERFACE/sci*" 20 ns;
MULTICYCLE FROM CELL "THE_MEDIA_INTERFACE/sci*" 20 ns;
MULTICYCLE TO CELL   "THE_MEDIA_INTERFACE/PROC_SCI_CTRL.wa*" 20 ns;
BLOCK PATH TO   CLKNET "THE_MEDIA_INTERFACE/sci_write_i";
BLOCK PATH FROM CLKNET "THE_MEDIA_INTERFACE/sci_write_i";
BLOCK PATH TO   CLKNET "THE_MEDIA_INTERFACE/sci_read_i";
BLOCK PATH FROM CLKNET "THE_MEDIA_INTERFACE/sci_read_i";
MULTICYCLE TO CLKNET    "THE_MEDIA_INTERFACE/sci_read_i" 15 ns; 
MULTICYCLE FROM CLKNET  "THE_MEDIA_INTERFACE/sci_read_i" 15 ns; 
MULTICYCLE TO CLKNET    "THE_MEDIA_INTERFACE/sci_write_i" 15 ns; 
MULTICYCLE FROM CLKNET  "THE_MEDIA_INTERFACE/sci_write_i" 15 ns; 

MULTICYCLE TO ASIC  THE_MEDIA_4_DOWN/THE_SERDES/PCSD_INST PIN SCIRD 15 ns;
MAXDELAY   TO ASIC  THE_MEDIA_4_DOWN/THE_SERDES/PCSD_INST PIN SCIRD 15 ns;


# PROHIBIT PRIMARY   NET "THE_MEDIA_INTERFACE/clk_rx_full" ;
# PROHIBIT SECONDARY NET "THE_MEDIA_INTERFACE/clk_rx_full" ;
# PROHIBIT PRIMARY   NET "THE_MEDIA_4_DOWN/clk_tx_full[0]" ;
# PROHIBIT SECONDARY NET "THE_MEDIA_4_DOWN/clk_tx_full[0]" ;
# PROHIBIT PRIMARY   NET "THE_MEDIA_4_DOWN/clk_tx_full[1]" ;
# PROHIBIT SECONDARY NET "THE_MEDIA_4_DOWN/clk_tx_full[1]" ;
# PROHIBIT PRIMARY   NET "THE_MEDIA_4_DOWN/clk_tx_full[2]" ;
# PROHIBIT SECONDARY NET "THE_MEDIA_4_DOWN/clk_tx_full[2]" ;
# PROHIBIT PRIMARY   NET "THE_MEDIA_4_DOWN/clk_tx_full[3]" ;
# PROHIBIT SECONDARY NET "THE_MEDIA_4_DOWN/clk_tx_full[3]" ;
# PROHIBIT PRIMARY   NET "THE_MEDIA_4_DOWN/clk_rx_full[0]" ;
# PROHIBIT SECONDARY NET "THE_MEDIA_4_DOWN/clk_rx_full[0]" ;
# PROHIBIT PRIMARY   NET "THE_MEDIA_4_DOWN/clk_rx_full[1]" ;
# PROHIBIT SECONDARY NET "THE_MEDIA_4_DOWN/clk_rx_full[1]" ;
# PROHIBIT PRIMARY   NET "THE_MEDIA_4_DOWN/clk_rx_full[2]" ;
# PROHIBIT SECONDARY NET "THE_MEDIA_4_DOWN/clk_rx_full[2]" ;
# PROHIBIT PRIMARY   NET "THE_MEDIA_4_DOWN/clk_rx_full[3]" ;
# PROHIBIT SECONDARY NET "THE_MEDIA_4_DOWN/clk_rx_full[3]" ;
# FREQUENCY NET "THE_MEDIA_INTERFACE/clk_rx_full" 200 MHz; # HOLD_MARGIN 500 ps 
# FREQUENCY NET "THE_MEDIA_INTERFACE/clk_tx_full" 200 MHz; # HOLD_MARGIN 500 ps 