COMMERCIAL;
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

######################################################################
# Reset networking: important!
######################################################################

GSR_NET NET "uc_reset";

######################################################################
# clock stuff
######################################################################

######################################################################
# PLL 100MHz -> 40MHz
######################################################################
FREQUENCY PORT "clk100m" 100.000000 MHz ;
LOCATE COMP "THE_40M_PLL/PLLDINST_0" SITE "PLL_R103C3" ;
FREQUENCY NET "clk40m_adc" 40.000000 MHz ;
FREQUENCY NET "clk40m_apv" 40.000000 MHz ;
USE PRIMARY PURE NET "clk40m_adc" QUADRANT_BL QUADRANT_TL ;
USE PRIMARY PURE NET "clk40m_apv" QUADRANT_BL QUADRANT_TL ;

######################################################################
# DLL 100MHz -> 100MHz
######################################################################
LOCATE COMP "THE_100M_DLL/dll_100m_0_0" SITE "DLL_R103C1" ;
FREQUENCY NET "sysclk" 100.000000 MHz ;
USE PRIMARY PURE NET "sysclk" QUADRANT_BL QUADRANT_BR QUADRANT_TL QUADRANT_TR ;

######################################################################
# TRBnet SerDes clock constraints
######################################################################
FREQUENCY NET "THE_RICH_TRB/THE_SERDES/ff_rxhalfclk" 100.000000 MHz ;
FREQUENCY NET "THE_RICH_TRB/THE_SERDES/ff_txhalfclk" 100.000000 MHz ;
#REGION "RICH_TRB" "R2C60" 23 68 ; # around the PCS - works
UGROUP "THE_RICH_TRB/RICH_TRB_group" BLKNAME THE_RICH_TRB ;
#LOCATE UGROUP "THE_RICH_TRB/RICH_TRB_group" REGION "RICH_TRB" ;

# Relaxed timing constraints for slow control signals (TRBnet -> APV logic)
DEFINE CELL GROUP "slow_ctrl_group" "*UNIFIED*genbuffer*buf_REGISTERS_OUT*" ;
MULTICYCLE FROM GROUP "slow_ctrl_group" CLKNET "sysclk" TO CLKNET "sysclk" 50.000000 ns ;
MULTICYCLE FROM GROUP "slow_ctrl_group" CLKNET "sysclk" TO CLKNET "adc0_clk40m" 50.000000 ns ;
MULTICYCLE FROM GROUP "slow_ctrl_group" CLKNET "sysclk" TO CLKNET "adc1_clk40m" 50.000000 ns ;
MULTICYCLE FROM GROUP "slow_ctrl_group" CLKNET "sysclk" TO CLKNET "clk40m_apv" 50.000000 ns ;
MULTICYCLE FROM GROUP "slow_ctrl_group" CLKNET "sysclk" TO CLKNET "clk40m_adc" 50.000000 ns ;

######################################################################
# PLL ADC0: 240MHz -> 240MHz/40MHz
######################################################################
LOCATE COMP "THE_ADC0_HANDLER/PLL_240M/PLLDINST_0" SITE "SPLL_R67C1" ;
FREQUENCY NET "THE_ADC0_HANDLER/clk240m" 240.000000 MHz;
FREQUENCY NET "THE_ADC0_HANDLER/clk240m_PHASE" 240.000000 MHz;
FREQUENCY NET "THE_ADC0_HANDLER/clk40m" 40.000000 MHz;
USE PRIMARY PURE NET "THE_ADC0_HANDLER/clk240m" QUADRANT_BL ;
USE PRIMARY PURE NET "THE_ADC0_HANDLER/clk240m_PHASE" QUADRANT_BL ;
USE PRIMARY PURE NET "THE_ADC0_HANDLER/clk40m" QUADRANT_BL ;

# Crossing from 240MHz DDR serial to 40MHz
DEFINE CELL GROUP "ADC0_FAST_PARALLEL" "THE_ADC0_HANDLER*SER2PAR*data*" ;
DEFINE CELL GROUP "ADC0_SLOW_PARALLEL" "THE_ADC0_HANDLER*buf*" ;
MULTICYCLE FROM GROUP "ADC0_FAST_PARALLEL" TO GROUP "ADC0_SLOW_PARALLEL" 8.333400 ns ;

# 240MHz ADC0 regions (namely ser2par for DDR data stream)
REGION "ADC0_0_SER2PAR" "R99C2" 2 4 ;
UGROUP "THE_ADC0_HANDLER/GEN_UNITS_0_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC0_HANDLER/GEN_UNITS_0_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC0_HANDLER/GEN_UNITS_0_THE_SER2PAR/SER2PAR_group" REGION "ADC0_0_SER2PAR" ;
REGION "ADC0_1_SER2PAR" "R95C2" 2 4 ;
UGROUP "THE_ADC0_HANDLER/GEN_UNITS_1_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC0_HANDLER/GEN_UNITS_1_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC0_HANDLER/GEN_UNITS_1_THE_SER2PAR/SER2PAR_group" REGION "ADC0_1_SER2PAR" ;
REGION "ADC0_2_SER2PAR" "R90C2" 2 4 ;
UGROUP "THE_ADC0_HANDLER/GEN_UNITS_2_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC0_HANDLER/GEN_UNITS_2_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC0_HANDLER/GEN_UNITS_2_THE_SER2PAR/SER2PAR_group" REGION "ADC0_2_SER2PAR" ;
REGION "ADC0_3_SER2PAR" "R86C2" 2 4 ;
UGROUP "THE_ADC0_HANDLER/GEN_UNITS_3_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC0_HANDLER/GEN_UNITS_3_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC0_HANDLER/GEN_UNITS_3_THE_SER2PAR/SER2PAR_group" REGION "ADC0_3_SER2PAR" ;
REGION "ADC0_4_SER2PAR" "R81C2" 2 4 ;
UGROUP "THE_ADC0_HANDLER/GEN_UNITS_4_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC0_HANDLER/GEN_UNITS_4_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC0_HANDLER/GEN_UNITS_4_THE_SER2PAR/SER2PAR_group" REGION "ADC0_4_SER2PAR" ;
REGION "ADC0_5_SER2PAR" "R77C2" 2 4 ;
UGROUP "THE_ADC0_HANDLER/GEN_UNITS_5_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC0_HANDLER/GEN_UNITS_5_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC0_HANDLER/GEN_UNITS_5_THE_SER2PAR/SER2PAR_group" REGION "ADC0_5_SER2PAR" ;
REGION "ADC0_6_SER2PAR" "R72C2" 2 4 ;
UGROUP "THE_ADC0_HANDLER/GEN_UNITS_6_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC0_HANDLER/GEN_UNITS_6_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC0_HANDLER/GEN_UNITS_6_THE_SER2PAR/SER2PAR_group" REGION "ADC0_6_SER2PAR" ;
REGION "ADC0_7_SER2PAR" "R68C2" 2 4 ;
UGROUP "THE_ADC0_HANDLER/GEN_UNITS_7_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC0_HANDLER/GEN_UNITS_7_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC0_HANDLER/GEN_UNITS_7_THE_SER2PAR/SER2PAR_group" REGION "ADC0_7_SER2PAR" ;

REGION "ADC0_DEMUX"   "R83C2" 2 4 ;
UGROUP "THE_ADC0_HANDLER/THE_ADC_DEMUX/ADC_DEMUX_group" BLKNAME THE_ADC0_HANDLER/THE_ADC_DEMUX ;
LOCATE UGROUP "THE_ADC0_HANDLER/THE_ADC_DEMUX/ADC_DEMUX_group" REGION "ADC0_DEMUX" ;

######################################################################
# PLL ADC1: 240MHz -> 240MHz/40MHz
######################################################################
LOCATE COMP "THE_ADC1_HANDLER/PLL_240M/PLLDINST_0" SITE "SPLL_R49C1" ;
FREQUENCY NET "THE_ADC1_HANDLER/CLK240M" 240.000000 MHz;
FREQUENCY NET "THE_ADC1_HANDLER/CLK240M_PHASE" 240.000000 MHz;
FREQUENCY NET "THE_ADC1_HANDLER/CLK40M" 40.000000 MHz;
USE PRIMARY PURE NET "THE_ADC1_HANDLER/CLK240M" QUADRANT_TL ;
USE PRIMARY PURE NET "THE_ADC1_HANDLER/CLK240M_PHASE" QUADRANT_TL ;
USE PRIMARY PURE NET "THE_ADC1_HANDLER/CLK40M" QUADRANT_TL ;

# Crossing from 240MHz DDR serial to 40MHz
DEFINE CELL GROUP "ADC1_FAST_PARALLEL" "THE_ADC1_HANDLER*SER2PAR*data*" ;
DEFINE CELL GROUP "ADC1_SLOW_PARALLEL" "THE_ADC1_HANDLER*buf*" ;
MULTICYCLE FROM GROUP "ADC1_FAST_PARALLEL" TO GROUP "ADC1_SLOW_PARALLEL" 8.333400 ns ;

# 240MHz ADC1 regions (namely ser2par for DDR data stream)
REGION "ADC1_0_SER2PAR" "R54C2" 2 4 ;
UGROUP "THE_ADC1_HANDLER/GEN_UNITS_0_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC1_HANDLER/GEN_UNITS_0_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC1_HANDLER/GEN_UNITS_0_THE_SER2PAR/SER2PAR_group" REGION "ADC1_0_SER2PAR" ;
REGION "ADC1_1_SER2PAR" "R50C2" 2 4 ;
UGROUP "THE_ADC1_HANDLER/GEN_UNITS_1_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC1_HANDLER/GEN_UNITS_1_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC1_HANDLER/GEN_UNITS_1_THE_SER2PAR/SER2PAR_group" REGION "ADC1_1_SER2PAR" ;
REGION "ADC1_2_SER2PAR" "R45C2" 2 4 ;
UGROUP "THE_ADC1_HANDLER/GEN_UNITS_2_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC1_HANDLER/GEN_UNITS_2_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC1_HANDLER/GEN_UNITS_2_THE_SER2PAR/SER2PAR_group" REGION "ADC1_2_SER2PAR" ;
REGION "ADC1_3_SER2PAR" "R41C2" 2 4 ;
UGROUP "THE_ADC1_HANDLER/GEN_UNITS_3_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC1_HANDLER/GEN_UNITS_3_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC1_HANDLER/GEN_UNITS_3_THE_SER2PAR/SER2PAR_group" REGION "ADC1_3_SER2PAR" ;
REGION "ADC1_4_SER2PAR" "R37C2" 2 4 ;
UGROUP "THE_ADC1_HANDLER/GEN_UNITS_4_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC1_HANDLER/GEN_UNITS_4_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC1_HANDLER/GEN_UNITS_4_THE_SER2PAR/SER2PAR_group" REGION "ADC1_4_SER2PAR" ;
REGION "ADC1_5_SER2PAR" "R32C2" 2 4 ;
UGROUP "THE_ADC1_HANDLER/GEN_UNITS_5_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC1_HANDLER/GEN_UNITS_5_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC1_HANDLER/GEN_UNITS_5_THE_SER2PAR/SER2PAR_group" REGION "ADC1_5_SER2PAR" ;
REGION "ADC1_6_SER2PAR" "R28C2" 2 4 ;
UGROUP "THE_ADC1_HANDLER/GEN_UNITS_6_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC1_HANDLER/GEN_UNITS_6_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC1_HANDLER/GEN_UNITS_6_THE_SER2PAR/SER2PAR_group" REGION "ADC1_6_SER2PAR" ;
REGION "ADC1_7_SER2PAR" "R23C2" 2 4 ;
UGROUP "THE_ADC1_HANDLER/GEN_UNITS_7_THE_SER2PAR/SER2PAR_group" BLKNAME THE_ADC1_HANDLER/GEN_UNITS_7_THE_SER2PAR ;
LOCATE UGROUP "THE_ADC1_HANDLER/GEN_UNITS_7_THE_SER2PAR/SER2PAR_group" REGION "ADC1_7_SER2PAR" ;

REGION "ADC1_DEMUX"   "R39C2" 2 4 ;
UGROUP "THE_ADC1_HANDLER/THE_ADC_DEMUX/ADC_DEMUX_group" BLKNAME THE_ADC1_HANDLER/THE_ADC_DEMUX ;
LOCATE UGROUP "THE_ADC1_HANDLER/THE_ADC_DEMUX/ADC_DEMUX_group" REGION "ADC1_DEMUX" ;

######################################################################
# APV raw buffer stage
######################################################################
UGROUP "APV_LOCKER_0_group"  BLKNAME THE_RAW_BUF_STAGE/GEN_ADC0_0_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_1_group"  BLKNAME THE_RAW_BUF_STAGE/GEN_ADC0_1_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_2_group"  BLKNAME THE_RAW_BUF_STAGE/GEN_ADC0_2_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_3_group"  BLKNAME THE_RAW_BUF_STAGE/GEN_ADC0_3_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_4_group"  BLKNAME THE_RAW_BUF_STAGE/GEN_ADC0_4_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_5_group"  BLKNAME THE_RAW_BUF_STAGE/GEN_ADC0_5_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_6_group"  BLKNAME THE_RAW_BUF_STAGE/GEN_ADC0_6_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_7_group"  BLKNAME THE_RAW_BUF_STAGE/GEN_ADC0_7_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_8_group"  BLKNAME THE_RAW_BUF_STAGE/GEN_ADC1_8_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_9_group"  BLKNAME THE_RAW_BUF_STAGE/GEN_ADC1_9_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_10_group" BLKNAME THE_RAW_BUF_STAGE/GEN_ADC1_10_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_11_group" BLKNAME THE_RAW_BUF_STAGE/GEN_ADC1_11_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_12_group" BLKNAME THE_RAW_BUF_STAGE/GEN_ADC1_12_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_13_group" BLKNAME THE_RAW_BUF_STAGE/GEN_ADC1_13_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_14_group" BLKNAME THE_RAW_BUF_STAGE/GEN_ADC1_14_THE_APV_LOCKER ;
UGROUP "APV_LOCKER_15_group" BLKNAME THE_RAW_BUF_STAGE/GEN_ADC1_15_THE_APV_LOCKER ;


######################################################################
# SerDes URC
# SerDes
######################################################################
LOCATE COMP "THE_RICH_TRB/THE_SERDES/THE_SERDES/PCSC_INST" SITE "URPCS" ;

######################################################################
# I/O bank 8 - 3.30V
# JTAG and SPI boot interface, one lonely LED
######################################################################
# LOCATE COMP "FPGA_LED_PLL" SITE "AD29" ;
# IOBUF PORT "FPGA_LED_PLL" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=16 ;
# BUG! ECP2M-100 does not allow using sysCONFIG pins as user I/O!

######################################################################
# I/O bank 7 - 2.50V
# APV1 control signals, ADC1 inputs
######################################################################
LOCATE COMP "APV1A_CLK" SITE "K7" ;
IOBUF PORT "APV1A_CLK" IO_TYPE=LVDS25E ;
LOCATE COMP "APV1B_CLK" SITE "D2" ;
IOBUF PORT "APV1B_CLK" IO_TYPE=LVDS25E ;
LOCATE COMP "APV1A_TRG" SITE "N8" ;
IOBUF PORT "APV1A_TRG" IO_TYPE=LVDS25E ;
LOCATE COMP "APV1B_TRG" SITE "E3" ;
IOBUF PORT "APV1B_TRG" IO_TYPE=LVDS25E ;
LOCATE COMP "APV1_SDA" SITE "H7" ;
IOBUF PORT "APV1_SDA" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=16 ;
LOCATE COMP "APV1_SCL" SITE "G6" ;
IOBUF PORT "APV1_SCL" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=16 ;
LOCATE COMP "APV1_RST" SITE "G5" ;
IOBUF PORT "APV1_RST" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=16 ;
# LOCATE COMP "APV1_GPIO" SITE "F5" ;
# IOBUF PORT "APV1_GPIO" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=8 ;
LOCATE COMP "ADC1_LCLK" SITE "L3" ;
IOBUF PORT "ADC1_LCLK" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC1_ADCLK" SITE "E2" ;
IOBUF PORT "ADC1_ADCLK" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC1_OUT_7" SITE "E1" ;
IOBUF PORT "ADC1_OUT_7" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC1_OUT_6" SITE "G2" ;
IOBUF PORT "ADC1_OUT_6" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC1_OUT_5" SITE "J5" ;
IOBUF PORT "ADC1_OUT_5" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC1_OUT_4" SITE "J3" ;
IOBUF PORT "ADC1_OUT_4" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC1_OUT_3" SITE "K2" ;
IOBUF PORT "ADC1_OUT_3" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC1_OUT_2" SITE "N5" ;
IOBUF PORT "ADC1_OUT_2" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC1_OUT_1" SITE "M4" ;
IOBUF PORT "ADC1_OUT_1" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC1_OUT_0" SITE "P3" ;
IOBUF PORT "ADC1_OUT_0" IO_TYPE=LVDS25 ;

######################################################################
# I/O bank 6 - 2.50V
# APV0 control signals, ADC0 inputs, 12 test outputs to pads
######################################################################
# due to mtraxler's recommandation we use PCLK again
# LOCATE COMP "CLK100M" SITE "AC1" ;
# IOBUF PORT "CLK100M" IO_TYPE=LVDS25 ;
LOCATE COMP "APV0A_CLK" SITE "Y7" ;
IOBUF PORT "APV0A_CLK" IO_TYPE=LVDS25E ;
LOCATE COMP "APV0B_CLK" SITE "AC4" ;
IOBUF PORT "APV0B_CLK" IO_TYPE=LVDS25E ;
LOCATE COMP "APV0A_TRG" SITE "U9" ;
IOBUF PORT "APV0A_TRG" IO_TYPE=LVDS25E ;
LOCATE COMP "APV0B_TRG" SITE "AC5" ;
IOBUF PORT "APV0B_TRG" IO_TYPE=LVDS25E ;
LOCATE COMP "APV0_SDA" SITE "Y6" ;
IOBUF PORT "APV0_SDA" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=16 ;
LOCATE COMP "APV0_SCL" SITE "AC7" ;
IOBUF PORT "APV0_SCL" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=16 ;
LOCATE COMP "APV0_RST" SITE "AA6" ;
IOBUF PORT "APV0_RST" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=16 ;
# LED on backplane
LOCATE COMP "APV0_GPIO" SITE "AC6" ;
IOBUF PORT "APV0_GPIO" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=16 ;
LOCATE COMP "ADC0_LCLK" SITE "T3" ;
IOBUF PORT "ADC0_LCLK" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC0_ADCLK" SITE "R3" ;
IOBUF PORT "ADC0_ADCLK" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC0_OUT_7" SITE "T5" ;
IOBUF PORT "ADC0_OUT_7" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC0_OUT_6" SITE "U3" ;
IOBUF PORT "ADC0_OUT_6" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC0_OUT_5" SITE "U5" ;
IOBUF PORT "ADC0_OUT_5" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC0_OUT_4" SITE "Y1" ;
IOBUF PORT "ADC0_OUT_4" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC0_OUT_3" SITE "AA1" ;
IOBUF PORT "ADC0_OUT_3" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC0_OUT_2" SITE "AB2" ;
IOBUF PORT "ADC0_OUT_2" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC0_OUT_1" SITE "AB4" ;
IOBUF PORT "ADC0_OUT_1" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC0_OUT_0" SITE "AD2" ;
IOBUF PORT "ADC0_OUT_0" IO_TYPE=LVDS25 ;
LOCATE COMP "ADC1_CLK" SITE "U1" ;
IOBUF PORT "ADC1_CLK" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4;
LOCATE COMP "ADC0_CLK" SITE "V1" ;
IOBUF PORT "ADC0_CLK" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4;

# These pins are "everyone's darling" and will be used for patching wires
# to overcome small design bugs in the PCB layout.
# Changes:
# TEST0  -> GPLL 100MHz in (removed again)
# TEST1                    (removed again)
# TEST9  -> ADC0_CLK
# TEST11 -> ADC1_CLK
# LOCATE COMP "TEST_10" SITE "V2" ;
# IOBUF PORT "TEST_10" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4;
# LOCATE COMP "TEST_8" SITE "W2" ;
# IOBUF PORT "TEST_8" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4;
# LOCATE COMP "TEST_7" SITE "W1" ;
# IOBUF PORT "TEST_7" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4;
# LOCATE COMP "TEST_6" SITE "W3" ;
# IOBUF PORT "TEST_6" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4;
# LOCATE COMP "TEST_5" SITE "Y3" ;
# IOBUF PORT "TEST_5" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4;
# LOCATE COMP "TEST_4" SITE "Y4" ;
# IOBUF PORT "TEST_4" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4;
# LOCATE COMP "TEST_3" SITE "AB1" ;
# IOBUF PORT "TEST_3" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4;
# LOCATE COMP "TEST_2" SITE "AA5" ;
# IOBUF PORT "TEST_2" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4;

######################################################################
# I/O bank 5 - 3.30V
# ADC0 control, LVDS driver control, backplane sense pins
######################################################################
LOCATE COMP "FPGA_LED_ADC_0" SITE "AE8" ;
LOCATE COMP "ADC0_SDI" SITE "AG3" ;
IOBUF PORT "ADC0_SDI" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=4 ;
LOCATE COMP "ADC0_SCK" SITE "AG2" ;
IOBUF PORT "ADC0_SCK" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=4 ;
# Former ADC0_CLK pin (no ODDRXC), changed now to FPGA_LED_PLL
LOCATE COMP "FPGA_LED_PLL" SITE "AF3" ;
LOCATE COMP "ADC0_RESET" SITE "AG5" ;
IOBUF PORT "ADC0_RESET" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=8 ;
LOCATE COMP "ADC0_CS" SITE "AG4" ;
IOBUF PORT "ADC0_CS" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=8 ;
LOCATE COMP "ADC0_PD" SITE "AF4" ;
IOBUF PORT "ADC0_PD" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=8 ;
LOCATE COMP "ENA_LVDS_7" SITE "AF8" ;
LOCATE COMP "ENA_LVDS_6" SITE "AG8" ;
LOCATE COMP "ENA_LVDS_5" SITE "AG9" ;
LOCATE COMP "ENA_LVDS_4" SITE "AG10" ;
LOCATE COMP "ENA_LVDS_3" SITE "AG11" ;
LOCATE COMP "ENA_LVDS_2" SITE "AG12" ;
LOCATE COMP "ENA_LVDS_1" SITE "AG13" ;
LOCATE COMP "ENA_LVDS_0" SITE "AG15" ;
# LOCATE COMP "FPGA_BP_5" SITE "AF16" ;
# IOBUF PORT "FPGA_BP_5" IO_TYPE=LVTTL33 ;
# LOCATE COMP "FPGA_BP_4" SITE "AE16" ;
# IOBUF PORT "FPGA_BP_4" IO_TYPE=LVTTL33 ;
# Backplane sense wires: sector number
LOCATE COMP "BP_SECTOR_3" SITE "AF15" ;
IOBUF PORT "BP_SECTOR_3" IO_TYPE=LVTTL33 PULLMODE=UP  ;
LOCATE COMP "BP_SECTOR_2" SITE "AF13" ;
IOBUF PORT "BP_SECTOR_2" IO_TYPE=LVTTL33 PULLMODE=UP ;
LOCATE COMP "BP_SECTOR_1" SITE "AF12" ;
IOBUF PORT "BP_SECTOR_1" IO_TYPE=LVTTL33 PULLMODE=UP ;
LOCATE COMP "BP_SECTOR_0" SITE "AF11" ;
IOBUF PORT "BP_MODULE_0 IO_TYPE=LVTTL33 PULLMODE=UP ;

######################################################################
# I/O bank 4 - 3.30V
# 100MHZ clock in, SPI user pins, APV0 OneWire
######################################################################
LOCATE COMP "CLK100M" SITE "AJ14" ;
IOBUF PORT "CLK100M" IO_TYPE=LVDS25 ;
# LOCATE COMP "APV0_1W_7" SITE "AJ16" ;
# IOBUF PORT "APV0_1W_7" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "APV0_1W_6" SITE "AK16" ;
# IOBUF PORT "APV0_1W_6" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "APV0_1W_5" SITE "AJ17" ;
# IOBUF PORT "APV0_1W_5" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "APV0_1W_4" SITE "AK17" ;
# IOBUF PORT "APV0_1W_4" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "APV0_1W_3" SITE "AG18" ;
# IOBUF PORT "APV0_1W_3" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "APV0_1W_2" SITE "AG19" ;
# IOBUF PORT "APV0_1W_2" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "APV0_1W_1" SITE "AG20" ;
# IOBUF PORT "APV0_1W_1" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "APV0_1W_0" SITE "AG21" ;
# IOBUF PORT "APV0_1W_0" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "EXP_2" SITE "AF21" ;
# IOBUF PORT "EXP_2" IO_TYPE=LVTTL33;
# LOCATE COMP "EXP_1" SITE "AE20" ;
# IOBUF PORT "EXP_1" IO_TYPE=LVTTL33;
# LOCATE COMP "EXP_0" SITE "AE21" ;
# IOBUF PORT "EXP_0" IO_TYPE=LVTTL33 ;
# LOCATE COMP "U_SPI_SDO" SITE "AE24" ;
# IOBUF PORT "U_SPI_SDO" IO_TYPE=LVTTL33 ;
# LOCATE COMP "U_SPI_SDI" SITE "AE25" ;
# IOBUF PORT "U_SPI_SDI" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=4 ;
# LOCATE COMP "U_SPI_CS" SITE "AD24" ;
# IOBUF PORT "U_SPI_CS" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=4 ;
# LOCATE COMP "U_SPI_SCK" SITE "AF26" ;
# IOBUF PORT "U_SPI_SCK" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=4 ;

######################################################################
# I/O bank 3 - 3.30V
# uC connection, external inputs, debug pins (SMC50)
######################################################################
# LOCATE COMP "EXT_IN_3" SITE "AA30" ;
# IOBUF PORT "EXT_IN_3" IO_TYPE=LVTTL33 ;
# LOCATE COMP "EXT_IN_2" SITE "AB30" ;
# IOBUF PORT "EXT_IN_2" IO_TYPE=LVTTL33 ;
# LOCATE COMP "EXT_IN_1" SITE "AB29" ;
# IOBUF PORT "EXT_IN_1" IO_TYPE=LVTTL33 ;
# LOCATE COMP "EXT_IN_0" SITE "AB28" ;
# IOBUF PORT "EXT_IN_0" IO_TYPE=LVTTL33 ;
LOCATE COMP "DBG_EXP_41" SITE "T27" ;
LOCATE COMP "DBG_EXP_39" SITE "T26" ;
LOCATE COMP "DBG_EXP_37" SITE "U26" ;
LOCATE COMP "DBG_EXP_35" SITE "V25" ;
LOCATE COMP "DBG_EXP_33" SITE "W25" ;
LOCATE COMP "DBG_EXP_31" SITE "W26" ;
LOCATE COMP "DBG_EXP_29" SITE "Y26" ;
LOCATE COMP "DBG_EXP_27" SITE "Y27" ;
LOCATE COMP "DBG_EXP_25" SITE "AB26" ;
LOCATE COMP "DBG_EXP_23" SITE "AC27" ;
LOCATE COMP "DBG_EXP_21" SITE "U25" ;
LOCATE COMP "DBG_EXP_19" SITE "U28" ;
LOCATE COMP "DBG_EXP_17" SITE "U27" ;
LOCATE COMP "DBG_EXP_9" SITE "P28" ;
LOCATE COMP "DBG_EXP_5" SITE "R28" ;
LOCATE COMP "DBG_EXP_3" SITE "R27" ;
LOCATE COMP "DBG_EXP_1" SITE "T28" ;
# LOCATE COMP "UC_FPGA_3" SITE "Y28" ;
# IOBUF PORT "UC_FPGA_3" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_FPGA_2" SITE "W27" ;
# IOBUF PORT "UC_FPGA_2" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_FPGA_1" SITE "W28" ;
# IOBUF PORT "UC_FPGA_1" IO_TYPE=LVTTL33 ;
# UC_FPGA_0 pin is GSR
LOCATE COMP "UC_RESET" SITE "V26" ;
IOBUF PORT "UC_RESET" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_WR" SITE "P29" ;
# IOBUF PORT "UC_WR" IO_TYPE=LVTTL33;
# LOCATE COMP "UC_RD" SITE "P30" ;
# IOBUF PORT "UC_RD" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_ALE" SITE "W29" ;
# IOBUF PORT "UC_ALE" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_SCL" SITE "N30" ;
# IOBUF PORT "UC_SCL" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_SDA" SITE "N29" ;
# IOBUF PORT "UC_SDA" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_AD_7" SITE "W30" ;
# IOBUF PORT "UC_AD_7" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_AD_6" SITE "Y29" ;
# IOBUF PORT "UC_AD_6" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_AD_5" SITE "Y30" ;
# IOBUF PORT "UC_AD_5" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_AD_4" SITE "AA29" ;
# IOBUF PORT "UC_AD_4" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_AD_3" SITE "AB27" ;
# IOBUF PORT "UC_AD_3" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_AD_2" SITE "AC29" ;
# IOBUF PORT "UC_AD_2" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_AD_1" SITE "AC30" ;
# IOBUF PORT "UC_AD_1" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_AD_0" SITE "AC28" ;
# IOBUF PORT "UC_AD_0" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_A_15" SITE "V30" ;
# IOBUF PORT "UC_A_15" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_A_14" SITE "V29" ;
# IOBUF PORT "UC_A_14" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_A_13" SITE "U30" ;
# IOBUF PORT "UC_A_13" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_A_12" SITE "U29" ;
# IOBUF PORT "UC_A_12" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_A_11" SITE "T30" ;
# IOBUF PORT "UC_A_11" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_A_10" SITE "T29" ;
# IOBUF PORT "UC_A_10" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_A_9" SITE "R30" ;
# IOBUF PORT "UC_A_9" IO_TYPE=LVTTL33 ;
# LOCATE COMP "UC_A_8" SITE "R29" ;
# IOBUF PORT "UC_A_8" IO_TYPE=LVTTL33 ;

######################################################################
# I/O bank 2 - 3.30V
# SFP control, LEDs, 1Wire ID, debug pins (SMC50)
######################################################################
LOCATE COMP "DBG_EXP_43" SITE "R26" ;
LOCATE COMP "DBG_EXP_42" SITE "P25" ;
LOCATE COMP "DBG_EXP_40" SITE "P26" ;
LOCATE COMP "DBG_EXP_38" SITE "N25" ;
LOCATE COMP "DBG_EXP_36" SITE "M25" ;
LOCATE COMP "DBG_EXP_34" SITE "M26" ;
LOCATE COMP "DBG_EXP_32" SITE "L25" ;
LOCATE COMP "DBG_EXP_30" SITE "L26" ;
LOCATE COMP "DBG_EXP_28" SITE "K25" ;
LOCATE COMP "DBG_EXP_26" SITE "J26" ;
LOCATE COMP "DBG_EXP_24" SITE "H25" ;
LOCATE COMP "DBG_EXP_22" SITE "H26" ;
LOCATE COMP "DBG_EXP_20" SITE "H24" ;
LOCATE COMP "DBG_EXP_18" SITE "G26" ;
LOCATE COMP "DBG_EXP_16" SITE "G25" ;
LOCATE COMP "DBG_EXP_15" SITE "M28" ;
LOCATE COMP "DBG_EXP_14" SITE "L27" ;
LOCATE COMP "DBG_EXP_13" SITE "M27" ;
LOCATE COMP "DBG_EXP_12" SITE "L28" ;
LOCATE COMP "DBG_EXP_11" SITE "N26" ;
LOCATE COMP "DBG_EXP_10" SITE "M30" ;
LOCATE COMP "DBG_EXP_8" SITE "M29" ;
LOCATE COMP "DBG_EXP_7" SITE "P27" ;
LOCATE COMP "DBG_EXP_6" SITE "L30" ;
LOCATE COMP "DBG_EXP_4" SITE "L29" ;
LOCATE COMP "DBG_EXP_2" SITE "K30" ;
LOCATE COMP "DBG_EXP_0" SITE "K29" ;
LOCATE COMP "FPGA_LED_6" SITE "G28" ;
LOCATE COMP "FPGA_LED_5" SITE "G27" ;
LOCATE COMP "FPGA_LED_4" SITE "H28" ;
LOCATE COMP "FPGA_LED_3" SITE "H27" ;
LOCATE COMP "FPGA_LED_RXD" SITE "J28" ;
LOCATE COMP "FPGA_LED_TXD" SITE "J27" ;
LOCATE COMP "FPGA_LED_LINK" SITE "K26" ;
LOCATE COMP "SD_LOS" SITE "F30" ;
IOBUF PORT "SD_LOS" IO_TYPE=LVTTL33 ;
LOCATE COMP "SD_PRESENT" SITE "G30" ;
IOBUF PORT "SD_PRESENT" IO_TYPE=LVTTL33 ;
LOCATE COMP "SD_TXDIS" SITE "J29" ;
IOBUF PORT "SD_TXDIS" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=4 ;
# LOCATE COMP "SD_TXFAULT" SITE "J30" ;
# IOBUF PORT "SD_TXFAULT" IO_TYPE=LVTTL33 ;
# LOCATE COMP "SD_SDA" SITE "H30" ;
# IOBUF PORT "SD_SDA" IO_TYPE=LVTTL33 ;
# LOCATE COMP "SD_SCL" SITE "H29" ;
# IOBUF PORT "SD_SCL" IO_TYPE=LVTTL33 ;
# LOCATE COMP "SD_RATE" SITE "G29" ;
# IOBUF PORT "SD_RATE" IO_TYPE=LVTTL33 ;
LOCATE COMP "ONEWIRE" SITE "F29" ;
IOBUF PORT "ONEWIRE" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=8 ;

######################################################################
# I/O bank 1 - 3.30V
# APV1 OneWire
######################################################################
# LOCATE COMP "APV1_1W_7" SITE "B15" ;
# IOBUF PORT "APV1_1W_7" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "APV1_1W_6" SITE "A16" ;
# IOBUF PORT "APV1_1W_6" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "APV1_1W_5" SITE "B16" ;
# IOBUF PORT "APV1_1W_5" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "APV1_1W_4" SITE "A17" ;
# IOBUF PORT "APV1_1W_4" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "APV1_1W_3" SITE "B17" ;
# IOBUF PORT "APV1_1W_3" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "APV1_1W_2" SITE "C16" ;
# IOBUF PORT "APV1_1W_2" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "APV1_1W_1" SITE "C17" ;
# IOBUF PORT "APV1_1W_1" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
# LOCATE COMP "APV1_1W_0" SITE "D16" ;
# IOBUF PORT "APV1_1W_0" IO_TYPE=LVTTL33 PULLMODE=UP DRIVE=16;
######################################################################
# I/O bank 0 - 3.30V
# ADC1 control, LVDS driver control, backplane sense pins
######################################################################
LOCATE COMP "FPGA_LED_ADC_1" SITE "H10" ;
LOCATE COMP "ADC1_SDI" SITE "D5" ;
IOBUF PORT "ADC1_SDI" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=4 ;
LOCATE COMP "ADC1_SCK" SITE "D4" ;
IOBUF PORT "ADC1_SCK" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=4 ;
# LOCATE COMP "ADC1_CLK" SITE "F6" ; # BUG - not used anymore (no ODDRXC)
# IOBUF PORT "ADC1_CLK" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=4 ;
LOCATE COMP "ADC1_RESET" SITE "E5" ;
IOBUF PORT "ADC1_RESET" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=8 ;
LOCATE COMP "ADC1_CS" SITE "E8" ;
IOBUF PORT "ADC1_CS" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=8 ;
LOCATE COMP "ADC1_PD" SITE "F7" ;
IOBUF PORT "ADC1_PD" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=8 ;
LOCATE COMP "ENB_LVDS_7" SITE "D11" ;
LOCATE COMP "ENB_LVDS_6" SITE "F11" ;
LOCATE COMP "ENB_LVDS_5" SITE "D9" ;
LOCATE COMP "ENB_LVDS_4" SITE "D8" ;
LOCATE COMP "ENB_LVDS_3" SITE "D15" ;
LOCATE COMP "ENB_LVDS_2" SITE "E13" ;
LOCATE COMP "ENB_LVDS_1" SITE "D13" ;
LOCATE COMP "ENB_LVDS_0" SITE "D12" ;
# LOCATE COMP "FPGA_BP_13" SITE "C15" ;
# IOBUF PORT "FPGA_BP_13" IO_TYPE=LVTTL33 ;
# LOCATE COMP "FPGA_BP_12" SITE "C14" ;
# IOBUF PORT "FPGA_BP_12" IO_TYPE=LVTTL33 ;
# Backplane sense wires: backplane number
LOCATE COMP "BP_MODULE_3" SITE "A14" ;
IOBUF PORT "BP_MODULE_3" IO_TYPE=LVTTL33 PULLMODE=UP ;
LOCATE COMP "BP_MODULE_2" SITE "F13" ;
IOBUF PORT "BP_MODULE_2" IO_TYPE=LVTTL33 PULLMODE=UP ;
LOCATE COMP "BP_MODULE_1" SITE "E12" ;
IOBUF PORT "BP_MODULE_1" IO_TYPE=LVTTL33 PULLMODE=UP ;
LOCATE COMP "BP_MODULE_0" SITE "G11" ;
IOBUF PORT "BP_MODULE_0" IO_TYPE=LVTTL33 PULLMODE=UP ;

######################################################################
# simplify IO definitions
######################################################################
# Debug header (50pin SMC connector)
DEFINE PORT GROUP "debug_header_group" "DBG_EXP_{0:43}" ;
IOBUF GROUP "debug_header_group" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=FAST ;

# LED drivers
DEFINE PORT GROUP "led_output_group" "FPGA_LED*" ;
IOBUF GROUP "led_output_group" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=16 SLEWRATE=SLOW ;

# LVDS driver control
DEFINE PORT GROUP "enable_lvds_group" "EN?_LVDS_{0:7}" ;
IOBUF GROUP "enable_lvds_group" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW ;

######################################################################
# FPGA boot et. al.
######################################################################
SYSCONFIG PERSISTENT=OFF ;
SYSCONFIG CONFIG_MODE=SPI ;
SYSCONFIG DONE_OD=OFF ;
SYSCONFIG DONE_EX=OFF ;
SYSCONFIG MCCLK_FREQ=34 ;
SYSCONFIG CONFIG_SECURE=OFF ;
SYSCONFIG WAKE_UP=21 ;
#SYSCONFIG WAKE_ON_LOCK=OFF ;
SYSCONFIG COMPRESS_CONFIG=OFF ;
SYSCONFIG INBUF=OFF ;
SYSCONFIG ENABLE_NDR=OFF ;
USERCODE HEX "DEADAFFE" ;
