#################################################################
# Basic Constraints
#################################################################
COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVTTL33 PULLMODE=DOWN ;


#################################################################
# Clock
#################################################################
LOCATE COMP  "CLK_100_IN"     SITE "T5";
LOCATE COMP  "CLK_125_IN"     SITE "N1";

IOBUF PORT "CLK_100_IN"       IO_TYPE=LVDS25 ;
IOBUF PORT "CLK_125_IN"       IO_TYPE=LVDS25 ;

#################################################################
# Reset
#################################################################
LOCATE COMP  "ADDON_RESET"    SITE "AC16";
LOCATE COMP  "RESET_FPGA_2"   SITE "AG11";

IOBUF PORT "ADDON_RESET"      IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "RESET_FPGA_2"     IO_TYPE=LVTTL33 PULLMODE=UP ;

#################################################################
# To TRB
#################################################################
LOCATE COMP  "ADO_LV_0"	  SITE "F25";
LOCATE COMP  "ADO_LV_1"	  SITE "F24";
LOCATE COMP  "ADO_LV_2"	  SITE "G25";
LOCATE COMP  "ADO_LV_3"	  SITE "F26";
LOCATE COMP  "ADO_LV_4"	  SITE "E27";
LOCATE COMP  "ADO_LV_5"	  SITE "D27";
LOCATE COMP  "ADO_LV_6"	  SITE "H25";
LOCATE COMP  "ADO_LV_7"	  SITE "G24";
LOCATE COMP  "ADO_LV_8"	  SITE "E28";
LOCATE COMP  "ADO_LV_9"	  SITE "D28";
LOCATE COMP  "ADO_LV_10"	  SITE "H24";
LOCATE COMP  "ADO_LV_11"	  SITE "H23";
LOCATE COMP  "ADO_LV_12"	  SITE "G26";
LOCATE COMP  "ADO_LV_13"	  SITE "H27";
LOCATE COMP  "ADO_LV_14"	  SITE "H26";
LOCATE COMP  "ADO_LV_15"	  SITE "J26";
LOCATE COMP  "ADO_LV_16"	  SITE "J23";
LOCATE COMP  "ADO_LV_17"	  SITE "J22";
LOCATE COMP  "ADO_LV_18"	  SITE "K22";
LOCATE COMP  "ADO_LV_19"	  SITE "K23";
LOCATE COMP  "ADO_LV_20"	  SITE "K26";
LOCATE COMP  "ADO_LV_21"	  SITE "J27";
LOCATE COMP  "ADO_LV_22"	  SITE "K25";
LOCATE COMP  "ADO_LV_23"	  SITE "K24";
LOCATE COMP  "ADO_LV_24"	  SITE "D29";
LOCATE COMP  "ADO_LV_25"	  SITE "D30";
LOCATE COMP  "ADO_LV_26"	  SITE "L23";
LOCATE COMP  "ADO_LV_27"	  SITE "L24";
LOCATE COMP  "ADO_LV_28"	  SITE "G27";
LOCATE COMP  "ADO_LV_29"	  SITE "G28";
LOCATE COMP  "ADO_LV_30"	  SITE "J28";
LOCATE COMP  "ADO_LV_31"	  SITE "H28";
LOCATE COMP  "ADO_LV_32"	  SITE "L26";
LOCATE COMP  "ADO_LV_33"	  SITE "L25";
LOCATE COMP  "ADO_LV_34"	  SITE "E29";
LOCATE COMP  "ADO_LV_35"	  SITE "E30";
LOCATE COMP  "ADO_LV_36"	  SITE "F29";
LOCATE COMP  "ADO_LV_37"	  SITE "F30";
LOCATE COMP  "ADO_LV_38"	  SITE "M22";
LOCATE COMP  "ADO_LV_39"	  SITE "L22";
LOCATE COMP  "ADO_LV_40"	  SITE "G29";
LOCATE COMP  "ADO_LV_41"	  SITE "H29";
LOCATE COMP  "ADO_LV_42"	  SITE "L27";
LOCATE COMP  "ADO_LV_43"	  SITE "L28";
LOCATE COMP  "ADO_LV_44"	  SITE "L29";
LOCATE COMP  "ADO_LV_45"	  SITE "L30";
LOCATE COMP  "ADO_LV_46"	  SITE "M26";
LOCATE COMP  "ADO_LV_47"	  SITE "M25";
LOCATE COMP  "ADO_LV_48"	  SITE "G30";
LOCATE COMP  "ADO_LV_49"	  SITE "H30";
LOCATE COMP  "ADO_LV_50"	  SITE "M28";
LOCATE COMP  "ADO_LV_51"	  SITE "M27";
LOCATE COMP  "ADO_LV_52"	  SITE "N26";
LOCATE COMP  "ADO_LV_53"	  SITE "N25";
LOCATE COMP  "ADO_LV_54"	  SITE "N23";
LOCATE COMP  "ADO_LV_55"	  SITE "N24";
LOCATE COMP  "ADO_LV_56"	  SITE "J29";
LOCATE COMP  "ADO_LV_57"	  SITE "J30";
LOCATE COMP  "ADO_LV_58"	  SITE "P22";
LOCATE COMP  "ADO_LV_59"	  SITE "N22";
LOCATE COMP  "ADO_LV_60"	  SITE "K29";
LOCATE COMP  "ADO_LV_61"	  SITE "K30";

DEFINE PORT GROUP "ADOLV_group" "ADO_LV*" ;
IOBUF GROUP "ADOLV_group" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=12;


#################################################################
# To 1st FPGA
#################################################################
LOCATE COMP  "FFC_0"    SITE "R1";
LOCATE COMP  "FFC_1"    SITE "T1";
LOCATE COMP  "FFC_2"    SITE "T3";
LOCATE COMP  "FFC_3"    SITE "T2";
LOCATE COMP  "FFC_4"    SITE "U9";
LOCATE COMP  "FFC_5"    SITE "U8";
LOCATE COMP  "FFC_6"    SITE "U5";
LOCATE COMP  "FFC_7"    SITE "U4";
LOCATE COMP  "FFC_8"    SITE "V9";
LOCATE COMP  "FFC_9"    SITE "V7";
LOCATE COMP  "FFC_10"   SITE "U3";
LOCATE COMP  "FFC_11"   SITE "U2";
LOCATE COMP  "FFC_12"   SITE "V8";
LOCATE COMP  "FFC_13"   SITE "U6";
LOCATE COMP  "FFC_14"   SITE "U1";
LOCATE COMP  "FFC_15"   SITE "V2";
LOCATE COMP  "FFC_16"   SITE "V5";
LOCATE COMP  "FFC_17"   SITE "V6";
LOCATE COMP  "FFC_18"   SITE "V1";
LOCATE COMP  "FFC_19"   SITE "W1";
LOCATE COMP  "FFC_20"   SITE "W5";
LOCATE COMP  "FFC_21"   SITE "W6";
LOCATE COMP  "FFC_22"   SITE "W3";
# LOCATE COMP  "FFC_23"	  SITE "W4";
LOCATE COMP  "ONEWIRE_MONITOR_OUT"    SITE "W4";

DEFINE PORT GROUP "FFC_group" "FFC*" ;
IOBUF GROUP "FFC_group"               IO_TYPE=LVCMOS25 PULLMODE=DOWN DRIVE=12;
IOBUF PORT "ONEWIRE_MONITOR_OUT"      IO_TYPE=LVCMOS25 PULLMODE=UP   DRIVE=4 ;

#################################################################
# LED
#################################################################
LOCATE COMP  "LED_GBE_OK"   SITE "AC30";
LOCATE COMP  "LED_GBE_RX"   SITE "AB30";
LOCATE COMP  "LED_GBE_TX"   SITE "AA30";
LOCATE COMP  "LED_TRB_OK"   SITE "AC27";
LOCATE COMP  "LED_TRB_RX"   SITE "AC28";
LOCATE COMP  "LED_TRB_TX"   SITE "AC29";

LOCATE COMP  "LED_RED"      SITE "R29";
LOCATE COMP  "LED_YELLOW"   SITE "T27";
LOCATE COMP  "LED_GREEN"    SITE "T26";
LOCATE COMP  "LED_ORANGE"   SITE "N30";

DEFINE PORT GROUP "LED_group" "LED*" ;
IOBUF GROUP "LED_group" IO_TYPE=LVCMOS25 PULLMODE=UP DRIVE=8;

#################################################################
# SFP
#################################################################
LOCATE COMP  "GBE_LOS"	    SITE "AG8";
LOCATE COMP  "GBE_MOD_0"	  SITE "AF8";
LOCATE COMP  "GBE_MOD_1"	  SITE "AE15";
LOCATE COMP  "GBE_MOD_2"	  SITE "AC15";
LOCATE COMP  "GBE_TX_DIS"   SITE "AD14";

LOCATE COMP  "TRB_LOS"    SITE "AG9";
LOCATE COMP  "TRB_MOD_0"    SITE "AH14";
LOCATE COMP  "TRB_MOD_1"    SITE "AG12";
LOCATE COMP  "TRB_MOD_2"    SITE "AG15";
LOCATE COMP  "TRB_TX_DIS"   SITE "AG10";

DEFINE PORT GROUP "GBE_group" "GBE*" ;
IOBUF GROUP "GBE_group"       IO_TYPE=LVTTL33 PULLMODE=UP;

DEFINE PORT GROUP "TRB_group" "TRB*" ;
IOBUF GROUP "TRB_group"       IO_TYPE=LVTTL33 PULLMODE=UP;

#################################################################
# Flash
#################################################################
LOCATE COMP  "SPI_CLK_OUT"   SITE "AE21";
LOCATE COMP  "SPI_CS_OUT"    SITE "AE20";
LOCATE COMP  "SPI_SI_OUT"    SITE "AC23";
LOCATE COMP  "SPI_SO_IN"    SITE "AD23";
LOCATE COMP  "PROGRAMN_OUT"  SITE "AJ14";

DEFINE PORT GROUP "SPI_group" "SPI*" ;
IOBUF GROUP "SPI_group"       IO_TYPE=LVTTL33 PULLMODE=UP;
IOBUF PORT  "PROGRAMN_OUT"    IO_TYPE=LVTTL33 PULLMODE=UP;

#################################################################
# RAM
#################################################################
LOCATE COMP  "RAM_ADSCB"	SITE "F14";
LOCATE COMP  "RAM_ADSPB"	SITE "H14";
LOCATE COMP  "RAM_ADVB"	  SITE "J14";
LOCATE COMP  "RAM_CE_2"   SITE "E15";
LOCATE COMP  "RAM_CEB"    SITE "C14";
LOCATE COMP  "RAM_CLK"    SITE "E16";
LOCATE COMP  "RAM_GWB"    SITE "F15";
LOCATE COMP  "RAM_OEB"    SITE "G14";

LOCATE COMP  "RAM_A_0"    SITE "J18";
LOCATE COMP  "RAM_A_1"    SITE "J19";
LOCATE COMP  "RAM_A_2"	  SITE "H17";
LOCATE COMP  "RAM_A_3"	  SITE "J17";
LOCATE COMP  "RAM_A_4"	  SITE "F18";
LOCATE COMP  "RAM_A_5"	  SITE "F17";
LOCATE COMP  "RAM_A_6"	  SITE "A16";
LOCATE COMP  "RAM_A_7"	  SITE "B16";
LOCATE COMP  "RAM_A_8"	  SITE "G17";
LOCATE COMP  "RAM_A_9"	  SITE "G16";
LOCATE COMP  "RAM_A_10"	  SITE "H16";
LOCATE COMP  "RAM_A_11"	  SITE "F16";
LOCATE COMP  "RAM_A_12"	  SITE "J16";
LOCATE COMP  "RAM_A_13"	  SITE "G15";
LOCATE COMP  "RAM_A_14"	  SITE "C16";
LOCATE COMP  "RAM_A_15"	  SITE "D16";
LOCATE COMP  "RAM_A_16"	  SITE "J15";
LOCATE COMP  "RAM_A_17"	  SITE "H15";
LOCATE COMP  "RAM_A_18"	  SITE "A15";
LOCATE COMP  "RAM_A_19"	  SITE "B15";

LOCATE COMP  "RAM_DQ_1"	  SITE "E23";
LOCATE COMP  "RAM_DQ_2"	  SITE "G22";
LOCATE COMP  "RAM_DQ_3"	  SITE "D22";
LOCATE COMP  "RAM_DQ_4"	  SITE "F21";
LOCATE COMP  "RAM_DQ_5"	  SITE "G18";
LOCATE COMP  "RAM_DQ_6"	  SITE "H18";
LOCATE COMP  "RAM_DQ_7"	  SITE "D20";
LOCATE COMP  "RAM_DQ_8"	  SITE "D21";
LOCATE COMP  "RAM_DQ_9"	  SITE "E20";
LOCATE COMP  "RAM_DQ_10"	SITE "E19";
LOCATE COMP  "RAM_DQ_11"	SITE "D19";
LOCATE COMP  "RAM_DQ_12"	SITE "E18";
LOCATE COMP  "RAM_DQ_13"	SITE "D18";
LOCATE COMP  "RAM_DQ_14"	SITE "C17";
LOCATE COMP  "RAM_DQ_15"	SITE "A17";
LOCATE COMP  "RAM_DQ_16"	SITE "B17";
LOCATE COMP  "RAM_DQ_17"	SITE "C15";
LOCATE COMP  "RAM_DQ_18"	SITE "D15";

LOCATE COMP  "RAM_TCK"	  SITE "D26";
LOCATE COMP  "RAM_TDI"	  SITE "D23";
LOCATE COMP  "RAM_TDO"	  SITE "E26";
LOCATE COMP  "RAM_TMS"	  SITE "E21";

DEFINE PORT GROUP "RAM_group" "RAM*" ;
IOBUF GROUP "RAM_group"       IO_TYPE=LVCMOS25 PULLMODE=UP;


#################################################################
# Debug
#################################################################
LOCATE COMP  "TEST_LINE_0"    SITE "J3";
LOCATE COMP  "TEST_LINE_1"    SITE "J2";
LOCATE COMP  "TEST_LINE_2"    SITE "H1";
LOCATE COMP  "TEST_LINE_3"    SITE "J1";
LOCATE COMP  "TEST_LINE_4"    SITE "L5";
LOCATE COMP  "TEST_LINE_5"    SITE "L4";
LOCATE COMP  "TEST_LINE_6"    SITE "N9";
LOCATE COMP  "TEST_LINE_7"    SITE "N7";
LOCATE COMP  "TEST_LINE_8"    SITE "K2";
LOCATE COMP  "TEST_LINE_9"    SITE "K1";
LOCATE COMP  "TEST_LINE_10"   SITE "P9";
LOCATE COMP  "TEST_LINE_11"   SITE "P7";
LOCATE COMP  "TEST_LINE_12"   SITE "M6";
LOCATE COMP  "TEST_LINE_13"   SITE "M5";
LOCATE COMP  "TEST_LINE_14"   SITE "N5";
LOCATE COMP  "TEST_LINE_15"   SITE "N6";
DEFINE PORT GROUP "TEST_LINE_group" "TEST_LINE*" ;
IOBUF GROUP "TEST_LINE_group" IO_TYPE=LVCMOS25 PULLMODE=DOWN DRIVE=12;

#################################################################
# Other
#################################################################
LOCATE COMP "TEMPSENS"    SITE "AF10";
IOBUF PORT  "TEMPSENS"    IO_TYPE=LVTTL33 PULLMODE=UP;


#################################################################
# Signals not needed in lpf
#################################################################
# LOCATE COMP  "DONE_F_2"   SITE "AF27";
# LOCATE COMP  "F2_TO_F1_BN"    SITE "AJ6";
# LOCATE COMP  "F2_TO_F1_AP"    SITE "AK5";
# LOCATE COMP  "F2_TO_F1_AN"    SITE "AJ5";
# LOCATE COMP  "F2_TO_F1_BP"    SITE "AK6";
# LOCATE COMP  "F2_CFG_0"   SITE "AG28";
# LOCATE COMP  "F1_TO_F2_BN"    SITE "AJ3";
# LOCATE COMP  "F1_TO_F2_AP"    SITE "AK2";
# LOCATE COMP  "F1_TO_F2_AN"    SITE "AJ2";
# LOCATE COMP  "F1_TO_F2_BP"    SITE "AK3";
# LOCATE COMP  "F2_CFG_1"   SITE "AD25";
# LOCATE COMP  "F2_CFG_2"   SITE "AG27";
# LOCATE COMP  "FS_PE_1"    SITE "AF2";
# LOCATE COMP  "FS_PE_2"    SITE "AE2";
# LOCATE COMP  "GBE_RXN"    SITE "B29";
# LOCATE COMP  "GBE_RXP"    SITE "A29";
# LOCATE COMP  "GBE_TXN"    SITE "B26";
# LOCATE COMP  "GBE_TXP"    SITE "A26";
# LOCATE COMP  "GBE_RATE_SEL"   SITE "AD15";
# LOCATE COMP  "GBE_TX_FAULT"   SITE "AF12";
# LOCATE COMP  "GND"    SITE "Y17";
# LOCATE COMP  "INITN_F_2"    SITE "AC24";
# LOCATE COMP  "TRB_RXN"    SITE "AJ29";
# LOCATE COMP  "TRB_RXP"    SITE "AK29";
# LOCATE COMP  "TRB_TXN"    SITE "AJ26";
# LOCATE COMP  "TRB_TXP"    SITE "AK26";
# LOCATE COMP  "TDO_F_1"    SITE "AE1";
# LOCATE COMP  "TDO_F_2"    SITE "AF1";
# LOCATE COMP  "SPI_CLK_F_2"    SITE "AG29";
# LOCATE COMP  "SPI_CS_F_2"   SITE "AA22";
# LOCATE COMP  "SPI_FAST"   SITE "AF29";
# LOCATE COMP  "SPI_IN_F_2"   SITE "AA23";
# LOCATE COMP  "SPI_OUT_F_2"    SITE "AD30";
# LOCATE COMP  "N_18431150"   SITE "T5";
# LOCATE COMP  "N_18431154"   SITE "T4";
# LOCATE COMP  "N_18431301"   SITE "R29";
# LOCATE COMP  "N_18431304"   SITE "T27";
# LOCATE COMP  "N_18431307"   SITE "T26";
# LOCATE COMP  "N_18431310"   SITE "N30";
# LOCATE COMP  "N_18569491"   SITE "AD26";
# LOCATE COMP  "N_18569495"   SITE "AE30";
# LOCATE COMP  "N_18569497"   SITE "AE29";
# LOCATE COMP  "N_18569499"   SITE "AE26";
# LOCATE COMP  "N_18569501"   SITE "AF28";
# LOCATE COMP  "N_18569511"   SITE "AB23";
# LOCATE COMP  "N_18569543"   SITE "AC25";
# LOCATE COMP  "N_18569545"   SITE "AD29";
# LOCATE COMP  "N_18569559"   SITE "G23";
# LOCATE COMP  "N_18569579"   SITE "AC26";
# LOCATE COMP  "N_18569592"   SITE "AB8";
# LOCATE COMP  "N_18569596"   SITE "AB22";
# LOCATE COMP  "N_18569744"   SITE "AF30";
# LOCATE COMP  "N_18645722"   SITE "P1";
# LOCATE COMP  "N_18645740"   SITE "N1";
# LOCATE COMP  "N_19273974"   SITE "K2";
# LOCATE COMP  "N_19273977"   SITE "K1";
# LOCATE COMP  "N_19273980"   SITE "P9";
# LOCATE COMP  "N_19273983"   SITE "P7";
# LOCATE COMP  "N_19273986"   SITE "M6";
# LOCATE COMP  "N_19273989"   SITE "M5";
# LOCATE COMP  "N_19273992"   SITE "N5";
# LOCATE COMP  "N_19273995"   SITE "N6";
# LOCATE COMP  "N_19273998"   SITE "J3";
# LOCATE COMP  "N_19274001"   SITE "J2";
# LOCATE COMP  "N_19274004"   SITE "H1";
# LOCATE COMP  "N_19274007"   SITE "J1";
# LOCATE COMP  "N_19274010"   SITE "L5";
# LOCATE COMP  "N_19274013"   SITE "L4";
# LOCATE COMP  "N_19274016"   SITE "N9";
# LOCATE COMP  "N_19274019"   SITE "N7";
# LOCATE COMP  "N_19511852"   SITE "AF10";
# LOCATE COMP  "N_20664224"   SITE "AJ14";
# LOCATE COMP  "TRB_RATE_SEL"   SITE "AG13";
# LOCATE COMP  "TRB_TX_FAULT"   SITE "AF15";
