

IOBUF ALLPORTS IO_TYPE=LVTTL33 PULLMODE=DOWN ;

#################################################################
# Clock I/O
#################################################################
LOCATE COMP "FCLK_1" SITE "M29" ;
IOBUF PORT "FCLK_1" IO_TYPE=LVDS25 PCICLAMP=OFF OPENDRAIN=OFF ;
# LOCATE COMP "FROM_TRB_TO_ADDON_CLK" SITE "N1" ;
# IOBUF PORT "FROM_TRB_TO_ADDON_CLK" IO_TYPE=LVDS25 ;
# LOCATE COMP "ADO_CLKOUTP" SITE "AB26" ;
# IOBUF PORT "ADO_CLKOUTP" IO_TYPE=LVDS25 ;
# LOCATE COMP "CLOCK_FEEDBACK" SITE "AB28" ;
# IOBUF PORT "CLOCK_FEEDBACK" IO_TYPE=LVDS25 ;
# LOCATE COMP "CLOCK_INTER_FPGA" SITE "G25" ;
# IOBUF PORT "CLOCK_INTER_FPGA" IO_TYPE=LVDS25 PULLMODE=NONE ;


#################################################################
# Reset
#################################################################
LOCATE COMP "ADDON_RESET" SITE "E19" ;
IOBUF PORT "ADDON_RESET" IO_TYPE=LVTTL33 ;


#################################################################
#Serdes Oscillators
#################################################################
# LOCATE COMP  "S_OSC_1"    SITE "AG7";
# LOCATE COMP  "S_OSC_2"    SITE "AG24";
# LOCATE COMP  "S_OSC_3"    SITE "D24";
# LOCATE COMP  "S_OSC_4"    SITE "D7";
# LOCATE COMP  "S_OSCB_1"   SITE "AF7";
# LOCATE COMP  "S_OSCB_2"   SITE "AF24";
# LOCATE COMP  "S_OSCB_3"   SITE "E24";
# LOCATE COMP  "S_OSCB_4"   SITE "E7";
# IOBUF PORT "S_OSC_1" IO_TYPE=LVDS25 ;
# IOBUF PORT "S_OSC_2" IO_TYPE=LVDS25 ;
# IOBUF PORT "S_OSC_3" IO_TYPE=LVDS25 ;
# IOBUF PORT "S_OSC_4" IO_TYPE=LVDS25 ;


#################################################################
# AddOn-Connector Data Lines
#################################################################
LOCATE COMP  "ADO_LV_16"    SITE "R3";
LOCATE COMP  "ADO_LV_17"    SITE "R2";
LOCATE COMP  "ADO_LV_18"    SITE "T5";
LOCATE COMP  "ADO_LV_19"    SITE "T4";
LOCATE COMP  "ADO_LV_20"    SITE "U5";
LOCATE COMP  "ADO_LV_21"    SITE "U4";
LOCATE COMP  "ADO_LV_22"    SITE "Y9";
LOCATE COMP  "ADO_LV_23"    SITE "Y8";
LOCATE COMP  "ADO_LV_24"    SITE "AB2";
LOCATE COMP  "ADO_LV_25"    SITE "AB3";
LOCATE COMP  "ADO_LV_26"    SITE "AC7";
LOCATE COMP  "ADO_LV_27"    SITE "AC6";
LOCATE COMP  "ADO_LV_44"    SITE "T3";
LOCATE COMP  "ADO_LV_45"    SITE "T2";
LOCATE COMP  "ADO_LV_46"    SITE "U3";
LOCATE COMP  "ADO_LV_47"    SITE "U2";
LOCATE COMP  "ADO_LV_48"    SITE "Y1";
LOCATE COMP  "ADO_LV_49"    SITE "Y2";
LOCATE COMP  "ADO_LV_50"    SITE "AA1";
LOCATE COMP  "ADO_LV_51"    SITE "AA2";
LOCATE COMP  "ADO_LV_52"    SITE "AB4";
LOCATE COMP  "ADO_LV_53"    SITE "AB5";
LOCATE COMP  "ADO_LV_54"    SITE "AC1";
LOCATE COMP  "ADO_LV_55"    SITE "AC2";
LOCATE COMP  "ADO_LV_56"    SITE "U1";
LOCATE COMP  "ADO_LV_57"    SITE "V2";
LOCATE COMP  "ADO_LV_58"    SITE "V1";
LOCATE COMP  "ADO_LV_59"    SITE "W1";
LOCATE COMP  "ADO_LV_60"    SITE "W3";
LOCATE COMP  "ADO_LV_61"    SITE "W4";
DEFINE PORT GROUP "ADO_LV_group" "ADO_LV*" ;
IOBUF GROUP "ADO_LV_group" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=12;

LOCATE COMP "ADO_TTL_0" SITE "AF10" ;
LOCATE COMP "ADO_TTL_1" SITE "AE8" ;
LOCATE COMP "ADO_TTL_2" SITE "AE11" ;
LOCATE COMP "ADO_TTL_3" SITE "AD9" ;
LOCATE COMP "ADO_TTL_4" SITE "AE10" ;
LOCATE COMP "ADO_TTL_5" SITE "AD10" ;
LOCATE COMP "ADO_TTL_6" SITE "AE13" ;
LOCATE COMP "ADO_TTL_7" SITE "AC12" ;
LOCATE COMP "ADO_TTL_8" SITE "AG2" ;
LOCATE COMP "ADO_TTL_9" SITE "AG3" ;
LOCATE COMP "ADO_TTL_10" SITE "AD13" ;
LOCATE COMP "ADO_TTL_11" SITE "AC13" ;
LOCATE COMP "ADO_TTL_12" SITE "AE14" ;
LOCATE COMP "ADO_TTL_13" SITE "AC14" ;
LOCATE COMP "ADO_TTL_14" SITE "AF3" ;
LOCATE COMP "ADO_TTL_15" SITE "AF4" ;
LOCATE COMP "ADO_TTL_16" SITE "AG4" ;
LOCATE COMP "ADO_TTL_17" SITE "AG5" ;
LOCATE COMP "ADO_TTL_18" SITE "AD11" ;
LOCATE COMP "ADO_TTL_19" SITE "AF13" ;
LOCATE COMP "ADO_TTL_20" SITE "AF12" ;
LOCATE COMP "ADO_TTL_21" SITE "AD14" ;
LOCATE COMP "ADO_TTL_22" SITE "AG8" ;
LOCATE COMP "ADO_TTL_23" SITE "AF8" ;
LOCATE COMP "ADO_TTL_24" SITE "AE15" ;
LOCATE COMP "ADO_TTL_25" SITE "AC15" ;
LOCATE COMP "ADO_TTL_26" SITE "AD15" ;
LOCATE COMP "ADO_TTL_27" SITE "AF15" ;
LOCATE COMP "ADO_TTL_28" SITE "AG10" ;
LOCATE COMP "ADO_TTL_29" SITE "AG9" ;
LOCATE COMP "ADO_TTL_30" SITE "AF16" ;
LOCATE COMP "ADO_TTL_31" SITE "AC16" ;
LOCATE COMP "ADO_TTL_32" SITE "AE16" ;
LOCATE COMP "ADO_TTL_33" SITE "AF11" ;
LOCATE COMP "ADO_TTL_34" SITE "AD17" ;
LOCATE COMP "ADO_TTL_35" SITE "AF19" ;
LOCATE COMP "ADO_TTL_36" SITE "AH17" ;
LOCATE COMP "ADO_TTL_37" SITE "AJ17" ;
LOCATE COMP "ADO_TTL_38" SITE "AF26" ;
LOCATE COMP "ADO_TTL_39" SITE "AE25" ;
LOCATE COMP "ADO_TTL_40" SITE "AJ14" ;
LOCATE COMP "ADO_TTL_41" SITE "AK14" ;
LOCATE COMP "ADO_TTL_42" SITE "AK15" ;
LOCATE COMP "ADO_TTL_43" SITE "AK16" ;
LOCATE COMP "ADO_TTL_44" SITE "AF18" ;
LOCATE COMP "ADO_TTL_45" SITE "AD16" ;
# LOCATE COMP "ADO_TTL_46" SITE "AJ15" ; occupied by onewire monitor
DEFINE PORT GROUP "ADO_TTL_group" "ADO_TTL*" ;
IOBUF GROUP "ADO_TTL_group" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=12;


LOCATE COMP  "ONEWIRE_F1"  SITE "AJ15";
IOBUF PORT "ONEWIRE_F1" IO_TYPE=LVTTL33 PULLMODE=UP;

#################################################################
# LED next to FPGA
#################################################################
LOCATE COMP "DBUSY_1" SITE "AG22" ;
IOBUF PORT "DBUSY_1" IO_TYPE=LVTTL33 PULLMODE=NONE ;
LOCATE COMP "DEADTIME_1" SITE "AG18" ;
IOBUF PORT "DEADTIME_1" IO_TYPE=LVTTL33 PULLMODE=NONE ;
LOCATE COMP "DTRIGGER_1" SITE "AF21" ;
IOBUF PORT "DTRIGGER_1" IO_TYPE=LVTTL33 PULLMODE=NONE ;
LOCATE COMP "DWAIT_1" SITE "AJ16" ;
IOBUF PORT "DWAIT_1" IO_TYPE=LVTTL33 PULLMODE=NONE ;


#################################################################
# LED
#################################################################
LOCATE COMP "LED_NC_17" SITE "D19" ;
LOCATE COMP "LED_NC_18" SITE "D18" ;
LOCATE COMP "LED_NC_19" SITE "H17" ;
LOCATE COMP "LED_NC_20" SITE "F18" ;
LOCATE COMP "LED_NC_21" SITE "C16" ;
LOCATE COMP "LED_NC_22" SITE "J15" ;
LOCATE COMP "LED_NC_23" SITE "F14" ;
LOCATE COMP "LED_NC_24" SITE "A14" ;
LOCATE COMP "LED_NC_25" SITE "D13" ;
LOCATE COMP "LED_NC_26" SITE "G13" ;
LOCATE COMP "LED_NC_27" SITE "AD18" ;
LOCATE COMP "LED_NC_28" SITE "AE18" ;
LOCATE COMP "LED_NC_29" SITE "AC19" ;
LOCATE COMP "LED_NC_30" SITE "AB18" ;
LOCATE COMP "LED_NC_31" SITE "AE20" ;
LOCATE COMP "LED_NC_32" SITE "AC23" ;
LOCATE COMP "LED_RX_17" SITE "E18" ;
LOCATE COMP "LED_RX_18" SITE "C17" ;
LOCATE COMP "LED_RX_19" SITE "J17" ;
LOCATE COMP "LED_RX_20" SITE "F17" ;
LOCATE COMP "LED_RX_21" SITE "D16" ;
LOCATE COMP "LED_RX_22" SITE "H15" ;
LOCATE COMP "LED_RX_23" SITE "H14" ;
LOCATE COMP "LED_RX_24" SITE "B14" ;
LOCATE COMP "LED_RX_25" SITE "F13" ;
LOCATE COMP "LED_RX_26" SITE "J11" ;
LOCATE COMP "LED_RX_27" SITE "AC18" ;
LOCATE COMP "LED_RX_28" SITE "AG19" ;
LOCATE COMP "LED_RX_29" SITE "AD20" ;
LOCATE COMP "LED_RX_30" SITE "AC20" ;
LOCATE COMP "LED_RX_31" SITE "AE21" ;
LOCATE COMP "LED_RX_32" SITE "AD23" ;
DEFINE PORT GROUP "LED_group" "LED*" ;
IOBUF GROUP "LED_group" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=12;


#################################################################
#Connection to FPGA3
#################################################################
LOCATE COMP  "F1_F3_TTL_0"   SITE "AG16";
LOCATE COMP  "F1_F3_TTL_1"   SITE "AE17";
LOCATE COMP  "F1_F3_TTL_2"   SITE "AC17";
LOCATE COMP  "F1_F3_TTL_3"   SITE "AH16";
LOCATE COMP  "F1_F3_TTL_4"   SITE "AK17";
LOCATE COMP  "F1_F3_TTL_5"   SITE "AG20";
LOCATE COMP  "F1_F3_TTL_6"   SITE "AG21";
LOCATE COMP  "F1_F3_TTL_7"   SITE "AD24";
LOCATE COMP  "F1_F3_TTL_8"   SITE "AE24";
DEFINE PORT GROUP "F1_F3_group" "F1_F3*" ;
IOBUF GROUP "F1_F3_group" IO_TYPE=LVTTL33 PULLMODE=NONE;

#LVDS
# LOCATE COMP  "F1_TO_OUT_0"    SITE "K2";
# LOCATE COMP  "F1_TO_OUTB_0"   SITE "K1";
# LOCATE COMP  "F1_TO_OUT_1"    SITE "J3";
# LOCATE COMP  "F1_TO_OUTB_1"   SITE "J2";
# LOCATE COMP  "F1_TO_OUT_2"    SITE "L3";
# LOCATE COMP  "F1_TO_OUTB_2"   SITE "L2";
# LOCATE COMP  "F1_TO_OUT_3"    SITE "L5";
# LOCATE COMP  "F1_TO_OUTB_3"   SITE "L4";
# LOCATE COMP  "F1_TO_OUT_4"    SITE "L1";
# LOCATE COMP  "F1_TO_OUTB_4"   SITE "M2";
# LOCATE COMP  "F1_TO_OUT_5"    SITE "M4";
# LOCATE COMP  "F1_TO_OUTB_5"   SITE "M3";
# LOCATE COMP  "F1_TO_OUT_6"    SITE "M6";
# LOCATE COMP  "F1_TO_OUTB_6"   SITE "M5";
# LOCATE COMP  "F1_TO_OUT_7"    SITE "M1";
# LOCATE COMP  "F1_TO_OUTB_7"   SITE "N2";
# LOCATE COMP  "F1_TO_OUT_8"    SITE "P3";
# LOCATE COMP  "F1_TO_OUTB_8"   SITE "P2";
# DEFINE PORT GROUP "F1_TO_OUT_group" "F1_TO_OUT*" ;
# IOBUF GROUP "F1_TO_OUT_group" IO_TYPE=LVDS25 ;

# LOCATE COMP  "OUT_TO_F1_0"   SITE "N9";
# LOCATE COMP  "OUT_TO_F1B_0"    SITE "N7";
# LOCATE COMP  "OUT_TO_F1_1"   SITE "N8";
# LOCATE COMP  "OUT_TO_F1B_1"    SITE "M9";
# LOCATE COMP  "OUT_TO_F1_2"   SITE "P6";
# LOCATE COMP  "OUT_TO_F1B_2"    SITE "P8";
# LOCATE COMP  "OUT_TO_F1_3"   SITE "H1";
# LOCATE COMP  "OUT_TO_F1B_3"    SITE "J1";
# LOCATE COMP  "OUT_TO_F1_4"   SITE "P5";
# LOCATE COMP  "OUT_TO_F1B_4"    SITE "P4";
# LOCATE COMP  "OUT_TO_F1_5"   SITE "N5";
# LOCATE COMP  "OUT_TO_F1B_5"    SITE "N6";
# LOCATE COMP  "OUT_TO_F1_6"   SITE "P9";
# LOCATE COMP  "OUT_TO_F1B_6"    SITE "P7";
# LOCATE COMP  "OUT_TO_F1_7"   SITE "R5";
# LOCATE COMP  "OUT_TO_F1B_7"    SITE "R4";
# LOCATE COMP  "OUT_TO_F1_8"   SITE "R8";
# LOCATE COMP  "OUT_TO_F1B_8"    SITE "T9";
# DEFINE PORT GROUP "OUT_TO_F1_group" "OUT_TO_F1*" ;
# IOBUF GROUP "OUT_TO_F1_group" IO_TYPE=LVDS25 ;


#TTL
LOCATE COMP  "F1_TO_F3_0"   SITE "K2";
LOCATE COMP  "F1_TO_F3_1"   SITE "K1";
LOCATE COMP  "F1_TO_F3_2"   SITE "J3";
LOCATE COMP  "F1_TO_F3_3"   SITE "J2";
LOCATE COMP  "F1_TO_F3_4"   SITE "L3";
LOCATE COMP  "F1_TO_F3_5"   SITE "L2";
LOCATE COMP  "F1_TO_F3_6"   SITE "L5";
LOCATE COMP  "F1_TO_F3_7"   SITE "L4";
LOCATE COMP  "F1_TO_F3_8"   SITE "L1";
LOCATE COMP  "F1_TO_F3_9"   SITE "M2";
LOCATE COMP  "F1_TO_F3_10"  SITE "M4";
LOCATE COMP  "F1_TO_F3_11"  SITE "M3";
LOCATE COMP  "F1_TO_F3_12"  SITE "M6";
LOCATE COMP  "F1_TO_F3_13"  SITE "M5";
LOCATE COMP  "F1_TO_F3_14"  SITE "M1";
LOCATE COMP  "F1_TO_F3_15"  SITE "N2";
LOCATE COMP  "F1_TO_F3_16"  SITE "P3";
LOCATE COMP  "F1_TO_F3_17"  SITE "P2";
DEFINE PORT GROUP "F1_TO_F3_group" "F1_TO_F3*" ;
IOBUF GROUP "F1_TO_F3_group" IO_TYPE=LVCMOS25 PULLMODE=NONE ;

LOCATE COMP  "F3_TO_F1_0"   SITE "N9";
LOCATE COMP  "F3_TO_F1_1"   SITE "N7";
LOCATE COMP  "F3_TO_F1_2"   SITE "N8";
LOCATE COMP  "F3_TO_F1_3"   SITE "M9";
LOCATE COMP  "F3_TO_F1_4"   SITE "P6";
LOCATE COMP  "F3_TO_F1_5"   SITE "P8";
LOCATE COMP  "F3_TO_F1_6"   SITE "H1";
LOCATE COMP  "F3_TO_F1_7"   SITE "J1";
LOCATE COMP  "F3_TO_F1_8"   SITE "P5";
LOCATE COMP  "F3_TO_F1_9"   SITE "P4";
LOCATE COMP  "F3_TO_F1_10"  SITE "N5";
LOCATE COMP  "F3_TO_F1_11"  SITE "N6";
LOCATE COMP  "F3_TO_F1_12"  SITE "P9";
LOCATE COMP  "F3_TO_F1_13"  SITE "P7";
LOCATE COMP  "F3_TO_F1_14"  SITE "R5";
LOCATE COMP  "F3_TO_F1_15"  SITE "R4";
LOCATE COMP  "F3_TO_F1_16"  SITE "R8";
LOCATE COMP  "F3_TO_F1_17"  SITE "T9";
DEFINE PORT GROUP "F3_TO_F1_group" "F3_TO_F1*" ;
IOBUF GROUP "F3_TO_F1_group" IO_TYPE=LVCMOS25 PULLMODE=NONE ;



#################################################################
#JTAG / Etrax
#################################################################
# LOCATE COMP  "FPGA1_TDO"    SITE "AF1";
# LOCATE COMP  "FS_PE_0"    SITE "F7";
# LOCATE COMP  "FS_PE_1"    SITE "D8";
# LOCATE COMP  "FS_PE_2"    SITE "J13";
# LOCATE COMP  "FS_PE_3"    SITE "G11";
# LOCATE COMP  "FS_PE_4"    SITE "H13";
# LOCATE COMP  "FS_PE_5"    SITE "H12";
# LOCATE COMP  "FS_PE_6"    SITE "E8";
# LOCATE COMP  "FS_PE_7"    SITE "D9";
# LOCATE COMP  "FS_PE_8"    SITE "D12";
# LOCATE COMP  "FS_PE_9"    SITE "E13";
# LOCATE COMP  "FS_PE_10"   SITE "J12";
# DEFINE PORT GROUP "FS_PE_group" "FS_PE*" ;
# IOBUF GROUP "FS_PE_group" IO_TYPE=LVTTL33 PULLMODE=NONE ;


#################################################################
#Connection to FPGA2
#################################################################
# LOCATE COMP  "INTERLVDS_0"   SITE "W28";
# LOCATE COMP  "INTERLVDS_1"   SITE "V29";
# LOCATE COMP  "INTERLVDS_2"   SITE "U26";
# LOCATE COMP  "INTERLVDS_3"   SITE "U27";
# LOCATE COMP  "INTERLVDS_4"   SITE "T28";
# LOCATE COMP  "INTERLVDS_5"   SITE "R30";
# LOCATE COMP  "INTERLVDS_6"   SITE "R29";
# LOCATE COMP  "INTERLVDS_7"   SITE "P28";
# LOCATE COMP  "INTERLVDS_8"   SITE "P26";
# LOCATE COMP  "INTERLVDS_9"   SITE "P24";
# LOCATE COMP  "INTERLVDS_10"    SITE "P22";
# LOCATE COMP  "INTERLVDS_11"    SITE "N29";
# LOCATE COMP  "INTERLVDS_12"    SITE "N23";
# LOCATE COMP  "INTERLVDS_13"    SITE "M28";
# LOCATE COMP  "INTERLVDS_14"    SITE "M26";
# LOCATE COMP  "INTERLVDS_15"    SITE "M22";
# LOCATE COMP  "INTERLVDS_16"    SITE "L27";
# LOCATE COMP  "INTERLVDS_17"    SITE "L23";
# LOCATE COMP  "INTERLVDS_18"    SITE "K25";
# LOCATE COMP  "INTERLVDS_19"    SITE "K22";
# LOCATE COMP  "INTERLVDS_20"    SITE "J28";
# LOCATE COMP  "INTERLVDS_21"    SITE "H26";
# LOCATE COMP  "INTERLVDS_22"    SITE "H24";
# LOCATE COMP  "INTERLVDS_23"    SITE "H25";
# LOCATE COMP  "INTERLVDS_24"    SITE "E29";
# LOCATE COMP  "INTERLVDS_25"    SITE "W29";
# LOCATE COMP  "INTERLVDS_26"    SITE "V25";
# LOCATE COMP  "INTERLVDS_27"    SITE "U30";
# LOCATE COMP  "INTERLVDS_28"    SITE "U24";
# LOCATE COMP  "INTERLVDS_29"    SITE "V23";
# LOCATE COMP  "INTERLVDS_30"    SITE "R22";
# LOCATE COMP  "INTERLVDS_31"    SITE "T22";
# LOCATE COMP  "INTERLVDS_32"    SITE "T26";
# LOCATE COMP  "INTERLVDS_33"    SITE "R28";
# LOCATE COMP  "INTERLVDS_34"    SITE "K29";
# LOCATE COMP  "INTERLVDS_35"    SITE "P27";
# LOCATE COMP  "INTERLVDS_36"    SITE "J29";
# LOCATE COMP  "INTERLVDS_37"    SITE "N26";
# LOCATE COMP  "INTERLVDS_38"    SITE "G30";
# LOCATE COMP  "INTERLVDS_39"    SITE "L29";
# LOCATE COMP  "INTERLVDS_40"    SITE "F29";
# LOCATE COMP  "INTERLVDS_41"    SITE "G29";
# LOCATE COMP  "INTERLVDS_42"    SITE "D29";
# LOCATE COMP  "INTERLVDS_43"    SITE "K26";
# LOCATE COMP  "INTERLVDS_44"    SITE "J23";
# LOCATE COMP  "INTERLVDS_45"    SITE "G27";
# LOCATE COMP  "INTERLVDS_46"    SITE "G26";
# LOCATE COMP  "INTERLVDS_47"    SITE "E28";
# LOCATE COMP  "INTERLVDS_48"    SITE "E27";
# LOCATE COMP  "INTERLVDS_49"    SITE "L26";
# LOCATE COMP  "INTERLVDS_50"    SITE "W26";
# LOCATE COMP  "INTERLVDS_51"    SITE "Y26";
# DEFINE PORT GROUP "INTERLVDS_group" "INTERLVDS*" ;
# IOBUF GROUP "INTERLVDS_group" IO_TYPE=LVDS25 ;

# LOCATE COMP  "INTERTTL_0"   SITE "C15";
# LOCATE COMP  "INTERTTL_1"   SITE "D15";
# LOCATE COMP  "INTERTTL_2"   SITE "C14";
# LOCATE COMP  "INTERTTL_3"   SITE "E15";
# LOCATE COMP  "INTERTTL_4"   SITE "G14";
# LOCATE COMP  "INTERTTL_5"   SITE "J14";
# LOCATE COMP  "INTERTTL_6"   SITE "H10";
# LOCATE COMP  "INTERTTL_7"   SITE "E12";
# LOCATE COMP  "INTERTTL_8"   SITE "D11";
# LOCATE COMP  "INTERTTL_9"   SITE "H11";
# LOCATE COMP  "INTERTTL_10"    SITE "F11";
# LOCATE COMP  "INTERTTL_11"    SITE "D23";
# LOCATE COMP  "INTERTTL_12"    SITE "E21";
# LOCATE COMP  "INTERTTL_13"    SITE "D26";
# LOCATE COMP  "INTERTTL_14"    SITE "E26";
# LOCATE COMP  "INTERTTL_15"    SITE "E23";
# LOCATE COMP  "INTERTTL_16"    SITE "G22";
# LOCATE COMP  "INTERTTL_17"    SITE "D22";
# LOCATE COMP  "INTERTTL_18"    SITE "F21";
# LOCATE COMP  "INTERTTL_19"    SITE "G18";
# LOCATE COMP  "INTERTTL_20"    SITE "H18";
# LOCATE COMP  "INTERTTL_21"    SITE "D20";
# LOCATE COMP  "INTERTTL_22"    SITE "D21";
# LOCATE COMP  "INTERTTL_23"    SITE "E20";
# LOCATE COMP  "INTERTTL_24"    SITE "J18";
# LOCATE COMP  "INTERTTL_25"    SITE "J19";
# LOCATE COMP  "INTERTTL_26"    SITE "G17";
# LOCATE COMP  "INTERTTL_27"    SITE "G16";
# LOCATE COMP  "INTERTTL_28"    SITE "H16";
# LOCATE COMP  "INTERTTL_29"    SITE "F16";
# LOCATE COMP  "INTERTTL_30"    SITE "J16";
# LOCATE COMP  "INTERTTL_31"    SITE "G15";
# DEFINE PORT GROUP "INTERTTL_group" "INTERTTL*" ;
# IOBUF GROUP "INTERTTL_group" IO_TYPE=LVTTL33 PULLMODE=NONE ;


#################################################################
# Signal Detect from FOT
#################################################################
LOCATE COMP "SD_17" SITE "A17" ;
LOCATE COMP "SD_18" SITE "B17" ;
LOCATE COMP "SD_19" SITE "A16" ;
LOCATE COMP "SD_20" SITE "B16" ;
LOCATE COMP "SD_21" SITE "A15" ;
LOCATE COMP "SD_22" SITE "B15" ;
LOCATE COMP "SD_23" SITE "D4" ;
LOCATE COMP "SD_24" SITE "D5" ;
LOCATE COMP "SD_25" SITE "E5" ;
LOCATE COMP "SD_26" SITE "F6" ;
LOCATE COMP "SD_27" SITE "AG11" ;
LOCATE COMP "SD_28" SITE "AG12" ;
LOCATE COMP "SD_29" SITE "AG13" ;
LOCATE COMP "SD_30" SITE "AG15" ;
LOCATE COMP "SD_31" SITE "AH14" ;
LOCATE COMP "SD_32" SITE "AH15" ;
DEFINE PORT GROUP "sd_group" "SD*" ;
IOBUF GROUP "sd_group" IO_TYPE=LVTTL33 PULLMODE=NONE ;


