

#################################################################
#Clock IO
#################################################################
LOCATE COMP  "CLOCK_FEEDBACK"   SITE "M1";
LOCATE COMP  "CLOCK_INTER_FPGA" SITE "N1";
LOCATE COMP  "FCLK_2"           SITE "M29";
IOBUF PORT "CLOCK_FEEDBACK"   IO_TYPE=LVDS25 ;
IOBUF PORT "CLOCK_INTER_FPGA" IO_TYPE=LVDS25 ;
IOBUF PORT "FCLK_2"           IO_TYPE=LVDS25 ;



#################################################################
#Reset
#################################################################
LOCATE COMP  "SUPPL_RESET"    SITE "AE25";
LOCATE COMP  "RESET"    SITE "AF26";
IOBUF PORT "RESET" IO_TYPE=LVTTL33 ;
IOBUF PORT "SUPPL_RESET" IO_TYPE=LVTTL33 ;


#################################################################
#AddOn-Connector Data Lines
#################################################################
# LOCATE COMP  "ADO_LV_0"	    SITE "R3";
# LOCATE COMP  "ADO_LV_2"	    SITE "T3";
# LOCATE COMP  "ADO_LV_4"	    SITE "U3";
# LOCATE COMP  "ADO_LV_6"	    SITE "V1";
# LOCATE COMP  "ADO_LV_8"	    SITE "Y1";
# LOCATE COMP  "ADO_LV_10"	  SITE "AA1";
# LOCATE COMP  "ADO_LV_12"	  SITE "AB4";
# LOCATE COMP  "ADO_LV_14"	  SITE "AC1";
# LOCATE COMP  "ADO_LV_28"	  SITE "P3";
# LOCATE COMP  "ADO_LV_30"	  SITE "U4";
# LOCATE COMP  "ADO_LV_32"	  SITE "T4";
# LOCATE COMP  "ADO_LV_34"	  SITE "V2";
# LOCATE COMP  "ADO_LV_36"	  SITE "W4";
# LOCATE COMP  "ADO_LV_38"	  SITE "Y8";
# LOCATE COMP  "ADO_LV_40"	  SITE "AB3";
# LOCATE COMP  "ADO_LV_42"	  SITE "AC7";
# LOCATE COMP  "ADO_LV_1"     SITE "R2";
# LOCATE COMP  "ADO_LV_3"     SITE "T2";
# LOCATE COMP  "ADO_LV_5"     SITE "U2";
# LOCATE COMP  "ADO_LV_7"     SITE "W1";
# LOCATE COMP  "ADO_LV_9"     SITE "Y2";
# LOCATE COMP  "ADO_LV_11"    SITE "AA2";
# LOCATE COMP  "ADO_LV_13"    SITE "AB5";
# LOCATE COMP  "ADO_LV_15"    SITE "AC2";
# LOCATE COMP  "ADO_LV_29"    SITE "P2";
# LOCATE COMP  "ADO_LV_31"    SITE "U5";
# LOCATE COMP  "ADO_LV_33"    SITE "T5";
# LOCATE COMP  "ADO_LV_35"    SITE "U1";
# LOCATE COMP  "ADO_LV_37"    SITE "W3";
# LOCATE COMP  "ADO_LV_39"    SITE "Y9";
# LOCATE COMP  "ADO_LV_41"    SITE "AB2";
# LOCATE COMP  "ADO_LV_43"    SITE "AC6";
# DEFINE PORT GROUP "ADO_LV_group" "ADO_LV*" ;
# IOBUF GROUP "ADO_LV_group" IO_TYPE=LVDS25 PULLMODE=NONE ;

LOCATE COMP  "ADO_TTL_0"	  SITE "AF10";
LOCATE COMP  "ADO_TTL_1"	  SITE "AE8";
LOCATE COMP  "ADO_TTL_2"	  SITE "AE11";
LOCATE COMP  "ADO_TTL_3"	  SITE "AD9";
LOCATE COMP  "ADO_TTL_4"	  SITE "AE10";
LOCATE COMP  "ADO_TTL_5"	  SITE "AD10";
LOCATE COMP  "ADO_TTL_6"	  SITE "AE13";
LOCATE COMP  "ADO_TTL_7"	  SITE "AC12";
LOCATE COMP  "ADO_TTL_8"	  SITE "AG2";
LOCATE COMP  "ADO_TTL_9"	  SITE "AG3";
LOCATE COMP  "ADO_TTL_10"	  SITE "AD13";
LOCATE COMP  "ADO_TTL_11"	  SITE "AC13";
LOCATE COMP  "ADO_TTL_12"	  SITE "AE14";
LOCATE COMP  "ADO_TTL_13"	  SITE "AC14";
LOCATE COMP  "ADO_TTL_14"	  SITE "AF3";
LOCATE COMP  "ADO_TTL_15"	  SITE "AF4";
LOCATE COMP  "ADO_TTL_16"	  SITE "AG4";
LOCATE COMP  "ADO_TTL_17"	  SITE "AG5";
LOCATE COMP  "ADO_TTL_18"	  SITE "AD11";
LOCATE COMP  "ADO_TTL_19"	  SITE "AF13";
LOCATE COMP  "ADO_TTL_20"	  SITE "AF12";
LOCATE COMP  "ADO_TTL_21"	  SITE "AD14";
LOCATE COMP  "ADO_TTL_22"	  SITE "AG8";
LOCATE COMP  "ADO_TTL_23"	  SITE "AF8";
LOCATE COMP  "ADO_TTL_24"	  SITE "AE15";
LOCATE COMP  "ADO_TTL_25"	  SITE "AC15";
LOCATE COMP  "ADO_TTL_26"	  SITE "AD15";
LOCATE COMP  "ADO_TTL_27"	  SITE "AF15";
LOCATE COMP  "ADO_TTL_28"	  SITE "AG10";
LOCATE COMP  "ADO_TTL_29"	  SITE "AG9";
LOCATE COMP  "ADO_TTL_30"	  SITE "AH14";
LOCATE COMP  "ADO_TTL_31"	  SITE "AG12";
LOCATE COMP  "ADO_TTL_32"	  SITE "AG15";
LOCATE COMP  "ADO_TTL_33"	  SITE "AG13";
LOCATE COMP  "ADO_TTL_34"	  SITE "AF16";
LOCATE COMP  "ADO_TTL_35"	  SITE "AH15";
LOCATE COMP  "ADO_TTL_36"	  SITE "AC16";
LOCATE COMP  "ADO_TTL_37"	  SITE "AE16";
LOCATE COMP  "ADO_TTL_38"	  SITE "AG11";
LOCATE COMP  "ADO_TTL_39"	  SITE "AF11";
LOCATE COMP  "ADO_TTL_40"	  SITE "AJ14";
LOCATE COMP  "ADO_TTL_41"	  SITE "AK14";
LOCATE COMP  "ADO_TTL_42"	  SITE "AK15";
LOCATE COMP  "ADO_TTL_43"	  SITE "AK16";
LOCATE COMP  "ADO_TTL_44"	  SITE "AF18";
LOCATE COMP  "ADO_TTL_45"	  SITE "AD16";
# LOCATE COMP  "ADO_TTL_46"	  SITE "AJ15"; #occupied by 1-wire monitor!
DEFINE PORT GROUP "ado_ttl_group" "ADO_TTL*" ;
IOBUF GROUP "ado_ttl_group" IO_TYPE=LVTTL33 PULLMODE=NONE ;

LOCATE COMP  "ONEWIRE_F1"  SITE "AJ15";
IOBUF PORT "ONEWIRE_F1" IO_TYPE=LVTTL33 PULLMODE=UP;

#################################################################
#LED next to FPGA
#################################################################
LOCATE COMP  "DBUSY_2"	  SITE "AJ17";
IOBUF PORT "DBUSY_2" IO_TYPE=LVTTL33 PULLMODE=NONE ;
LOCATE COMP  "DEADTIME_2"	  SITE "AD17";
IOBUF PORT "DEADTIME_2" IO_TYPE=LVTTL33 PULLMODE=NONE ;
LOCATE COMP  "DTRIGGER_2"	  SITE "AH17";
IOBUF PORT "DTRIGGER_2" IO_TYPE=LVTTL33 PULLMODE=NONE ;
LOCATE COMP  "DWAIT_2"	  SITE "AF19";
IOBUF PORT "DWAIT_2" IO_TYPE=LVTTL33 PULLMODE=NONE ;

#################################################################
#Connection to FPGA3
#################################################################
LOCATE COMP  "F2_F3_TTL_0"   SITE "D26";
LOCATE COMP  "F2_F3_TTL_1"   SITE "E26";
LOCATE COMP  "F2_F3_TTL_2"   SITE "E23";
LOCATE COMP  "F2_F3_TTL_3"   SITE "G22";
LOCATE COMP  "F2_F3_TTL_4"   SITE "D22";
LOCATE COMP  "F2_F3_TTL_5"   SITE "F21";
LOCATE COMP  "F2_F3_TTL_6"   SITE "G18";
LOCATE COMP  "F2_F3_TTL_7"   SITE "H18";
LOCATE COMP  "F2_F3_TTL_8"   SITE "D20";
LOCATE COMP  "F2_F3_TTL_9"   SITE "D21";
LOCATE COMP  "F2_F3_TTL_10"  SITE "E20";
#LOCATE COMP  "F2_F3_TTL_11"  SITE "E19";
DEFINE PORT GROUP "f2_f3_group" "F2_F3*" ;
IOBUF GROUP "f2_f3_group" IO_TYPE=LVTTL33 PULLMODE=NONE ;

LOCATE COMP  "ONEWIRE_F3"  SITE "E19";
IOBUF PORT "ONEWIRE_F3" IO_TYPE=LVTTL33 PULLMODE=UP;


LOCATE COMP  "F2_TO_F3_0"	  SITE "AC29";
LOCATE COMP  "F2_TO_F3_1"   SITE "AC30";
LOCATE COMP  "F2_TO_F3_2"	  SITE "AB29";
LOCATE COMP  "F2_TO_F3_3"	  SITE "AB28";
LOCATE COMP  "F2_TO_F3_4"	  SITE "AB26";
LOCATE COMP  "F2_TO_F3_5"	  SITE "AB27";
LOCATE COMP  "F2_TO_F3_6"	  SITE "AA29";
LOCATE COMP  "F2_TO_F3_7"   SITE "Y28";
LOCATE COMP  "F2_TO_F3_8"	  SITE "W30";
LOCATE COMP  "F2_TO_F3_9"   SITE "W29";
LOCATE COMP  "F2_TO_F3_10"	SITE "W22";
LOCATE COMP  "F2_TO_F3_11"	SITE "V22";
LOCATE COMP  "F2_TO_F3_12"	SITE "U29";
LOCATE COMP  "F2_TO_F3_13"	SITE "V29";
LOCATE COMP  "F2_TO_F3_14"	SITE "V26";
LOCATE COMP  "F2_TO_F3_15"  SITE "U26";
LOCATE COMP  "F2_TO_F3_16"	SITE "T29";
LOCATE COMP  "F2_TO_F3_17"  SITE "T28";
DEFINE PORT GROUP "f2_to_f3_group" "F2_TO_F3*" ;
IOBUF GROUP "f2_to_f3_group" IO_TYPE=LVCMOS25 PULLMODE=NONE ;

LOCATE COMP  "F3_TO_F2_0"  SITE "AA30";
LOCATE COMP  "F3_TO_F2_1"  SITE "AB30";
LOCATE COMP  "F3_TO_F2_2"  SITE "Y23";
LOCATE COMP  "F3_TO_F2_3"  SITE "Y22";
LOCATE COMP  "F3_TO_F2_4"  SITE "Y25";
LOCATE COMP  "F3_TO_F2_5"  SITE "Y24";
LOCATE COMP  "F3_TO_F2_6"  SITE "Y29";
LOCATE COMP  "F3_TO_F2_7"  SITE "Y30";
LOCATE COMP  "F3_TO_F2_8"  SITE "W26";
LOCATE COMP  "F3_TO_F2_9"  SITE "W25";
LOCATE COMP  "F3_TO_F2_10" SITE "Y26";
LOCATE COMP  "F3_TO_F2_11" SITE "Y27";
LOCATE COMP  "F3_TO_F2_12" SITE "U30";
LOCATE COMP  "F3_TO_F2_13" SITE "V30";
LOCATE COMP  "F3_TO_F2_14" SITE "U24";
LOCATE COMP  "F3_TO_F2_15" SITE "U25";
LOCATE COMP  "F3_TO_F2_16" SITE "R22";
LOCATE COMP  "F3_TO_F2_17" SITE "R23";
DEFINE PORT GROUP "f3_to_f2_group" "F3_TO_F2*" ;
IOBUF GROUP "f3_to_f2_group" IO_TYPE=LVCMOS25 PULLMODE=NONE ;

#################################################################
#JTAG
#################################################################
# LOCATE COMP  "FPGA2_TDO"	  SITE "AF1";
# LOCATE COMP  "FPGA1_TDO"	  SITE "AE1";
# LOCATE COMP  "FS_PE_1"	  SITE "AF2";
# LOCATE COMP  "FS_PE_2"	  SITE "AE2";

#################################################################
#Connection to FPGA1
#################################################################
# LOCATE COMP  "INTERLVDS__0"	  SITE "Y5";
# LOCATE COMP  "INTERLVDS__1"	  SITE "W2";
# LOCATE COMP  "INTERLVDS__2"	  SITE "W5";
# LOCATE COMP  "INTERLVDS__3"	  SITE "V6";
# LOCATE COMP  "INTERLVDS__4"	  SITE "V9";
# LOCATE COMP  "INTERLVDS__5"	  SITE "V8";
# LOCATE COMP  "INTERLVDS__6"	  SITE "U9";
# LOCATE COMP  "INTERLVDS__7"	  SITE "U7";
# LOCATE COMP  "INTERLVDS__8"	  SITE "R8";
# LOCATE COMP  "INTERLVDS__9"	  SITE "R5";
# LOCATE COMP  "INTERLVDS__10"	  SITE "P9";
# LOCATE COMP  "INTERLVDS__11"	  SITE "P6";
# LOCATE COMP  "INTERLVDS__12"	  SITE "P5";
# LOCATE COMP  "INTERLVDS__13"	  SITE "N5";
# LOCATE COMP  "INTERLVDS__14"	  SITE "N9";
# LOCATE COMP  "INTERLVDS__15"	  SITE "N8";
# LOCATE COMP  "INTERLVDS__16"	  SITE "L8";
# LOCATE COMP  "INTERLVDS__17"	  SITE "L9";
# LOCATE COMP  "INTERLVDS__18"	  SITE "K7";
# LOCATE COMP  "INTERLVDS__19"	  SITE "J5";
# LOCATE COMP  "INTERLVDS__20"	  SITE "H1";
# LOCATE COMP  "INTERLVDS__21"	  SITE "F1";
# LOCATE COMP  "INTERLVDS__22"	  SITE "E3";
# LOCATE COMP  "INTERLVDS__23"	  SITE "E2";
# LOCATE COMP  "INTERLVDS__24"	  SITE "D2";
# LOCATE COMP  "INTERLVDS__25"	  SITE "AA8";
# LOCATE COMP  "INTERLVDS__26"	  SITE "L1";
# LOCATE COMP  "INTERLVDS__27"	  SITE "K2";
# LOCATE COMP  "INTERLVDS__28"	  SITE "M4";
# LOCATE COMP  "INTERLVDS__29"	  SITE "L3";
# LOCATE COMP  "INTERLVDS__30"	  SITE "M6";
# LOCATE COMP  "INTERLVDS__31"	  SITE "L5";
# LOCATE COMP  "INTERLVDS__32"	  SITE "H3";
# LOCATE COMP  "INTERLVDS__33"	  SITE "K6";
# LOCATE COMP  "INTERLVDS__34"	  SITE "G2";
# LOCATE COMP  "INTERLVDS__35"	  SITE "G5";
# LOCATE COMP  "INTERLVDS__36"	  SITE "H5";
# LOCATE COMP  "INTERLVDS__37"	  SITE "J3";
# LOCATE COMP  "INTERLVDS__38"	  SITE "E1";
# LOCATE COMP  "INTERLVDS__39"	  SITE "J8";
# LOCATE COMP  "INTERLVDS__40"	  SITE "G6";
# LOCATE COMP  "INTERLVDS__41"	  SITE "E29";
# LOCATE COMP  "INTERLVDS__42"	  SITE "J28";
# LOCATE COMP  "INTERLVDS__43"	  SITE "L23";
# LOCATE COMP  "INTERLVDS__44"	  SITE "K25";
# LOCATE COMP  "INTERLVDS__45"	  SITE "K22";
# LOCATE COMP  "INTERLVDS__46"	  SITE "H26";
# LOCATE COMP  "INTERLVDS__47"	  SITE "H24";
# LOCATE COMP  "INTERLVDS__48"	  SITE "H25";
# LOCATE COMP  "INTERLVDS__49"	  SITE "G25";
# LOCATE COMP  "INTERLVDS__50"	  SITE "W28";
# LOCATE COMP  "INTERLVDS__51"	  SITE "U27";
# LOCATE COMP  "INTERLVDS_B_0"	  SITE "Y6";
# LOCATE COMP  "INTERLVDS_B_1"	  SITE "Y4";
# LOCATE COMP  "INTERLVDS_B_2"	  SITE "W6";
# LOCATE COMP  "INTERLVDS_B_3"	  SITE "V5";
# LOCATE COMP  "INTERLVDS_B_4"	  SITE "V7";
# LOCATE COMP  "INTERLVDS_B_5"	  SITE "U6";
# LOCATE COMP  "INTERLVDS_B_6"	  SITE "U8";
# LOCATE COMP  "INTERLVDS_B_7"	  SITE "T8";
# LOCATE COMP  "INTERLVDS_B_8"	  SITE "T9";
# LOCATE COMP  "INTERLVDS_B_9"	  SITE "R4";
# LOCATE COMP  "INTERLVDS_B_10"	  SITE "P7";
# LOCATE COMP  "INTERLVDS_B_11"	  SITE "P8";
# LOCATE COMP  "INTERLVDS_B_12"	  SITE "P4";
# LOCATE COMP  "INTERLVDS_B_13"	  SITE "N6";
# LOCATE COMP  "INTERLVDS_B_14"	  SITE "N7";
# LOCATE COMP  "INTERLVDS_B_15"	  SITE "M9";
# LOCATE COMP  "INTERLVDS_B_16"	  SITE "L6";
# LOCATE COMP  "INTERLVDS_B_17"	  SITE "L7";
# LOCATE COMP  "INTERLVDS_B_18"	  SITE "K8";
# LOCATE COMP  "INTERLVDS_B_19"	  SITE "J4";
# LOCATE COMP  "INTERLVDS_B_20"	  SITE "J1";
# LOCATE COMP  "INTERLVDS_B_21"	  SITE "G3";
# LOCATE COMP  "INTERLVDS_B_22"	  SITE "E4";
# LOCATE COMP  "INTERLVDS_B_23"	  SITE "D1";
# LOCATE COMP  "INTERLVDS_B_24"	  SITE "D3";
# LOCATE COMP  "INTERLVDS_B_25"	  SITE "AA9";
# LOCATE COMP  "INTERLVDS_B_26"	  SITE "M2";
# LOCATE COMP  "INTERLVDS_B_27"	  SITE "K1";
# LOCATE COMP  "INTERLVDS_B_28"	  SITE "M3";
# LOCATE COMP  "INTERLVDS_B_29"	  SITE "L2";
# LOCATE COMP  "INTERLVDS_B_30"	  SITE "M5";
# LOCATE COMP  "INTERLVDS_B_31"	  SITE "L4";
# LOCATE COMP  "INTERLVDS_B_32"	  SITE "H2";
# LOCATE COMP  "INTERLVDS_B_33"	  SITE "K5";
# LOCATE COMP  "INTERLVDS_B_34"	  SITE "G1";
# LOCATE COMP  "INTERLVDS_B_35"	  SITE "G4";
# LOCATE COMP  "INTERLVDS_B_36"	  SITE "H4";
# LOCATE COMP  "INTERLVDS_B_37"	  SITE "J2";
# LOCATE COMP  "INTERLVDS_B_38"	  SITE "F2";
# LOCATE COMP  "INTERLVDS_B_39"	  SITE "H7";
# LOCATE COMP  "INTERLVDS_B_40"	  SITE "F5";
# LOCATE COMP  "INTERLVDS_B_41"	  SITE "E30";
# LOCATE COMP  "INTERLVDS_B_42"	  SITE "H28";
# LOCATE COMP  "INTERLVDS_B_43"	  SITE "L24";
# LOCATE COMP  "INTERLVDS_B_44"	  SITE "K24";
# LOCATE COMP  "INTERLVDS_B_45"	  SITE "K23";
# LOCATE COMP  "INTERLVDS_B_46"	  SITE "J26";
# LOCATE COMP  "INTERLVDS_B_47"	  SITE "H23";
# LOCATE COMP  "INTERLVDS_B_48"	  SITE "G24";
# LOCATE COMP  "INTERLVDS_B_49"	  SITE "F26";
# LOCATE COMP  "INTERLVDS_B_50"	  SITE "W27";
# LOCATE COMP  "INTERLVDS_B_51"	  SITE "U28";
# DEFINE PORT GROUP "interlvds_group" "INTERLVDS*" ;
# IOBUF GROUP "interlvds_group" IO_TYPE=LVDS25 PULLMODE=NONE ;


# LOCATE COMP  "INTERTTL_0"	  SITE "C15";
# LOCATE COMP  "INTERTTL_1"	  SITE "D15";
# LOCATE COMP  "INTERTTL_2"	  SITE "C14";
# LOCATE COMP  "INTERTTL_3"	  SITE "E15";
# LOCATE COMP  "INTERTTL_4"	  SITE "G14";
# LOCATE COMP  "INTERTTL_5"	  SITE "J14";
# LOCATE COMP  "INTERTTL_6"	  SITE "F14";
# LOCATE COMP  "INTERTTL_7"	  SITE "H14";
# LOCATE COMP  "INTERTTL_8"	  SITE "A14";
# LOCATE COMP  "INTERTTL_9"	  SITE "B14";
# LOCATE COMP  "INTERTTL_10"	  SITE "D13";
# LOCATE COMP  "INTERTTL_11"	  SITE "F13";
# LOCATE COMP  "INTERTTL_12"	  SITE "G13";
# LOCATE COMP  "INTERTTL_13"	  SITE "J11";
# LOCATE COMP  "INTERTTL_14"	  SITE "D4";
# LOCATE COMP  "INTERTTL_15"	  SITE "D5";
# LOCATE COMP  "INTERTTL_16"	  SITE "E5";
# LOCATE COMP  "INTERTTL_17"	  SITE "F6";
# LOCATE COMP  "INTERTTL_18"	  SITE "F7";
# LOCATE COMP  "INTERTTL_19"	  SITE "D8";
# LOCATE COMP  "INTERTTL_20"	  SITE "J13";
# LOCATE COMP  "INTERTTL_21"	  SITE "G11";
# LOCATE COMP  "INTERTTL_22"	  SITE "H13";
# LOCATE COMP  "INTERTTL_23"	  SITE "H12";
# LOCATE COMP  "INTERTTL_24"	  SITE "E8";
# LOCATE COMP  "INTERTTL_25"	  SITE "D9";
# LOCATE COMP  "INTERTTL_26"	  SITE "D12";
# LOCATE COMP  "INTERTTL_27"	  SITE "E13";
# LOCATE COMP  "INTERTTL_28"	  SITE "J12";
# LOCATE COMP  "INTERTTL_29"	  SITE "H10";
# LOCATE COMP  "INTERTTL_30"	  SITE "D23";
# LOCATE COMP  "INTERTTL_31"	  SITE "E21";
# DEFINE PORT GROUP "interttl_group" "INTERTTL*" ;
# IOBUF GROUP "interttl_group" IO_TYPE=LVTTL33 PULLMODE=NONE ;



#################################################################
#LED
#################################################################
LOCATE COMP  "LED_NC_1"	  SITE "AF21";
LOCATE COMP  "LED_NC_2"	  SITE "AE17";
LOCATE COMP  "LED_NC_3"	  SITE "AC23";
LOCATE COMP  "LED_NC_4"	  SITE "AE20";
LOCATE COMP  "LED_NC_5"	  SITE "AB18";
LOCATE COMP  "LED_NC_6"	  SITE "AC19";
LOCATE COMP  "LED_NC_7"	  SITE "AE18";
LOCATE COMP  "LED_NC_8"	  SITE "AD18";
LOCATE COMP  "LED_NC_9"	  SITE "H17";
LOCATE COMP  "LED_NC_10"	SITE "F18";
LOCATE COMP  "LED_NC_11"	SITE "D18";
LOCATE COMP  "LED_NC_12"	SITE "D19";
LOCATE COMP  "LED_NC_13"	SITE "G17";
LOCATE COMP  "LED_NC_14"	SITE "H16";
LOCATE COMP  "LED_NC_15"	SITE "C16";
LOCATE COMP  "LED_NC_16"	SITE "J15";
LOCATE COMP  "LED_RX_1"	  SITE "AD23";
LOCATE COMP  "LED_RX_2"	  SITE "AC17";
LOCATE COMP  "LED_RX_3"	  SITE "AE21";
LOCATE COMP  "LED_RX_4"	  SITE "AC20";
LOCATE COMP  "LED_RX_5"	  SITE "AD20";
LOCATE COMP  "LED_RX_6"	  SITE "AG19";
LOCATE COMP  "LED_RX_7"	  SITE "AC18";
LOCATE COMP  "LED_RX_8"	  SITE "AE24";
LOCATE COMP  "LED_RX_9"	  SITE "J17";
LOCATE COMP  "LED_RX_10"	SITE "F17";
LOCATE COMP  "LED_RX_11"	SITE "C17";
LOCATE COMP  "LED_RX_12"	SITE "E18";
LOCATE COMP  "LED_RX_13"	SITE "G16";
LOCATE COMP  "LED_RX_14"	SITE "F16";
LOCATE COMP  "LED_RX_15"	SITE "D16";
LOCATE COMP  "LED_RX_16"	SITE "H15";
DEFINE PORT GROUP "led_group" "LED*" ;
IOBUF GROUP "led_group" IO_TYPE=LVTTL33 PULLMODE=NONE ;


#################################################################
#Optical Transceivers (will never be enabled)
#################################################################
# LOCATE COMP  "RXN_1"	  SITE "AJ9";
# LOCATE COMP  "RXN_2"	  SITE "AJ11";
# LOCATE COMP  "RXN_3"	  SITE "AJ3";
# LOCATE COMP  "RXN_4"	  SITE "AJ2";
# LOCATE COMP  "RXN_5"	  SITE "AJ29";
# LOCATE COMP  "RXN_6"	  SITE "AJ28";
# LOCATE COMP  "RXN_7"	  SITE "AJ20";
# LOCATE COMP  "RXN_8"	  SITE "AJ19";
# LOCATE COMP  "RXN_9"	  SITE "B29";
# LOCATE COMP  "RXN_10"	  SITE "B28";
# LOCATE COMP  "RXN_11"	  SITE "B20";
# LOCATE COMP  "RXN_12"	  SITE "B19";
# LOCATE COMP  "RXN_13"	  SITE "B12";
# LOCATE COMP  "RXN_14"	  SITE "B11";
# LOCATE COMP  "RXN_15"	  SITE "B3";
# LOCATE COMP  "RXN_16"	  SITE "B2";
# LOCATE COMP  "RXP_1"	  SITE "AK9";
# LOCATE COMP  "RXP_2"	  SITE "AK11";
# LOCATE COMP  "RXP_3"	  SITE "AK3";
# LOCATE COMP  "RXP_4"	  SITE "AK2";
# LOCATE COMP  "RXP_5"	  SITE "AK29";
# LOCATE COMP  "RXP_6"	  SITE "AK28";
# LOCATE COMP  "RXP_7"	  SITE "AK20";
# LOCATE COMP  "RXP_8"	  SITE "AK19";
# LOCATE COMP  "RXP_9"	  SITE "A29";
# LOCATE COMP  "RXP_10"	  SITE "A28";
# LOCATE COMP  "RXP_11"	  SITE "A20";
# LOCATE COMP  "RXP_12"	  SITE "A19";
# LOCATE COMP  "RXP_13"	  SITE "A12";
# LOCATE COMP  "RXP_14"	  SITE "A11";
# LOCATE COMP  "RXP_15"	  SITE "A3";
# LOCATE COMP  "RXP_16"	  SITE "A2";
# LOCATE COMP  "TXN_1"    SITE "AJ12";
# LOCATE COMP  "TXN_2"    SITE "AJ8";
# LOCATE COMP  "TXN_3"    SITE "AJ6";
# LOCATE COMP  "TXN_4"    SITE "AJ5";
# LOCATE COMP  "TXN_5"    SITE "AJ26";
# LOCATE COMP  "TXN_6"    SITE "AJ25";
# LOCATE COMP  "TXN_7"    SITE "AJ23";
# LOCATE COMP  "TXN_8"    SITE "AJ22";
# LOCATE COMP  "TXN_9"    SITE "B26";
# LOCATE COMP  "TXN_10"   SITE "B25";
# LOCATE COMP  "TXN_11"   SITE "B23";
# LOCATE COMP  "TXN_12"   SITE "B22";
# LOCATE COMP  "TXN_13"   SITE "B9";
# LOCATE COMP  "TXN_14"   SITE "B8";
# LOCATE COMP  "TXN_15"   SITE "B6";
# LOCATE COMP  "TXN_16"   SITE "B5";
# LOCATE COMP  "TXP_1"    SITE "AK12";
# LOCATE COMP  "TXP_2"    SITE "AK8";
# LOCATE COMP  "TXP_3"    SITE "AK6";
# LOCATE COMP  "TXP_4"    SITE "AK5";
# LOCATE COMP  "TXP_5"    SITE "AK26";
# LOCATE COMP  "TXP_6"    SITE "AK25";
# LOCATE COMP  "TXP_7"    SITE "AK23";
# LOCATE COMP  "TXP_8"    SITE "AK22";
# LOCATE COMP  "TXP_9"    SITE "A26";
# LOCATE COMP  "TXP_10"   SITE "A25";
# LOCATE COMP  "TXP_11"   SITE "A23";
# LOCATE COMP  "TXP_12"   SITE "A22";
# LOCATE COMP  "TXP_13"   SITE "A9";
# LOCATE COMP  "TXP_14"   SITE "A8";
# LOCATE COMP  "TXP_15"   SITE "A6";
# LOCATE COMP  "TXP_16"   SITE "A5";


LOCATE COMP  "SD_1"	  SITE "AK17";
LOCATE COMP  "SD_2"	  SITE "AJ16";
LOCATE COMP  "SD_3"	  SITE "AH16";
LOCATE COMP  "SD_4"	  SITE "AG16";
LOCATE COMP  "SD_5"	  SITE "AG18";
LOCATE COMP  "SD_6"	  SITE "AG20";
LOCATE COMP  "SD_7"	  SITE "AG21";
LOCATE COMP  "SD_8"	  SITE "AG22";
LOCATE COMP  "SD_9"	  SITE "J18";
LOCATE COMP  "SD_10"	  SITE "J19";
LOCATE COMP  "SD_11"	  SITE "A17";
LOCATE COMP  "SD_12"	  SITE "B17";
LOCATE COMP  "SD_13"	  SITE "A16";
LOCATE COMP  "SD_14"	  SITE "B16";
LOCATE COMP  "SD_15"	  SITE "A15";
LOCATE COMP  "SD_16"	  SITE "B15";
DEFINE PORT GROUP "SD_group" "SD*" ;
IOBUF GROUP "SD_group" IO_TYPE=LVTTL33 PULLMODE=NONE ;

#################################################################
#Temperature Sensor
#################################################################
LOCATE COMP "ONEWIRE" SITE "AD1";
IOBUF PORT "ONEWIRE" IO_TYPE=LVCMOS25 PULLMODE=UP ;

#################################################################
#Serdes Oscillators (will never be enabled)
#################################################################
# LOCATE COMP  "S_OSC_5"	  SITE "AG7";
# LOCATE COMP  "S_OSC_6"	  SITE "AG24";
# LOCATE COMP  "S_OSC_7"	  SITE "D24";
# LOCATE COMP  "S_OSC_8"	  SITE "D7";
# LOCATE COMP  "S_OSCB_5"	  SITE "AF7";
# LOCATE COMP  "S_OSCB_6"	  SITE "AF24";
# LOCATE COMP  "S_OSCB_7"	  SITE "E24";
# LOCATE COMP  "S_OSCB_8"	  SITE "E7";
# IOBUF PORT "S_OSC_5" IO_TYPE=LVDS25 ;
# IOBUF PORT "S_OSC_6" IO_TYPE=LVDS25 ;
# IOBUF PORT "S_OSC_7" IO_TYPE=LVDS25 ;
# IOBUF PORT "S_OSC_8" IO_TYPE=LVDS25 ;
