
  NET  RESET_VIRT	  LOC = AF16;
  NET  TLK_CLK	  LOC = AG16;
  NET  TLK_ENABLE	  LOC = R24 | IOSTANDARD = "LVTTL";
  NET  TLK_LCKREFN	  LOC = L28 | IOSTANDARD = "LVTTL";
  NET  TLK_LOOPEN	  LOC = R19 | IOSTANDARD = "LVTTL";
  NET  TLK_PRBSEN	  LOC = H32 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<0>	  LOC = G30 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<1>	  LOC = G31 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<2>	  LOC = J29 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<3>	  LOC = J30 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<4>	  LOC = E32 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<5>	  LOC = E33 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<6>	  LOC = N25 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<7>	  LOC = P26 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<8>	  LOC = P22 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<9>	  LOC = R21 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<10>	  LOC = F33 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<11>	  LOC = F34 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<12>	  LOC = K28 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<13>	  LOC = K29 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<14>	  LOC = G32 | IOSTANDARD = "LVTTL";
  NET  TLK_RXD<15>	  LOC = G33 | IOSTANDARD = "LVTTL";
  NET  TLK_RX_CLK	  LOC = AF18;
  NET  TLK_RX_DV	  LOC = M30 | IOSTANDARD = "LVTTL";
  NET  TLK_RX_ER	  LOC = P20 | IOSTANDARD = "LVTTL";
  NET  TLK_TXD<0>	  LOC = H27 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<1>	  LOC = H28 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<2>	  LOC = C32 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<3>	  LOC = D32 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<4>	  LOC = J27 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<5>	  LOC = K27 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<6>	  LOC = M25 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<7>	  LOC = M26 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<8>	  LOC = N22 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<9>	  LOC = N23 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<10>	LOC = H29 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<11>	LOC = H30 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<12>	LOC = C33 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<13>	LOC = C34 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<14>	LOC = D34 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TXD<15>	LOC = E34 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TX_EN	  LOC = L29 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  TLK_TX_ER	  LOC = P24 | IOSTANDARD = "LVTTL" | SLEW=FAST | DRIVE = 12;
  NET  VIRT_CLK	  LOC = H19;
  NET  SFP_TX_DIS LOC = N27 | IOSTANDARD = "LVTTL";
  NET  SFP_LOS    LOC = M27 | IOSTANDARD = "LVTTL";
#
  NET  ETRAX_IRQ   LOC ="AK12"| IOSTANDARD = "LVTTL";
  NET  FS_PB<0>    LOC ="AL5"| IOSTANDARD = "LVTTL";
  NET  FS_PB<1>    LOC ="AL4"| IOSTANDARD = "LVTTL";
  NET  FS_PB<2>    LOC ="AK4"| IOSTANDARD = "LVTTL";
  NET  FS_PB<3>    LOC ="AJ4"| IOSTANDARD = "LVTTL";
  NET  FS_PB<4>    LOC ="AP4"| IOSTANDARD = "LVTTL";
  NET  FS_PB<5>    LOC ="AN4"| IOSTANDARD = "LVTTL";
  NET  FS_PB<6>    LOC ="AD10"| IOSTANDARD = "LVTTL";
  NET  FS_PB<7>    LOC ="AD9"| IOSTANDARD = "LVTTL";
  NET  FS_PB<8>    LOC ="AN14"| IOSTANDARD = "LVTTL";
  NET  FS_PB<9>    LOC ="AP14"| IOSTANDARD = "LVTTL";
  NET  FS_PB<10>   LOC ="AJ6"| IOSTANDARD = "LVTTL";
  NET  FS_PB<11>   LOC ="AJ5"| IOSTANDARD = "LVTTL";
  NET  FS_PB<12>   LOC ="AK7"| IOSTANDARD = "LVTTL";
  NET  FS_PB<13>   LOC ="AJ7"| IOSTANDARD = "LVTTL";
  NET  FS_PB<14>   LOC ="AN3"| IOSTANDARD = "LVTTL";
  NET  FS_PB<15>   LOC ="AN2"| IOSTANDARD = "LVTTL";
  NET  FS_PB<16>   LOC ="AK13"| IOSTANDARD = "LVTTL";
  NET  FS_PB<17>   LOC ="AL13"| IOSTANDARD = "LVTTL";
  NET  FS_PC<0>    LOC ="AL6"| IOSTANDARD = "LVTTL";
  NET  FS_PC<1>    LOC ="AK6"| IOSTANDARD = "LVTTL";
  NET  FS_PC<2>    LOC ="AL8"| IOSTANDARD = "LVTTL";
  NET  FS_PC<3>    LOC ="AK8"| IOSTANDARD = "LVTTL";
  NET  FS_PC<4>    LOC ="AH8"| IOSTANDARD = "LVTTL";
  NET  FS_PC<5>    LOC ="AH7"| IOSTANDARD = "LVTTL";
  NET  FS_PC<6>    LOC ="AM13"| IOSTANDARD = "LVTTL";
  NET  FS_PC<7>    LOC ="AN13"| IOSTANDARD = "LVTTL";
  NET  FS_PC<8>    LOC ="AM6"| IOSTANDARD = "LVTTL";
  NET  FS_PC<9>    LOC ="AM5"| IOSTANDARD = "LVTTL";
  NET  FS_PC<10>   LOC ="AJ10"| IOSTANDARD = "LVTTL";
  NET  FS_PC<11>   LOC ="AJ9"| IOSTANDARD = "LVTTL";
  NET  FS_PC<12>   LOC ="AP5"| IOSTANDARD = "LVTTL";
  NET  FS_PC<13>   LOC ="AN5"| IOSTANDARD = "LVTTL";
  NET  FS_PC<14>   LOC ="AP6"| IOSTANDARD = "LVTTL";
  NET  FS_PC<15>   LOC ="AP7"| IOSTANDARD = "LVTTL";
  NET  FS_PC<16>   LOC ="AM8"| IOSTANDARD = "LVTTL";
  NET  FS_PC<17>   LOC ="AN8"| IOSTANDARD = "LVTTL";

   NET  ONEWIRE       LOC ="AK17"| IOSTANDARD = "LVCMOS25";
   NET  ADO_TTL<0>	  LOC ="AL11"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<1>	  LOC ="AL10"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<2>	  LOC ="AE11"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<3>	  LOC ="AF11"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<4>	  LOC ="AM12"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<5>	  LOC ="AM11"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<6>	  LOC ="AL9"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<7>	  LOC ="AK9"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<8>	  LOC ="AP11"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<9>	  LOC ="AP10"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<10>	  LOC ="AH10"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<11>	  LOC ="AG10"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<12>	  LOC ="AN12"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<13>	  LOC ="AP12"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<14>	  LOC ="AP9"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<15>	  LOC ="AN9"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<16>	  LOC ="AH12"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<17>	  LOC ="AG11"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<18>	  LOC ="AN7"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<19>	  LOC ="AM7"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<20>	  LOC ="AN10"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<21>	  LOC ="AM10"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<22>	  LOC ="AF10"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<23>	  LOC ="AE9"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<24>	  LOC ="AJ12"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<25>	  LOC ="L33"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<26>	  LOC ="L34"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<27>	  LOC ="M32"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<28>	  LOC ="M33"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<29>	  LOC ="D5"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<30>	  LOC ="G7"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<31>	  LOC ="G6"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<32>	  LOC ="E14"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<33>	  LOC ="D14"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<34>	  LOC ="AL20"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<35>	  LOC ="AJ15"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<36>	  LOC ="AJ14"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<37>	  LOC ="AG20"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<38>	  LOC ="AH20"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<39>	  LOC ="AG15"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<40>	  LOC ="AH14"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<41>	  LOC ="AL16"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<42>	  LOC ="AK16"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<43>	  LOC ="C28"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<44>	  LOC ="L26"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<45>	  LOC ="B32"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<46>	  LOC ="B33"| IOSTANDARD = "LVTTL";
   NET  DBAD    LOC ="M28"| IOSTANDARD = "LVTTL";
   NET  DGOOD   LOC ="H34"| IOSTANDARD = "LVTTL";
   NET  DINT    LOC ="L31"| IOSTANDARD = "LVTTL";
   NET  DWAIT    LOC ="H33"| IOSTANDARD = "LVTTL";
   NET  ADO_LV_IN<0>   LOC ="AC9" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<1>   LOC ="AC8" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<2>   LOC ="AG3" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<3>   LOC ="AF3" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<4>   LOC ="AF6" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<5>   LOC ="AE6" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<6>   LOC ="AF5" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<7>   LOC ="AF4" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<8>   LOC ="AL1" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<9>   LOC ="AK1" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<10>    LOC ="AJ2" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<11>    LOC ="AJ1" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<12>    LOC ="AB6" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<13>    LOC ="AB5" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<14>    LOC ="AC3" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<15>    LOC ="AC2" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<16>    LOC ="Y11" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<17>    LOC ="AA11" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<18>    LOC ="AD2" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<19>    LOC ="AD1" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<20>    LOC ="Y14" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<21>    LOC ="AA13" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<22>    LOC ="AC5" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<23>    LOC ="AC4" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<24>    LOC ="AF1" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<25>    LOC ="AE1" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_IN<26>    LOC ="AE3" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<27>    LOC ="AE2" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<28>    LOC ="AD6" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<29>    LOC ="AD5" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<30>    LOC ="AC7" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<31>    LOC ="AB8" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<32>    LOC ="Y16" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<33>    LOC ="AA15" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<34>    LOC ="AE4" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<35>    LOC ="AD4" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<36>    LOC ="AH3" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<37>    LOC ="AH2" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<38>    LOC ="AG2" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<39>    LOC ="AG1" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<40>    LOC ="AK3" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<41>    LOC ="AK2" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<42>    LOC ="AF8" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<43>    LOC ="AE8" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<44>    LOC ="AH5" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<45>    LOC ="AH4" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<46>    LOC ="AB13" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<47>    LOC ="AB12" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<48>    LOC ="AM2" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<49>    LOC ="AM1" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<50>    LOC ="AG8" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<51>    LOC ="AG7" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<52>   LOC ="AM3" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<53>   LOC ="AL3" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<54>   LOC ="AK22" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<55>   LOC ="AK23" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<56>   LOC ="AL28" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
   NET  ADO_LV_OUT<57>   LOC ="AL29" | IOSTANDARD = "LVTTL" | SLEW = "FAST";
#    NET  ADO_LV<58>   LOC ="AP25";
#    NET  ADO_LV<59>   LOC ="AP26";
#    NET  ADO_LV<60>   LOC ="AJ27";
#    NET  ADO_LV<61>   LOC ="AH27";

#


NET "VIRT_CLK" TNM_NET = "VIRT_CLK";
TIMESPEC "TS_CLK" = PERIOD "VIRT_CLK" 10 ns HIGH 50 %;
# NET "TLK_CLK" TNM_NET = "TLK_CLK";
# TIMESPEC "TS_TLK_CLK" = PERIOD "TLK_CLK" 10 ns HIGH 50 %;
# NET "TLK_RX_CLK" TNM_NET = "TLK_RX_CLK";
# TIMESPEC "TS_TLK_RX_CLK" = PERIOD "TLK_RX_CLK" 10 ns HIGH 50 %;


# INST "TLK_TXD<*>" TNM = "TLK_TX";
# INST "TLK_TX_EN" TNM = "TLK_TX";
# INST "TLK_RXD<*>" TNM = "TLK_RX";
# INST "TLK_RX_DV" TNM = "TLK_RX";
# INST "TLK_RX_ER" TNM = "TLK_RX";
#
# TIMEGRP "TLK_TX" OFFSET = OUT 7 ns AFTER "TLK_CLK" HIGH;
# TIMEGRP "TLK_RX" OFFSET = IN 3.2 ns VALID 6 ns BEFORE "TLK_RX_CLK";


#INST "ADO_LV_IN<*>" TNM = "VIRT_CLK_IN";
#INST "ADO_LV_OUT<*>" TNM = "VIRT_CLK_OUT";
#TIMEGRP "VIRT_CLK_OUT" OFFSET = OUT 9 ns AFTER "VIRT_CLK" HIGH;
#TIMEGRP "VIRT_CLK_IN" OFFSET = IN 3.2 ns VALID 6 ns BEFORE "VIRT_CLK";